:root {
  --first: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236c66bc' transform='matrix(3.81 0 0 3.81 -.34 -.04)'%3E%3Cpath d='m12.99 8.47-9.04 5.22v-10.44z' transform='matrix(-.87 0 0 1.2 17.08 -1.73)'/%3E%3Cpath d='m3.32 2.11h1.55v12.59h-1.55z'/%3E%3C/g%3E%3C/svg%3E");
  --first_active: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fc1c66' transform='matrix(3.81 0 0 3.81 -.34 -.04)'%3E%3Cpath d='m12.99 8.47-9.04 5.22v-10.44z' transform='matrix(-.87 0 0 1.2 17.08 -1.73)'/%3E%3Cpath d='m3.32 2.11h1.55v12.59h-1.55z'/%3E%3C/g%3E%3C/svg%3E");
  --first_hover: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bf2295' transform='matrix(3.81 0 0 3.81 -.34 -.04)'%3E%3Cpath d='m12.99 8.47-9.04 5.22v-10.44z' transform='matrix(-.87 0 0 1.2 17.08 -1.73)'/%3E%3Cpath d='m3.32 2.11h1.55v12.59h-1.55z'/%3E%3C/g%3E%3C/svg%3E");
  --last: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236c66bc' transform='matrix(-3.81 0 0 3.81 64.34 -.04)'%3E%3Cpath d='m12.99 8.47-9.04 5.22v-10.44z' transform='matrix(-.87 0 0 1.2 17.08 -1.73)'/%3E%3Cpath d='m3.32 2.11h1.55v12.59h-1.55z'/%3E%3C/g%3E%3C/svg%3E");
  --last_active: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fc1c66' transform='matrix(-3.81 0 0 3.81 64.34 -.04)'%3E%3Cpath d='m12.99 8.47-9.04 5.22v-10.44z' transform='matrix(-.87 0 0 1.2 17.08 -1.73)'/%3E%3Cpath d='m3.32 2.11h1.55v12.59h-1.55z'/%3E%3C/g%3E%3C/svg%3E");
  --last_hover: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bf2295' transform='matrix(-3.81 0 0 3.81 64.34 -.04)'%3E%3Cpath d='m12.99 8.47-9.04 5.22v-10.44z' transform='matrix(-.87 0 0 1.2 17.08 -1.73)'/%3E%3Cpath d='m3.32 2.11h1.55v12.59h-1.55z'/%3E%3C/g%3E%3C/svg%3E");
  --next: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m46.96 32-29.92 24v-48z' fill='%236c66bc'/%3E%3C/svg%3E");
  --next_active: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m46.96 32-29.92 24v-48z' fill='%23fc1c66'/%3E%3C/svg%3E");
  --next_hover: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m46.96 32-29.92 24v-48z' fill='%23bf2295'/%3E%3C/svg%3E");
  --previous: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17.04 32 29.92 24v-48z' fill='%236c66bc'/%3E%3C/svg%3E");
  --previous_active: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17.04 32 29.92 24v-48z' fill='%23fc1c66'/%3E%3C/svg%3E");
  --previous_hover: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17.04 32 29.92 24v-48z' fill='%23bf2295'/%3E%3C/svg%3E");
  --dropdown: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5.29 17.93 26.71 28.14 26.71-28.14' fill='none' stroke='%236c66bc' stroke-linecap='round' stroke-linejoin='round' stroke-width='10'/%3E%3C/svg%3E");
  --dropdown_hover: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5.29 17.93 26.71 28.14 26.71-28.14' fill='none' stroke='%23bf2295' stroke-linecap='round' stroke-linejoin='round' stroke-width='10'/%3E%3C/svg%3E");
  --attach: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' stroke='%236c66bc' stroke-linejoin='round' stroke-width='2' d='M55.5 5a13.3 13.3 0 010 18.7L28.7 50.5a8.2 8.2 0 01-11.7 0 8.2 8.2 0 010-11.7l18.7-18.6c2.7-2.7 5.6.5 3 3L20.1 42a4 4 0 000 5.6 4 4 0 005.5 0l26.9-26.9A9 9 0 0039.8 8L13 34.8a14 14 0 000 19.7 14 14 0 0019.7 0L51.4 36c2.5-2.5 5.5.6 3 3L35.8 57.6A18.3 18.3 0 0110 31.8L36.8 5a13.3 13.3 0 0118.7 0z'/%3E%3C/svg%3E");
  --attach_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ee9' stroke='%23ee9' stroke-linejoin='round' stroke-width='2' d='M55.5 5a13.3 13.3 0 010 18.7L28.7 50.5a8.2 8.2 0 01-11.7 0 8.2 8.2 0 010-11.7l18.7-18.6c2.7-2.7 5.6.5 3 3L20.1 42a4 4 0 000 5.6 4 4 0 005.5 0l26.9-26.9A9 9 0 0039.8 8L13 34.8a14 14 0 000 19.7 14 14 0 0019.7 0L51.4 36c2.5-2.5 5.5.6 3 3L35.8 57.6A18.3 18.3 0 0110 31.8L36.8 5a13.3 13.3 0 0118.7 0z'/%3E%3C/svg%3E");
  --attach_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' stroke='%23bf2295' stroke-linejoin='round' stroke-width='2' d='M55.5 5a13.3 13.3 0 010 18.7L28.7 50.5a8.2 8.2 0 01-11.7 0 8.2 8.2 0 010-11.7l18.7-18.6c2.7-2.7 5.6.5 3 3L20.1 42a4 4 0 000 5.6 4 4 0 005.5 0l26.9-26.9A9 9 0 0039.8 8L13 34.8a14 14 0 000 19.7 14 14 0 0019.7 0L51.4 36c2.5-2.5 5.5.6 3 3L35.8 57.6A18.3 18.3 0 0110 31.8L36.8 5a13.3 13.3 0 0118.7 0z'/%3E%3C/svg%3E");
  --compose: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='none' stroke='%236c66bc' stroke-linecap='round' stroke-linejoin='round' stroke-width='5'%3E%3Cpath d='M61 50.3V13.7a2 2 45 00-2-2H5a2 2 135 00-2 2v36.6a2 2 45 002 2h54a2 2 135 002-2z'/%3E%3Cpath d='M4 13.7l24.8 21a5.1 5.1 0 006.4 0l24.9-21a1.1 1.1 69.9 00-.7-2H4.6a1.1 1.1 110.1 00-.7 2z'/%3E%3C/g%3E%3C/svg%3E");
  --compose_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='none' stroke='%23ee9' stroke-linecap='round' stroke-linejoin='round' stroke-width='5'%3E%3Cpath d='M61 50.3V13.7a2 2 45 00-2-2H5a2 2 135 00-2 2v36.6a2 2 45 002 2h54a2 2 135 002-2z'/%3E%3Cpath d='M4 13.7l24.8 21a5.1 5.1 0 006.4 0l24.9-21a1.1 1.1 69.9 00-.7-2H4.6a1.1 1.1 110.1 00-.7 2z'/%3E%3C/g%3E%3C/svg%3E");
  --compose_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='none' stroke='%23bf2295' stroke-linecap='round' stroke-linejoin='round' stroke-width='5'%3E%3Cpath d='M61 50.3V13.7a2 2 45 00-2-2H5a2 2 135 00-2 2v36.6a2 2 45 002 2h54a2 2 135 002-2z'/%3E%3Cpath d='M4 13.7l24.8 21a5.1 5.1 0 006.4 0l24.9-21a1.1 1.1 69.9 00-.7-2H4.6a1.1 1.1 110.1 00-.7 2z'/%3E%3C/g%3E%3C/svg%3E");
  --configure: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' stroke='%236c66bc' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M28.8 61l-5.3-8.6-9.7 2.4-4.6-4.6 2.4-9.7L3 35.2v-6.4l8.6-5.3-2.4-9.7 4.6-4.6 9.7 2.4L28.8 3h6.4l5.3 8.6 9.7-2.4 4.6 4.6-2.4 9.7 8.6 5.3v6.4l-8.6 5.3 2.4 9.7-4.6 4.6-9.7-2.4-5.3 8.6zm6.1-18.1A11.2 11.2 0 1029.1 21 11.2 11.2 0 0034.9 43'/%3E%3C/svg%3E");
  --configure_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ee9' stroke='%23ee9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M28.8 61l-5.3-8.6-9.7 2.4-4.6-4.6 2.4-9.7L3 35.2v-6.4l8.6-5.3-2.4-9.7 4.6-4.6 9.7 2.4L28.8 3h6.4l5.3 8.6 9.7-2.4 4.6 4.6-2.4 9.7 8.6 5.3v6.4l-8.6 5.3 2.4 9.7-4.6 4.6-9.7-2.4-5.3 8.6zm6.1-18.1A11.2 11.2 0 1029.1 21 11.2 11.2 0 0034.9 43'/%3E%3C/svg%3E");
  --configure_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' stroke='%23bf2295' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M28.8 61l-5.3-8.6-9.7 2.4-4.6-4.6 2.4-9.7L3 35.2v-6.4l8.6-5.3-2.4-9.7 4.6-4.6 9.7 2.4L28.8 3h6.4l5.3 8.6 9.7-2.4 4.6 4.6-2.4 9.7 8.6 5.3v6.4l-8.6 5.3 2.4 9.7-4.6 4.6-9.7-2.4-5.3 8.6zm6.1-18.1A11.2 11.2 0 1029.1 21 11.2 11.2 0 0034.9 43'/%3E%3C/svg%3E");
  --delete: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' stroke='%236c66bc' stroke-width='3' d='M49.7 9H42V7c0-2.5-2.1-4.5-4.7-4.5h-11c-2.6 0-4.7 2-4.7 4.6v1.8h-7.6a4.8 4.8 0 00-4.7 4.8v4.9c0 1 .8 1.9 1.9 1.9h1v39c0 1 .8 1.9 1.9 1.9h35.4c1 0 2-.9 2-2V20.6h1c1 0 1.8-.8 1.8-1.9v-5c0-2.6-2.1-4.7-4.8-4.7z'/%3E%3Cg stroke-width='1.9'%3E%3Cpath d='M26.4 6.3c-.4 0-.8.3-.8.8V9h12.8V7.1c0-.5-.4-.8-.9-.8zm-12.2 6.4a1 1 0 00-1 1v3h37.6v-3c0-.5-.5-1-1-1zm2 7.8v37.2h31.7V20.5z'/%3E%3Cg fill='%236c66bc' stroke='%236c66bc'%3E%3Cpath d='M25.2 55.3c.7 0 1.3-.5 1.3-1.2V24c0-.8-.6-1.3-1.3-1.3-.7 0-1.2.6-1.2 1.2v30c0 .8.5 1.3 1.2 1.3zM38.9 55.3c.7 0 1.2-.5 1.2-1.2V24c0-.8-.5-1.3-1.2-1.3s-1.3.6-1.3 1.2v30c0 .8.6 1.3 1.3 1.3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --delete_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ee9' stroke='%23ee9' stroke-width='3' d='M49.7 9H42V7c0-2.5-2.1-4.5-4.7-4.5h-11c-2.6 0-4.7 2-4.7 4.6v1.8h-7.6a4.8 4.8 0 00-4.7 4.8v4.9c0 1 .8 1.9 1.9 1.9h1v39c0 1 .8 1.9 1.9 1.9h35.4c1 0 2-.9 2-2V20.6h1c1 0 1.8-.8 1.8-1.9v-5c0-2.6-2.1-4.7-4.8-4.7z'/%3E%3Cg fill='%23bf2295' stroke-width='1.9'%3E%3Cpath d='M26.4 6.3c-.4 0-.8.3-.8.8V9h12.8V7.1c0-.5-.4-.8-.9-.8zm-12.2 6.4a1 1 0 00-1 1v3h37.6v-3c0-.5-.5-1-1-1zm2 7.8v37.2h31.7V20.5z'/%3E%3Cg fill='%23ee9' stroke='%23ee9'%3E%3Cpath d='M25.2 55.3c.7 0 1.3-.5 1.3-1.2V24c0-.8-.6-1.3-1.3-1.3-.7 0-1.2.6-1.2 1.2v30c0 .8.5 1.3 1.2 1.3zM38.9 55.3c.7 0 1.2-.5 1.2-1.2V24c0-.8-.5-1.3-1.2-1.3s-1.3.6-1.3 1.2v30c0 .8.6 1.3 1.3 1.3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --delete_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' stroke='%23bf2295' stroke-width='3' d='M49.7 9H42V7c0-2.5-2.1-4.5-4.7-4.5h-11c-2.6 0-4.7 2-4.7 4.6v1.8h-7.6a4.8 4.8 0 00-4.7 4.8v4.9c0 1 .8 1.9 1.9 1.9h1v39c0 1 .8 1.9 1.9 1.9h35.4c1 0 2-.9 2-2V20.6h1c1 0 1.8-.8 1.8-1.9v-5c0-2.6-2.1-4.7-4.8-4.7z'/%3E%3Cg stroke-width='1.9'%3E%3Cpath d='M26.4 6.3c-.4 0-.8.3-.8.8V9h12.8V7.1c0-.5-.4-.8-.9-.8zm-12.2 6.4a1 1 0 00-1 1v3h37.6v-3c0-.5-.5-1-1-1zm2 7.8v37.2h31.7V20.5z'/%3E%3Cg fill='%23bf2295' stroke='%23bf2295'%3E%3Cpath d='M25.2 55.3c.7 0 1.3-.5 1.3-1.2V24c0-.8-.6-1.3-1.3-1.3-.7 0-1.2.6-1.2 1.2v30c0 .8.5 1.3 1.2 1.3zM38.9 55.3c.7 0 1.2-.5 1.2-1.2V24c0-.8-.5-1.3-1.2-1.3s-1.3.6-1.3 1.2v30c0 .8.6 1.3 1.3 1.3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --first: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%236c66bc'%3E%3Cpath d='M21.7 32l30 24V8.2zM12.3 8h6v48h-6z'/%3E%3C/g%3E%3C/svg%3E");
  --first_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%23fc1c66'%3E%3Cpath d='M21.7 32l30 24V8.2zM12.3 8h6v48h-6z'/%3E%3C/g%3E%3C/svg%3E");
  --first_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%23bf2295'%3E%3Cpath d='M21.7 32l30 24V8.2zM12.3 8h6v48h-6z'/%3E%3C/g%3E%3C/svg%3E");
  --folder: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' d='M5.3 10.5h20.9c.4 0 .7.2 1 .4l5.3 5.3h26.2a1.3 1.3 0 011.3 1.3v34.6c0 .8-.6 1.4-1.3 1.4H5.3A1.3 1.3 0 014 52V12a1.3 1.3 0 011.3-1.4z'/%3E%3Cpath fill='%235b5' d='M6.7 16.2h22l-3-3h-19z'/%3E%3C/svg%3E");
  --folder_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ee9' d='M5.3 10.5h20.9c.4 0 .7.2 1 .4l5.3 5.3h26.2a1.3 1.3 0 011.3 1.3v34.6c0 .8-.6 1.4-1.3 1.4H5.3A1.3 1.3 0 014 52V12a1.3 1.3 0 011.3-1.4z'/%3E%3Cpath fill='%23bb7' d='M6.7 16.2h22l-3-3h-19z'/%3E%3C/svg%3E");
  --folder_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' d='M5.3 10.5h20.9c.4 0 .7.2 1 .4l5.3 5.3h26.2a1.3 1.3 0 011.3 1.3v34.6c0 .8-.6 1.4-1.3 1.4H5.3A1.3 1.3 0 014 52V12a1.3 1.3 0 011.3-1.4z'/%3E%3Cpath fill='%23d30' d='M6.7 16.2h22l-3-3h-19z'/%3E%3C/svg%3E");
  --forward: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath stroke='%236c66bc' stroke-width='4' d='M60.7 18C58.9 14 56 9.6 49.4 9a1.5 1.5 0 01-1.1-.7c-3.5-5.7-8.1-5.3-8.3-5.3h-.7l-.2.7c0 .2-1.6 5.3-7 5.3-7.6 0-10.7 4.5-12.7 8.8a15 15 0 001.1 14.2l1.6 3.2c0 6.8.7 13.6 5.5 18.2l2.5 2 2 1.4.3.2 1 .6 1.1.8c1.6 1.2 3.3 2.4 5.6 2.4s4-1.2 5.5-2.4l1.1-.8 1-.6.3-.2 2-1.4 2.5-2C57.3 48.9 58 42 58 35.3l1.6-3.1a15 15 0 001.1-14.3zM56 35c0 6.4-.6 13-4.9 17-.8.8-1.6 1.4-2.5 2a1.3 1.3 0 00-.3.3l-1.7 1.1-1 .7-1.2.8c-1.4 1-2.7 2-4.3 2s-3-1-4.4-2l-1.2-.8-1-.7c-1.5-1-3.2-2-4.5-3.4-4.5-4.3-4.9-11-4.9-16.9v-9c0-.7.2-1.4.4-2a4.3 4.3 0 014.1-2.6c.6 0 1.2.1 1.7.4 1.6.5 4.5 1.2 9.8 1.2s8.2-.7 9.7-1.2c2.4-1 5 0 5.8 2.2.3.6.4 1.3.4 2v9zm-6.9-15c-1.3.5-4 1-9 1s-7.7-.5-9-1c-3.4-1.2-7.1.2-8.4 3.3A7 7 0 0022 26v5a13 13 0 01-.9-12.2C23.8 13.3 27 11 32.1 11c5 0 7.7-3.6 8.6-6 1.2.2 3.7.9 5.8 4.4.6 1 1.6 1.6 2.7 1.6 4.5.4 7.3 2.6 9.7 7.7a13 13 0 01-.9 12V26a7 7 0 00-.5-2.7A6.5 6.5 0 0049 20z'/%3E%3Cpath fill='%236c66bc' stroke='%23000' stroke-width='3' d='M23.4 49H6a4.5 4.5 0 010-9h17.4l-5.8-5.8a4.5 4.5 0 116.4-6.4l13.5 13.5.3.4v.1l.2.2.1.2.2.2v.2l.1.2.1.2v.2l.1.2v.2l.1.3v1.7l-.1.2v.2l-.2.2v.2l-.1.2-.1.2-.2.2-.1.2-.1.2-.3.3L24 61.2a4.5 4.5 0 01-6.4 0 4.5 4.5 0 010-6.4z'/%3E%3C/svg%3E");
  --forward_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath stroke='%23ee9' stroke-width='4' d='M60.7 18C58.9 14 56 9.6 49.4 9a1.5 1.5 0 01-1.1-.7c-3.5-5.7-8.1-5.3-8.3-5.3h-.7l-.2.7c0 .2-1.6 5.3-7 5.3-7.6 0-10.7 4.5-12.7 8.8a15 15 0 001.1 14.2l1.6 3.2c0 6.8.7 13.6 5.5 18.2l2.5 2 2 1.4.3.2 1 .6 1.1.8c1.6 1.2 3.3 2.4 5.6 2.4s4-1.2 5.5-2.4l1.1-.8 1-.6.3-.2 2-1.4 2.5-2C57.3 48.9 58 42 58 35.3l1.6-3.1a15 15 0 001.1-14.3zM56 35c0 6.4-.6 13-4.9 17-.8.8-1.6 1.4-2.5 2a1.3 1.3 0 00-.3.3l-1.7 1.1-1 .7-1.2.8c-1.4 1-2.7 2-4.3 2s-3-1-4.4-2l-1.2-.8-1-.7c-1.5-1-3.2-2-4.5-3.4-4.5-4.3-4.9-11-4.9-16.9v-9c0-.7.2-1.4.4-2a4.3 4.3 0 014.1-2.6c.6 0 1.2.1 1.7.4 1.6.5 4.5 1.2 9.8 1.2s8.2-.7 9.7-1.2c2.4-1 5 0 5.8 2.2.3.6.4 1.3.4 2v9zm-6.9-15c-1.3.5-4 1-9 1s-7.7-.5-9-1c-3.4-1.2-7.1.2-8.4 3.3A7 7 0 0022 26v5a13 13 0 01-.9-12.2C23.8 13.3 27 11 32.1 11c5 0 7.7-3.6 8.6-6 1.2.2 3.7.9 5.8 4.4.6 1 1.6 1.6 2.7 1.6 4.5.4 7.3 2.6 9.7 7.7a13 13 0 01-.9 12V26a7 7 0 00-.5-2.7A6.5 6.5 0 0049 20z'/%3E%3Cpath fill='%23ee9' stroke='%23bf2295' stroke-width='3' d='M23.4 49H6a4.5 4.5 0 010-9h17.4l-5.8-5.8a4.5 4.5 0 116.4-6.4l13.5 13.5.3.4v.1l.2.2.1.2.2.2v.2l.1.2.1.2v.2l.1.2v.2l.1.3v1.7l-.1.2v.2l-.2.2v.2l-.1.2-.1.2-.2.2-.1.2-.1.2-.3.3L24 61.2a4.5 4.5 0 01-6.4 0 4.5 4.5 0 010-6.4z'/%3E%3C/svg%3E");
  --forward_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath stroke='%23bf2295' stroke-width='4' d='M60.7 18C58.9 14 56 9.6 49.4 9a1.5 1.5 0 01-1.1-.7c-3.5-5.7-8.1-5.3-8.3-5.3h-.7l-.2.7c0 .2-1.6 5.3-7 5.3-7.6 0-10.7 4.5-12.7 8.8a15 15 0 001.1 14.2l1.6 3.2c0 6.8.7 13.6 5.5 18.2l2.5 2 2 1.4.3.2 1 .6 1.1.8c1.6 1.2 3.3 2.4 5.6 2.4s4-1.2 5.5-2.4l1.1-.8 1-.6.3-.2 2-1.4 2.5-2C57.3 48.9 58 42 58 35.3l1.6-3.1a15 15 0 001.1-14.3zM56 35c0 6.4-.6 13-4.9 17-.8.8-1.6 1.4-2.5 2a1.3 1.3 0 00-.3.3l-1.7 1.1-1 .7-1.2.8c-1.4 1-2.7 2-4.3 2s-3-1-4.4-2l-1.2-.8-1-.7c-1.5-1-3.2-2-4.5-3.4-4.5-4.3-4.9-11-4.9-16.9v-9c0-.7.2-1.4.4-2a4.3 4.3 0 014.1-2.6c.6 0 1.2.1 1.7.4 1.6.5 4.5 1.2 9.8 1.2s8.2-.7 9.7-1.2c2.4-1 5 0 5.8 2.2.3.6.4 1.3.4 2v9zm-6.9-15c-1.3.5-4 1-9 1s-7.7-.5-9-1c-3.4-1.2-7.1.2-8.4 3.3A7 7 0 0022 26v5a13 13 0 01-.9-12.2C23.8 13.3 27 11 32.1 11c5 0 7.7-3.6 8.6-6 1.2.2 3.7.9 5.8 4.4.6 1 1.6 1.6 2.7 1.6 4.5.4 7.3 2.6 9.7 7.7a13 13 0 01-.9 12V26a7 7 0 00-.5-2.7A6.5 6.5 0 0049 20z'/%3E%3Cpath fill='%23bf2295' stroke='%23000' stroke-width='3' d='M23.4 49H6a4.5 4.5 0 010-9h17.4l-5.8-5.8a4.5 4.5 0 116.4-6.4l13.5 13.5.3.4v.1l.2.2.1.2.2.2v.2l.1.2.1.2v.2l.1.2v.2l.1.3v1.7l-.1.2v.2l-.2.2v.2l-.1.2-.1.2-.2.2-.1.2-.1.2-.3.3L24 61.2a4.5 4.5 0 01-6.4 0 4.5 4.5 0 010-6.4z'/%3E%3C/svg%3E");
  --last: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%236c66bc'%3E%3Cpath d='M42.3 32l-30 24V8.2zM51.7 8h-6v48h6z'/%3E%3C/g%3E%3C/svg%3E");
  --last_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%23fc1c66'%3E%3Cpath d='M42.3 32l-30 24V8.2zM51.7 8h-6v48h6z'/%3E%3C/g%3E%3C/svg%3E");
  --last_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%23bf2295'%3E%3Cpath d='M42.3 32l-30 24V8.2zM51.7 8h-6v48h6z'/%3E%3C/g%3E%3C/svg%3E");
  --login: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' d='M31.3 35H4.8a3 3 0 01-3-3 3 3 0 013-3h26.5l-3.9-3.8a3 3 0 014.3-4.2l9 9a3.5 3.5 0 01.2.2l.2.2v.1l.1.2.2.2v.4l.1.2V32.9l-.1.2-.1.2v.2H41v.2l-.1.1-.1.1-.2.3-9 9a3 3 0 01-4.2 0 3 3 0 010-4.3zM59 5.2H21a3 3 0 00-3 3V17a3 3 0 003 3 3 3 0 003-3v-5.9h32v42H24v-6a3 3 0 00-3-3 3 3 0 00-3 3v9a3 3 0 003 3h38a3 3 0 003-3V8a3 3 0 00-3-3z'/%3E%3C/svg%3E");
  --login_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ee9' d='M31.3 35H4.8a3 3 0 01-3-3 3 3 0 013-3h26.5l-3.9-3.8a3 3 0 014.3-4.2l9 9a3.5 3.5 0 01.2.2l.2.2v.1l.1.2.2.2v.4l.1.2V32.9l-.1.2-.1.2v.2H41v.2l-.1.1-.1.1-.2.3-9 9a3 3 0 01-4.2 0 3 3 0 010-4.3zM59 5.2H21a3 3 0 00-3 3V17a3 3 0 003 3 3 3 0 003-3v-5.9h32v42H24v-6a3 3 0 00-3-3 3 3 0 00-3 3v9a3 3 0 003 3h38a3 3 0 003-3V8a3 3 0 00-3-3z'/%3E%3C/svg%3E");
  --login_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' d='M31.3 35H4.8a3 3 0 01-3-3 3 3 0 013-3h26.5l-3.9-3.8a3 3 0 014.3-4.2l9 9a3.5 3.5 0 01.2.2l.2.2v.1l.1.2.2.2v.4l.1.2V32.9l-.1.2-.1.2v.2H41v.2l-.1.1-.1.1-.2.3-9 9a3 3 0 01-4.2 0 3 3 0 010-4.3zM59 5.2H21a3 3 0 00-3 3V17a3 3 0 003 3 3 3 0 003-3v-5.9h32v42H24v-6a3 3 0 00-3-3 3 3 0 00-3 3v9a3 3 0 003 3h38a3 3 0 003-3V8a3 3 0 00-3-3z'/%3E%3C/svg%3E");
  --logout: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' stroke='%236c66bc' stroke-width='.8999999999999999' d='M51.8 34.5H27.9a2.7 2.7 0 01-2.7-2.7A2.7 2.7 0 0128 29h23.9l-3.5-3.5a2.7 2.7 0 113.8-3.8l8.1 8a3.1 3.1 0 01.2.3s0 0 0 0l.2.2v.2l.2.1v.2s0 0 0 0v.2l.1.1V31.4l.1.1v.3h0a3.2 3.2 0 010 .4v.2l-.1.2v.1l-.1.1v.1l-.1.2s0 0 0 0l-.1.2-.1.1-.1.1-.2.2-8 8.1a2.7 2.7 0 01-3.9 0c-1-1-1-2.8 0-3.8zM6 7.5h34.2a2.7 2.7 0 012.7 2.7v8a2.7 2.7 0 01-2.7 2.7 2.7 2.7 0 01-2.7-2.7v-5.3H8.8v37.8h28.8v-5.3a2.7 2.7 0 012.7-2.7 2.7 2.7 0 012.7 2.7v8a2.7 2.7 0 01-2.7 2.7H6.1a2.7 2.7 0 01-2.7-2.7V10.2a2.7 2.7 0 012.7-2.7z'/%3E%3C/svg%3E");
  --logout_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ee9' stroke='%23ee9' stroke-width='.8999999999999999' d='M51.8 34.5H27.9a2.7 2.7 0 01-2.7-2.7A2.7 2.7 0 0128 29h23.9l-3.5-3.5a2.7 2.7 0 113.8-3.8l8.1 8a3.1 3.1 0 01.2.3s0 0 0 0l.2.2v.2l.2.1v.2s0 0 0 0v.2l.1.1V31.4l.1.1v.3h0a3.2 3.2 0 010 .4v.2l-.1.2v.1l-.1.1v.1l-.1.2s0 0 0 0l-.1.2-.1.1-.1.1-.2.2-8 8.1a2.7 2.7 0 01-3.9 0c-1-1-1-2.8 0-3.8zM6 7.5h34.2a2.7 2.7 0 012.7 2.7v8a2.7 2.7 0 01-2.7 2.7 2.7 2.7 0 01-2.7-2.7v-5.3H8.8v37.8h28.8v-5.3a2.7 2.7 0 012.7-2.7 2.7 2.7 0 012.7 2.7v8a2.7 2.7 0 01-2.7 2.7H6.1a2.7 2.7 0 01-2.7-2.7V10.2a2.7 2.7 0 012.7-2.7z'/%3E%3C/svg%3E");
  --logout_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' stroke='%23bf2295' stroke-width='.8999999999999999' d='M51.8 34.5H27.9a2.7 2.7 0 01-2.7-2.7A2.7 2.7 0 0128 29h23.9l-3.5-3.5a2.7 2.7 0 113.8-3.8l8.1 8a3.1 3.1 0 01.2.3s0 0 0 0l.2.2v.2l.2.1v.2s0 0 0 0v.2l.1.1V31.4l.1.1v.3h0a3.2 3.2 0 010 .4v.2l-.1.2v.1l-.1.1v.1l-.1.2s0 0 0 0l-.1.2-.1.1-.1.1-.2.2-8 8.1a2.7 2.7 0 01-3.9 0c-1-1-1-2.8 0-3.8zM6 7.5h34.2a2.7 2.7 0 012.7 2.7v8a2.7 2.7 0 01-2.7 2.7 2.7 2.7 0 01-2.7-2.7v-5.3H8.8v37.8h28.8v-5.3a2.7 2.7 0 012.7-2.7 2.7 2.7 0 012.7 2.7v8a2.7 2.7 0 01-2.7 2.7H6.1a2.7 2.7 0 01-2.7-2.7V10.2a2.7 2.7 0 012.7-2.7z'/%3E%3C/svg%3E");
  --next: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' d='M47 32L17 56V8z'/%3E%3C/svg%3E");
  --next_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23fc1c66' d='M47 32L17 56V8z'/%3E%3C/svg%3E");
  --next_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' d='M47 32L17 56V8z'/%3E%3C/svg%3E");
  --no: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' d='M12.5 4c-1 0-1.9.4-2.6 1l-4.8 5A3.7 3.7 0 005 15L22 32 5 49a3.7 3.7 0 000 5l4.9 5a3.7 3.7 0 005.1 0l17-17L49 59a3.7 3.7 0 005.1 0l5-5a3.7 3.7 0 000-5L42 32 59 15.1a3.6 3.6 0 000-5.2l-5-4.9a3.7 3.7 0 00-5 0L32 22l-17-17c-.7-.6-1.7-1-2.6-1z'/%3E%3C/svg%3E");
  --no_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ee9' d='M12.5 4c-1 0-1.9.4-2.6 1l-4.8 5A3.7 3.7 0 005 15L22 32 5 49a3.7 3.7 0 000 5l4.9 5a3.7 3.7 0 005.1 0l17-17L49 59a3.7 3.7 0 005.1 0l5-5a3.7 3.7 0 000-5L42 32 59 15.1a3.6 3.6 0 000-5.2l-5-4.9a3.7 3.7 0 00-5 0L32 22l-17-17c-.7-.6-1.7-1-2.6-1z'/%3E%3C/svg%3E");
  --no_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' d='M12.5 4c-1 0-1.9.4-2.6 1l-4.8 5A3.7 3.7 0 005 15L22 32 5 49a3.7 3.7 0 000 5l4.9 5a3.7 3.7 0 005.1 0l17-17L49 59a3.7 3.7 0 005.1 0l5-5a3.7 3.7 0 000-5L42 32 59 15.1a3.6 3.6 0 000-5.2l-5-4.9a3.7 3.7 0 00-5 0L32 22l-17-17c-.7-.6-1.7-1-2.6-1z'/%3E%3C/svg%3E");
  --offline: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%236c66bc' stroke-linecap='round' stroke-linejoin='round' stroke-width='5' d='M4.4 24.6l.3.2 19.8 17.9L29 39c.4-.4.9-.6 1.4-.8l1.8-.3c.6 0 1 0 1.6.3s1 .4 1.4.8l4.4 3.7 19.8-17.9h.6M4.7 58.5l24.2-19.4a5 5 0 016.2 0l24.2 19.4a1 1 0 01-.7 2H5.3a1 1 0 01-.6-2zM32 3.5c-1.1 0-2.4.3-3.3 1.1L4.4 21.4c-.2.1-.3.3-.3.4a2 2 0 00-.4 1.2v35.6c0 1 .8 2 2 2h52.7c1 0 2-1 2-2V23a2 2 0 00-.4-1.2 1 1 0 00-.4-.4L35.2 4.6a4.5 4.5 0 00-3-1.1z'/%3E%3C/svg%3E");
  --offline_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23ee9' stroke-linecap='round' stroke-linejoin='round' stroke-width='5' d='M4.4 24.6l.3.2 19.8 17.9L29 39c.4-.4.9-.6 1.4-.8l1.8-.3c.6 0 1 0 1.6.3s1 .4 1.4.8l4.4 3.7 19.8-17.9h.6M4.7 58.5l24.2-19.4a5 5 0 016.2 0l24.2 19.4a1 1 0 01-.7 2H5.3a1 1 0 01-.6-2zM32 3.5c-1.1 0-2.4.3-3.3 1.1L4.4 21.4c-.2.1-.3.3-.3.4a2 2 0 00-.4 1.2v35.6c0 1 .8 2 2 2h52.7c1 0 2-1 2-2V23a2 2 0 00-.4-1.2 1 1 0 00-.4-.4L35.2 4.6a4.5 4.5 0 00-3-1.1z'/%3E%3C/svg%3E");
  --offline_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23bf2295' stroke-linecap='round' stroke-linejoin='round' stroke-width='5' d='M4.4 24.6l.3.2 19.8 17.9L29 39c.4-.4.9-.6 1.4-.8l1.8-.3c.6 0 1 0 1.6.3s1 .4 1.4.8l4.4 3.7 19.8-17.9h.6M4.7 58.5l24.2-19.4a5 5 0 016.2 0l24.2 19.4a1 1 0 01-.7 2H5.3a1 1 0 01-.6-2zM32 3.5c-1.1 0-2.4.3-3.3 1.1L4.4 21.4c-.2.1-.3.3-.3.4a2 2 0 00-.4 1.2v35.6c0 1 .8 2 2 2h52.7c1 0 2-1 2-2V23a2 2 0 00-.4-1.2 1 1 0 00-.4-.4L35.2 4.6a4.5 4.5 0 00-3-1.1z'/%3E%3C/svg%3E");
  --previous: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' d='M17 32l30 24V8z'/%3E%3C/svg%3E");
  --previous_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23fc1c66' d='M17 32l30 24V8z'/%3E%3C/svg%3E");
  --previous_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' d='M17 32l30 24V8z'/%3E%3C/svg%3E");
  --refresh: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%236c66bc' stroke='%236c66bc'%3E%3Cpath d='M58 13.4v5.9a26.7 26.7 0 00-7.5-8.5 28.3 28.3 0 00-44.6 16 3.7 3.7 0 107.1 1.7 21.1 21.1 0 0120.4-16A20.8 20.8 0 0152 23.5h-4a3.7 3.7 0 000 7.4h13.7c2 0 3.6-1.7 3.6-3.7v-14a3.7 3.7 0 00-7.3 0zM5.2 57.1c2 0 3.6-1.6 3.6-3.7v-5.9a28.4 28.4 0 0024.6 14.3h0a28 28 0 0023.9-13C59 46 60.3 43 61 40a3.7 3.7 0 00-7.2-1.8 21.1 21.1 0 01-20.4 16.1 21 21 0 01-18.6-11.2H19a3.7 3.7 0 000-7.4H5.2c-2 0-3.7 1.7-3.7 3.7v14c0 2 1.6 3.6 3.7 3.6z' transform='matrix(.95566 0 0 .95558 0 0)'/%3E%3C/g%3E%3C/svg%3E");
  --refresh_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%23ee9' stroke='%23ee9'%3E%3Cpath d='M58 13.4v5.9a26.7 26.7 0 00-7.5-8.5 28.3 28.3 0 00-44.6 16 3.7 3.7 0 107.1 1.7 21.1 21.1 0 0120.4-16A20.8 20.8 0 0152 23.5h-4a3.7 3.7 0 000 7.4h13.7c2 0 3.6-1.7 3.6-3.7v-14a3.7 3.7 0 00-7.3 0zM5.2 57.1c2 0 3.6-1.6 3.6-3.7v-5.9a28.4 28.4 0 0024.6 14.3h0a28 28 0 0023.9-13C59 46 60.3 43 61 40a3.7 3.7 0 00-7.2-1.8 21.1 21.1 0 01-20.4 16.1 21 21 0 01-18.6-11.2H19a3.7 3.7 0 000-7.4H5.2c-2 0-3.7 1.7-3.7 3.7v14c0 2 1.6 3.6 3.7 3.6z' transform='matrix(.95566 0 0 .95558 0 0)'/%3E%3C/g%3E%3C/svg%3E");
  --refresh_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%23bf2295' stroke='%23bf2295'%3E%3Cpath d='M58 13.4v5.9a26.7 26.7 0 00-7.5-8.5 28.3 28.3 0 00-44.6 16 3.7 3.7 0 107.1 1.7 21.1 21.1 0 0120.4-16A20.8 20.8 0 0152 23.5h-4a3.7 3.7 0 000 7.4h13.7c2 0 3.6-1.7 3.6-3.7v-14a3.7 3.7 0 00-7.3 0zM5.2 57.1c2 0 3.6-1.6 3.6-3.7v-5.9a28.4 28.4 0 0024.6 14.3h0a28 28 0 0023.9-13C59 46 60.3 43 61 40a3.7 3.7 0 00-7.2-1.8 21.1 21.1 0 01-20.4 16.1 21 21 0 01-18.6-11.2H19a3.7 3.7 0 000-7.4H5.2c-2 0-3.7 1.7-3.7 3.7v14c0 2 1.6 3.6 3.7 3.6z' transform='matrix(.95566 0 0 .95558 0 0)'/%3E%3C/g%3E%3C/svg%3E");
  --reply: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' stroke-width='11' d='M47 36.7H5.7A4.7 4.7 0 011 32a4.7 4.7 0 014.7-4.7H47l-6-6a4.7 4.7 0 116.6-6.7l14 14a5.4 5.4 0 01.3.4l.2.2.1.2.1.2.2.2v.2l.1.2.1.2a2 2 0 01.1.5l.1.2v.4l.1.5V32.9l-.2.3v.4l-.2.2v.2l-.2.2v.2l-.2.2-.1.2-.2.2-.3.3-14 14a4.7 4.7 0 11-6.7-6.5z'/%3E%3C/svg%3E");
  --reply_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ee9' stroke-width='11' d='M47 36.7H5.7A4.7 4.7 0 011 32a4.7 4.7 0 014.7-4.7H47l-6-6a4.7 4.7 0 116.6-6.7l14 14a5.4 5.4 0 01.3.4l.2.2.1.2.1.2.2.2v.2l.1.2.1.2a2 2 0 01.1.5l.1.2v.4l.1.5V32.9l-.2.3v.4l-.2.2v.2l-.2.2v.2l-.2.2-.1.2-.2.2-.3.3-14 14a4.7 4.7 0 11-6.7-6.5z'/%3E%3C/svg%3E");
  --replyall: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%236c66bc' stroke-width='8.6'%3E%3Cpath d='M43.2 51.5H12.3A3.5 3.5 0 018.8 48a3.5 3.5 0 013.5-3.5h31L38.6 40a3.5 3.5 0 115-5l10.5 10.5a4 4 0 01.2.3v.1l.2.2v.1l.2.1v.2l.1.2v.1l.1.2v.1l.1.2V49l-.1.2v.1l-.1.2-.1.1-.1.2-.1.1-.1.2-.1.1-.2.3L43.7 61a3.5 3.5 0 01-5 0 3.5 3.5 0 010-5zM43.2 19.5H12.3A3.5 3.5 0 018.8 16a3.5 3.5 0 013.5-3.5h31L38.6 8a3.5 3.5 0 115-5l10.5 10.5a4 4 0 01.2.3v.1l.2.1v.2l.2.1v.2l.1.1v.2l.1.2v.1l.1.2V17l-.1.2v.1l-.2.2v.1l-.1.2-.1.1-.1.2-.1.1-.2.3L43.7 29a3.5 3.5 0 01-5 0 3.5 3.5 0 010-5z'/%3E%3C/g%3E%3C/svg%3E");
  --replyall_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%23ee9' stroke-width='8.6'%3E%3Cpath d='M43.2 51.5H12.3A3.5 3.5 0 018.8 48a3.5 3.5 0 013.5-3.5h31L38.6 40a3.5 3.5 0 115-5l10.5 10.5a4 4 0 01.2.3v.1l.2.2v.1l.2.1v.2l.1.2v.1l.1.2v.1l.1.2V49l-.1.2v.1l-.1.2-.1.1-.1.2-.1.1-.1.2-.1.1-.2.3L43.7 61a3.5 3.5 0 01-5 0 3.5 3.5 0 010-5zM43.2 19.5H12.3A3.5 3.5 0 018.8 16a3.5 3.5 0 013.5-3.5h31L38.6 8a3.5 3.5 0 115-5l10.5 10.5a4 4 0 01.2.3v.1l.2.1v.2l.2.1v.2l.1.1v.2l.1.2v.1l.1.2V17l-.1.2v.1l-.2.2v.1l-.1.2-.1.1-.1.2-.1.1-.2.3L43.7 29a3.5 3.5 0 01-5 0 3.5 3.5 0 010-5z'/%3E%3C/g%3E%3C/svg%3E");
  --replyall_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg fill='%23bf2295' stroke-width='8.6'%3E%3Cpath d='M43.2 51.5H12.3A3.5 3.5 0 018.8 48a3.5 3.5 0 013.5-3.5h31L38.6 40a3.5 3.5 0 115-5l10.5 10.5a4 4 0 01.2.3v.1l.2.2v.1l.2.1v.2l.1.2v.1l.1.2v.1l.1.2V49l-.1.2v.1l-.1.2-.1.1-.1.2-.1.1-.1.2-.1.1-.2.3L43.7 61a3.5 3.5 0 01-5 0 3.5 3.5 0 010-5zM43.2 19.5H12.3A3.5 3.5 0 018.8 16a3.5 3.5 0 013.5-3.5h31L38.6 8a3.5 3.5 0 115-5l10.5 10.5a4 4 0 01.2.3v.1l.2.1v.2l.2.1v.2l.1.1v.2l.1.2v.1l.1.2V17l-.1.2v.1l-.2.2v.1l-.1.2-.1.1-.1.2-.1.1-.2.3L43.7 29a3.5 3.5 0 01-5 0 3.5 3.5 0 010-5z'/%3E%3C/g%3E%3C/svg%3E");
  --reply_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' stroke-width='11' d='M47 36.7H5.7A4.7 4.7 0 011 32a4.7 4.7 0 014.7-4.7H47l-6-6a4.7 4.7 0 116.6-6.7l14 14a5.4 5.4 0 01.3.4l.2.2.1.2.1.2.2.2v.2l.1.2.1.2a2 2 0 01.1.5l.1.2v.4l.1.5V32.9l-.2.3v.4l-.2.2v.2l-.2.2v.2l-.2.2-.1.2-.2.2-.3.3-14 14a4.7 4.7 0 11-6.7-6.5z'/%3E%3C/svg%3E");
  --save: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%236c66bc' stroke-linecap='round' stroke-linejoin='round' stroke-width='6' d='M15.4 4.7h23.4v14.7H15.5zm31 0H5.3v54.6h53.6V21.7z'/%3E%3C/svg%3E");
  --save_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23ee9' stroke-linecap='round' stroke-linejoin='round' stroke-width='6' d='M15.4 4.7h23.4v14.7H15.5zm31 0H5.3v54.6h53.6V21.7z'/%3E%3C/svg%3E");
  --save_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23bf2295' stroke-linecap='round' stroke-linejoin='round' stroke-width='6' d='M15.4 4.7h23.4v14.7H15.5zm31 0H5.3v54.6h53.6V21.7z'/%3E%3C/svg%3E");
  --send: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%236c66bc' stroke='%236c66bc' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M59.2 13l-55 11.4c-.3.1-.6.4-.6.9 0 .4.1.7.5 1l15.7 8.2 15 9.1 11 7.1.4.2h.4c.2 0 .4-.3.5-.5l13.3-36v0-.3c0-.2 0-.4-.2-.5v-.1l-.6-.4zm-3.8 3L27 36 7.6 25.7zm1.9.7L45.5 48.2 28.7 37.3z'/%3E%3C/svg%3E");
  --send_active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ee9' stroke='%23ee9' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M59.2 13l-55 11.4c-.3.1-.6.4-.6.9 0 .4.1.7.5 1l15.7 8.2 15 9.1 11 7.1.4.2h.4c.2 0 .4-.3.5-.5l13.3-36v0-.3c0-.2 0-.4-.2-.5v-.1l-.6-.4zm-3.8 3L27 36 7.6 25.7zm1.9.7L45.5 48.2 28.7 37.3z'/%3E%3C/svg%3E");
  --send_hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23bf2295' stroke='%23bf2295' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M59.2 13l-55 11.4c-.3.1-.6.4-.6.9 0 .4.1.7.5 1l15.7 8.2 15 9.1 11 7.1.4.2h.4c.2 0 .4-.3.5-.5l13.3-36v0-.3c0-.2 0-.4-.2-.5v-.1l-.6-.4zm-3.8 3L27 36 7.6 25.7zm1.9.7L45.5 48.2 28.7 37.3z'/%3E%3C/svg%3E");
}