/* I2P+ Router Console: proxy error theme: Classic */
/* Author: dr|z3d */

@import url(global.css);

:root {
--err: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3ClinearGradient id='A' gradientUnits='userSpaceOnUse' x1='35.555' x2='35.555' y1='32.852' y2='19.692'%3E%3Cstop offset='0' stop-color='%23d40000'/%3E%3Cstop offset='1' stop-color='%23f55'/%3E%3C/linearGradient%3E%3Cpath d='M13.649 34.595l1.859 1.39 1.744.951 14.734-25.472 14.721 25.469 1.737-.947 1.865-1.396L34.353 6.986c-.488-.844-1.39-1.365-2.366-1.365s-1.878.52-2.366 1.364zm0 0L2.303 54.21c-.488.844-.489 1.883-.001 2.727a2.73 2.73 0 0 0 2.364 1.364h54.618a2.73 2.73 0 0 0 2.365-1.364c.488-.844.488-1.884 0-2.728L50.309 34.59l-1.865 1.396-1.737.947 9.875 17.084H7.371l9.881-17.08-1.744-.951-1.859-1.39z' stroke='%23000' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M32.013 5.653c-.975 0-1.877.52-2.365 1.364L2.341 54.251a2.73 2.73 0 0 0 2.362 4.092h54.593c2.101 0 3.415-2.274 2.364-4.093L34.377 7.019c-.487-.844-1.388-1.365-2.364-1.366z' fill='url(%23A)'/%3E%3Cpath d='M32.01 11.758l24.585 42.559H7.405L32.01 11.758z' fill='%23fff' stroke='red' stroke-linejoin='round'/%3E%3Cpath d='M29.233 23.607h5.533V39.76h-5.533zm0 20.452h5.533v6.158h-5.533z'/%3E%3C/svg%3E");
}

html, body {min-height: 100%}
html {margin: 0}
body {margin: 3px; padding: 0; text-align: left; background: #e2e2f3 url(images/bg0.png) scroll center center / 90px}
body::before {width: 0; height: 3px; display: inline-block; position: absolute; left: 0; top: 0; background: linear-gradient(180deg,rgba(255,255,255,.1) 50%, rgba(0,0,0,.3) 50%), linear-gradient(90deg, #d30, #f60); opacity: .7; content: ""}

/* Sidepanel for proxy errors */
.logo {margin: 0 0 0 20px; padding: 10px 5px 8px; width: 200px; float: left; position: relative; text-align: center; border: 5px solid #bbf; background: #eff1ff}
.logo img, #error500 #sidebar img {width: 182px; mix-blend-mode: luminosity}
.logo img:hover, #error500 #sidebar img:hover {mix-blend-mode: normal}
.logo hr {margin: 8px -5px 8px; height: 5px; color: #bbf; border: 0 solid #bbf; background: #bbf}
.logo a {padding: 4px 0; width: 100%; display: inline-block}
.logo a:nth-child(n+2):active {color: #f60; border-radius: 4px; box-shadow: inset 0 0 0 1px #fff, inset 3px 3px 3px #999}
.logo a:hover {color: #900}
.logo a:hover img {filter: drop-shadow(0 0 1px #f60)}

/* HTTP Proxy warning Main box */
.warning {margin: 25px 20px 0 260px; padding: 0 20px 40px; border: 5px solid #fb7; text-align: left; color: inherit; background: #ffd; box-shadow: inset 0 0 0 2px #f60; min-width: 500px; position: relative}
.jumplinks::after {content: ""; display: inline-block; width: 80px; height: 120px}
#proxyerror .warning {margin-left: 20px}
.warning a:link, .warning a:visited {color: #f60}
.warning a:hover, .warning a:focus, .warning a:visited:focus {color: #d30}
.warning a:active {color: #900}
.warning hr {color: #fb7; background: #fb7; height: 1px; border: 0 solid #fb7; margin: 5px 0}
#proxyNewAddressHelper .warning hr {display: none}
#warning_localhost {margin: 25px 20px; background-position: 20px calc(50% + 16px)}
#warning_localhost p {margin-bottom: 0; padding: 20px 10px 0; font-weight: 700}
#warning_localhost + .proxyfooter {margin-top: -65px}
.warning h3:first-child {margin: 2px -18px 10px -18px; padding: 10px 10px 8px 36px; font-size: 12pt; letter-spacing: .08em; text-transform: uppercase; border: none; border-bottom: 1px solid #fb7; word-spacing: .1em; background: #ffe var(--err) no-repeat 8px center / auto 60%}
.warning p {padding: 5px 0 0}
.warning > br + br {display: none}
.warning textarea {width: 100%; resize: none; white-space: pre-wrap; word-break: break-all; height: 100%; font-size: 8pt; border: none}
.warning button {margin-right: 0}
table {width: 100%}
.warning table {margin-bottom: 15px; font-size: 9pt; background: #fb7}
.warning tr {background: #ffe; border: 1px solid #fb7}
.warning table td:first-child {font-weight: 700}
.proxyfooter {display: none}
#proxyNewAddressHelper .warning {padding-bottom: 0}
#proxyNewHost {margin-bottom: 15px}
#proxyNewHost td {padding: 8px}
#proxyNewHost td:first-child {font-weight: 700}
#b64, #key {white-space: pre-wrap; word-break: break-all; text-align: justify; font-family: Droid Sans Mono, Noto Mono, DejaVu Sans Mono, Lucida Console, monospace; font-size: 90%; user-select: all}
#key {margin: 20px 0 25px; padding: 10px 14px; border: 1px solid #fb7; background: #ffe}
#proxyNewHost textarea:focus {filter: none}
#proxyNewHost + hr {display: none}
.warning h4 {box-shadow: none; text-align: left; font-size: 10pt; margin: 0 -18px -5px; background: #ffe; border: 1px solid #fb7; border-left: none; border-right: none; padding: 8px 10px}
#proxyNewHost a {display: inline-block; word-break: break-all}
.formaction {margin: 0; padding: 8px 5px; text-align: right}
.warning p + .formaction {margin: -5px -5px 10px 0; padding: 0}
button[type=submit] {margin: 3px 8px 3px 0; padding: 6px 8px; text-decoration: none; font: 9pt Droid Sans, Ubuntu, Noto Sans, Segoe UI, Lucida Grande, Verdana, Helvetica, sans-serif; color: #5e626e; border: 1px solid #bfc3d9; border-radius: 2px; box-shadow: inset 0 0 0 1px #fff, 0 0 1px #ddd; background: #eee; background: linear-gradient(180deg,#fff, #f4f5ff); cursor: pointer}
button[type=submit]:hover, button[type=submit]:focus {color: #41444d; border: 1px solid #bfc3d9; box-shadow: inset 0 0 0 1px #fff, 0 0 1px #89f; background: #ddd; background: linear-gradient(180deg,#ddd, #fff)}
button[type=submit]:active {color: #555; border: 1px solid #999; box-shadow: inset 0 0 0 1px #fff, inset 3px 3px 3px 1px #555; background-color: #ddd; background-blend-mode: luminosity}

/* jump links */
#jumplinks {margin-bottom: 50px}
#jumplinks h3 {border: 0; border-top: 1px solid #fb7; border-bottom: 1px solid #fb7; padding-bottom: 10px; background: #ffe; padding-left: 15px; font-size: 10.5pt; margin-top: 20px}
#jumplinks h4 {margin: 15px -18px 20px}
#jumplinks br {display: none}
#jumplinks a:first-of-type {margin-left: 19px}
#jumplinks a {margin: 3px 2px 3px 5px; padding: 9px 12px 9px 34px; float: left; border: 1px solid var(--hover); background: url(../images/arrow_right.svg) no-repeat 10px center / 20px, var(--badge); animation: fade .5s ease 3s both}
#jumplinks #linuxfarm {background: url(../images/linuxfarm.svg) no-repeat 10px center / 20px, var(--badge) !important}
#jumplinks #notbob {background: url(../images/notbob.png) no-repeat 10px center / 20px, var(--badge)}
#jumplinks #reg {background: url(../images/reg.svg) no-repeat 10px center / 20px, var(--badge)}
#jumplinks #stats {background: url(../images/stats.svg) no-repeat 10px center / 20px, var(--badge)}
#proxy_error #jumplinks a:hover, #proxy_error #jumplinks a:focus {box-shadow: var(--badge_shadow_hover); background: url(../images/arrow_right.svg) no-repeat 10px center / 20px, var(--badge) !important}
#proxy_error #jumplinks a:active {padding: 10px 11px 8px 35px; box-shadow: var(--btn_shadow_active); background: url(../images/arrow_right.svg) no-repeat 12px calc(50% + 1px) / 19px, var(--badge) !important; background-blend-mode: luminosity}

/* console error messages */
.sorry {margin: -1px 0 0 211px; padding: 20px 20px 20px 75px; min-width: 475px; word-wrap: break-word; text-align: justify; font-weight: 700; border: 1px solid var(--border); box-shadow: var(--highlight), inset 0 0 1px 1px #900; background: var(--bg) var(--err) no-repeat 20px 40% / 36px}
#error500 .sorry {box-shadow: inset 0 0 0 1px #f99}
.sorry hr {margin: 10px 0; height: 1px; background: #900; opacity: .2}
.sorry p {padding: 0}
#warning2 {margin-top: -1px; padding: 0 15px 5px; min-width: 540px; font-weight: 400; color: var(--ink); box-shadow: inset 0 0 0 1px #f99; background: linear-gradient(180deg,rgba(255, 255, 255, .8), rgba(255, 255, 255, .6)) repeat scroll 0 0 / 100%, url(images/bg0.png) repeat scroll 0 0 / 120px}
#error500 #warning2 {margin-top: 0; padding-top: 6px}
#warning2 h3 {margin: -1px -16px 15px; padding: 8px 10px; color: var(--ink); box-shadow: inset 0 0 0 1px #f99}
#warning2 b {margin-right: 3px; min-width: 140px; display: inline-block; text-align: right}
#warning2 p {margin-left: 10px; margin-right: 10px}

@keyframes loader {from {width: 0} 99% {width: 100%} 100% {width: 0}}

@media screen and (max-width: 1000px) {
.logo {float: none; position: absolute; top: 10px; margin: 0 5px; display: block; background-size: 200px auto; min-width: 530px; width: calc(100% - 36px)}
.warning {margin: 140px 5px 0}
#proxyerror .warning {margin-top: 10px; padding-bottom: 10px}
.warning h3:first-child {font-size: 11pt}
.logo a:nth-child(n+2) {width: 25%; white-space: nowrap; font-size: 10pt}
}
@media screen and (min-width: 1500px) {
body, p, td, button, input, select {font-size: 10pt}
#warning {margin-left: 252px}
#error500 #sidebar img[src$="i2plogo.png"] {margin: -2px 0 -5px -2px; width: 232px}
#servletError.iframed .logo {display: none}
#error500 .sorry {margin-left: 252px}
#servletError #warning2.sorry, #servletError #warning.warning {margin-right: 20px}
#servletError #warning.warning {margin-bottom: 15px}
#servletError.iframed #warning.warning {margin: 0 0 5px}
}