/* I2P+ Classic theme wizard specifics */
/* Author: dr|z3d, 2022 */

#wizardpage #sidebar #sb_logo {height: 44px !important}

#wizardpage .yes, #wizardpage .no {
  width: 20px;
  height: 20px;
  display: inline-block;
  font-size: 0;
}

#wizardpage .yes {
  background: var(--yes) no-repeat center center;
}

#wizardpage .no {
  background: var(--no) no-repeat center center;
}

#langsettings {
  margin-bottom: -1px;
  padding: 6px 8px 5px;
}

#langsettings label {
  display: inline-block;
}

.langselect {
  margin: 3px 2px 4px;
  float: none;
}

.optionsave {
  border: 1px solid var(--border);
  background: none;
}

#flags.infohelp {
  margin-top: 0;
}

#bandwidth ~ p {
  margin-top: 0;
  margin-bottom: 0;
  border-left: var(--border);
  border-right: var(--border);
}

#bandwidth + h3 + p {
  margin-top: -11px;
  padding-top: 12px;
}

#bandwidth + h3 + p + p + p {
  padding-bottom: 12px;
}

#bandwidth.infohelp {
  margin-top: 0;
}

#bandwidth ~ .wizardbuttons {
  margin-bottom: 10px;
}

#messages + form > #bandwidth.infohelp {
  margin-top: 14px;
}

#bandwidthTestRunning {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 22px);
  text-align: center;
  font-style: italic;
  font-weight: 700;
}