/* I2P+ Light theme wizard specifics */
/* Author: dr|z3d, 2022 */

#wizardpage #sidebar div[style="height: 36px"] {
  margin-top: 4px;
  margin-bottom: 13px;
}

#wizardpage #sidebar div {
  margin-bottom: 5px;
}

#wizardpage #sidebar div + hr, #wizardpage #sidebar h3 + hr {
  display: none;
}

#wizardpage #sidebar h3 {
  margin-top: 10px;
  padding: 5px 3px;
}

#wizardpage .yes, #wizardpage .no {
  font-size: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
}

#wizardpage .yes {
  background: var(--yes) no-repeat center center / 11px;
}

#wizardpage .no {
  background: var(--no) no-repeat center center / 10px;
}

#wizardpage #bandwidth ~ p {
  margin: -20px 0;
  padding: 15px;
  border-left: 1px solid var(--border_inner);
  border-right: 1px solid var(--border_inner);
}

#wizardpage #bandwidth ~ p a {
  line-height: 2;
}

#wizardpage #bandwidth ~ p a::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 16px;
  vertical-align: middle;
  background: var(--link) no-repeat left center / 12px;
}

#wizardpage #bandwidth ~ p:last-of-type {
  padding-bottom: 30px;
}

#wizardpage #bandwidth + h3 {
  border-left-width: 1px;
}

#wizardpage .wizardbuttons {
  margin-bottom: -8px;
}

#bandwidthTestRunning {
  margin: 10px 0 15px;
  padding: 10px;
  width: calc(100% - 22px);
  text-align: center;
  font-style: italic;
  font-weight: 700;
}

#setupwizard #langsettings {
  padding-bottom: 4px;
}

#setupwizard .langselect {
  float: none;
}

#setupwizard .configtable {
  margin-top: -1px;
}

#wizardpage #bandwidthconfig + .wizardbuttons {
  margin-top: -6px;
}