.rowOdd, .rowEven, .peerinfo, .debuginfo {
    display: none;
}

.seeding, #snarkFoot tr {
  display: table-row;
}

#torrents tfoot tr:first-child th {
  border-top: var(--border_filtered) !important;
}