<div lang="en">

<ul class="links">

<li><b>Starting Up</b><br>
If you've just started I2P+, the number of <i>Active Peers</i> indicated under the <i>Peers</i> section on the sidebar should start to grow over the next few minutes, and you'll also see a <i>Local Destination</i> named <i>Shared Clients</i> listed under the <i>Service Tunnels</i> section, and possibly other clients and servers depending on how I2P is configured. These <i>Local Destinations</i> provide connections to services on different <a href="/help/faq#portfaq" title="List of commonly used ports" class="consolelink">ports</a> to the I2P network, enabling BitTorrent, e-mail, the web proxy and other services to function. Your <a href="/netdb" class="consolelink">Network Database</a> indicates all locally known peers on the network. You can also monitor existing <a href="/peers" class="consolelink">peer connections</a>, review <a href="/profiles?f=1" class="consolelink">peer performance profiles</a>, and view active <a href="/tunnels" class="consolelink">tunnels</a> and their status.</li>

<li><b>Network Integration</b><br>
The first time you start I2P+ it may take a few minutes to bootstrap (integrate) you into the network and find additional peers to optimize your integration, so please be patient. Once green stars are indicated next to your <i>Local Destinations</i> under <i>Service Tunnels</i> on the sidebar, there is a variety of things you can do with I2P, and below we introduce you to some of them.</li>

<li><b>Network Status</b><br>
Once I2P+ has had time to test your network connectivity, the Network Status indicator on the sidebar will ideally indicate "OK". If the status indicates "Firewalled", I2P+ will still function although network performance will not be optimal, and your ability to contribute bandwidth to the network will be impeded. For optimal performance, please consider opening your <a href="/confignet#udpconfig" class="consolelink">external I2P+ port</a> on your firewall and ISP provided router. More information on the status messages is available on the <a href="/help/ui#reachabilityhelp" class="consolelink">User Interface help page</a>.</li>

<li><b>Addressbook Subscriptions</b><br>
In order for I2P+ to be able to resolve .i2p hostnames automatically, it relies primarily on subscriptions to services that provide DNS translation for known hosts. If you installed I2P+ instead of upgrading from I2P, you will already have sufficient <a href="/susidns/subscriptions" class="consolelink">addressbook subscriptions</a> configured; after installation, your <a href="/dns" class="consolelink">addressbook</a> should populate with hostnames for active services on the network without intervention. If you've upgraded from I2P, check the <a href="/help/faq#addressbooksubs" class="consolelink">addressbook subscription section</a> in the <a href="/help/faq" class="consolelink">FAQ</a> for help adding additional subscriptions.
</li>

<li><b>Browser Configuration</b><br>
To browse websites on the network, you will need to configure your browser to use the default HTTP proxy configured on port 4444, which also provides an <i>outproxy</i> which permits anonymous browsing of clearnet sites. A <a href="/help/configuration#browserconfig" class="consolelink">mini-guide to configuring Firefox</a> is provided on the Configuration page in the help section, or refer to the section below for a link to the multi-browser setup guide. Once you have configured your browser and addressbook subscriptions, <a href="http://notbob.i2p/" target="_blank">notbob.i2p</a> is a great site for discovering content on the network.
</li>

</ul>

<h3>Services on I2P</h3>

<ul class="links twocol">

<li><b>Invisible Internet &amp; Public Web Browsing</b><br>
On I2P you can access I2P-hosted websites ("eepsites") or browse the normal web anonymously via I2P's built-in web proxy (outproxy). <a href="https://geti2p.net/en/about/browser-config" class="sitelink external" target="_blank" rel="noreferrer">Configure your browser</a> to use the HTTP proxy at <code>127.0.0.1 port 4444</code>, then browse to a hidden service website or a normal, unencrypted <code>http://</code> address. To disable or change outproxy access to the normal internet, remove or modify the outproxy entry for <code>false.i2p</code> or <code>purokishi.i2p</code> under the <i>Outproxies</i> section on the <a href="/i2ptunnel/edit?tunnel=0" target="_blank" rel="noreferrer" class="consolelink">edit page</a> of the HTTP Proxy client tunnel in the <a href="/i2ptunnelmgr" class="consolelink">Tunnel Manager</a>. If you have upgraded to I2P+ from I2P, you may wish to replace <code>false.i2p</code> with <code>purokishi.i2p</code> for a more robust, performant, ad-blocking service.</li>

<li><b>Anonymous E-Mail</b><br>
Postman's I2P-based mail system can be accessed either via <a href="/webmail" class="consolelink">I2P's built-in mail client</a> (Susimail) or any standard mail client. A mail gateway allows mail to be received from normal internet addresses; your <code>@mail.i2p</code> address is also contactable via <code>@i2pmail.org</code>. For an account, visit <a href="http://hq.postman.i2p/" class="sitelink" target="_blank" rel="noreferrer">hq.postman.i2p</a>.</li>

<li><b>Anonymous File Transfer</b><br>
<a href="/torrents" class="consolelink">I2PSnark</a> is integrated into I2P, providing anonymous, encrypted BitTorrent transfers. Alternatively, there's <a href="https://wiki.biglybt.com/w/I2P" class="sitelink external" target="_blank" rel="noreferrer">BiglyBT</a> (the successor to Azureus/Vuze), a BitTorrent client that supports torrenting over I2P, and <a href="https://github.com/majestrate/XD" class="sitelink external" target="_blank" rel="noreferrer">XD</a>, an I2P-only BitTorrent client written in go. Also available is <a href="http://muwire.i2p/" class="sitelink" target="_blank" rel="noreferrer">muWire</a>, a Limewire-inspired filesharing app coded in Java. Additional services include browser-based file hosting such as <a href="http://cake.i2p/" class="sitelink" target="_blank" rel="noreferrer">cake.i2p</a> and <a href="http://fs.i2p/" class="sitelink" target="_blank" rel="noreferrer">fs.i2p</a>.</li>

<li><b>Anonymous Chat</b><br>
Start your IRC client (e.g. <a href="https://hexchat.github.io/" class="sitelink external" target="_blank" rel="noreferrer">HexChat</a>, <a href="https://smuxi.im/" class="sitelink external" target="_blank" rel="noreferrer">Smuxi</a>, <a href="http://stats.i2p/i2p/plugins/" class="sitelink" target="_blank" rel="noreferrer">the I2P jIRCii plugin</a>) and connect to the <a href="irc://127.0.0.1:6668/i2p" class="chatlink">server</a> at <code>127.0.0.1 port 6668</code>. You don't need to configure a proxy in your IRC client; I2P provides you with a local IRC tunnel (configured in your IRC client as an IRC server or remote host). Once you're there, <code>#saltr</code>, and <code>#i2p-dev</code> are just a couple of the available channels you may wish to join. There's also a cross-platform I2P-based instant messenger application, available on <a href="https://vituperative.github.io/i2pchat/" class="sitelink external" target="_blank" rel="noreferrer">Github</a>.</li>

<li><b>Anonymous Encrypted Web Hosting</b><br>
I2P comes with a webserver for hosting your own website on the I2P network: a <a href="https://www.eclipse.org/jetty/" class="sitelink external" target="_blank" rel="noreferrer">Jetty</a> instance listening on <a href="http://127.0.0.1:7658/" class="consolelink" target="_blank" rel="noreferrer">http://127.0.0.1:7658/</a>. After starting the pre-configured <a href="/i2ptunnelmgr" class="consolelink" target="_blank" rel="noreferrer">I2P Webserver Tunnel</a>, your site will be visible (but not discoverable) to others. Instructions for setting up your site and registering an .i2p domain are provided in the <a href="http://127.0.0.1:7658/help/webhosting" class="consolelink">help section</a>.</li>

<li><a name="plugins"></a><b>Plugins for I2P</b><br>
Visit <a href="http://stats.i2p/i2p/plugins/" class="sitelink" target="_blank" rel="noreferrer">zzz's plugins page</a> for direct download links for several plugins. If you're a developer, a language-agnostic <a href="http://i2p-projekt.i2p/plugins.html" class="sitelink" target="_blank" rel="noreferrer">framework</a> for writing your own plugins is provided.</li>

</ul>

<h3 id="trouble">Information for Developers &amp; Contributors</h3>

<ul class="links">

<li><b>Reporting Bugs</b><br>
To report a bug, please file a ticket on <a href="http://git.idk.i2p/i2p-hackers/i2p.i2p/-/issues" class="sitelink" target="_blank" rel="noreferrer">git.idk.i2p</a>. For developer-related discussions, please visit <a href="http://zzz.i2p/" class="sitelink" target="_blank" rel="noreferrer">zzz's developer forums</a> or the <a href="irc://127.0.0.1:6668/i2p-dev" class="chatlink">developer channel</a> (#i2p-dev) on I2P's IRC network.</li>

<li><b>Developing on I2P</b><br>
If you're a developer you might consider writing your own <a href="http://i2p-projekt.i2p/applications.html" class="sitelink" target="_blank" rel="noreferrer">I2P applications</a> or enhancing the security of your application by leveraging the I2P network. Both <a href="https://wikipedia.org/wiki/User_Datagram_Protocol" class="sitelink external" target="_blank" rel="noreferrer">UDP</a> and <a href="https://wikipedia.org/wiki/Transmission_Control_Protocol" class="sitelink external" target="_blank" rel="noreferrer">TCP</a> protocols are <a href="http://i2p-projekt.i2p/techintro.html#op.transport" class="sitelink" target="_blank" rel="noreferrer">provisioned</a>, and <a href="http://i2p-projekt.i2p/streaming.html" class="sitelink" target="_blank" rel="noreferrer">realtime streaming</a> is also possible. We also provide full access to the <a href="http://javadoc.skank.i2p/" class="sitelink" target="_blank" rel="noreferrer">Java API</a>, and core I2P libraries are hosted on the <a href="https://mvnrepository.com/artifact/net.i2p" class="sitelink external" target="_blank" rel="noreferrer">Apache Maven repository</a>. Developers can browse the source at <a href="https://github.com/i2p/i2p.i2p" class="sitelink external" target="_blank" rel="noreferrer">Github</a> (I2P) or <a href="https://gitlab.com/i2pplus/I2P.Plus" class="sitelink external" target="_blank" rel="noreferrer">Gitlab</a> (I2P+), and monitor the current build status via the <a href="https://travis-ci.org/i2p/i2p.i2p" class="sitelink external" target="_blank" rel="noreferrer">Travis</a> continuous integration platform (I2P) or via <a href="https://gitlab.com/i2pplus/I2P.Plus/pipelines" class="sitelink external" target="_blank" rel="noreferrer">Gitlab</a> (I2P+). A <a href="https://wikipedia.org/wiki/Java_SDK" class="sitelink external" target="_blank" rel="noreferrer">Java SDK</a> and <a href="http://ant.apache.org/" class="sitelink external" target="_blank" rel="noreferrer">Apache Ant</a> are required to build from source.</li>

</ul>

<ul class="links twocol">

<li><b>Get Involved!</b><br>
I2P is developed and maintained mostly through unfunded, voluntary participation by community members. More information about how you can participate is available on <a href="http://i2p-projekt.i2p/getinvolved.html" class="sitelink" target="_blank" rel="noreferrer">the volunteers page</a> on the official website.</li>

<li><b>I2P+</b><br>
For more information about I2P+, please visit <a href="http://skank.i2p/" class="sitelink" target="_blank" rel="noreferrer">skank.i2p</a><!-- or <a href="https://i2pplus.com/" class="sitelink external" target="_blank" rel="noreferrer">i2pplus.com</a>,--> or join the channel <a href="irc://127.0.0.1:6668/saltR" class="chatlink">#saltR</a> on the I2P IRC network. Patches for I2P+ are welcome; please submit pull requests via <a href="https://gitlab.com/i2pplus/I2P.Plus/" class="sitelink external" target="_blank" rel="noreferrer">Gitlab</a>.</li>

</ul>

<div class="topness"><a href="#top">[Return to Top]</a></div>
<div class="footnote"><hr>Document updated: August 2020</div>
</div>
