/* SusiDNS "Light" theme by dr|z3d */
/* Codename "Corporat" */
/* #ovrvw, #bk, #cfg, #sbs to target pages (body ids) */

@import url(/themes/console/light/global.css);
@import url(../images/images.css);
@import url(images/images.css);
@import url(../lazyload.css);

:root {
--nav: linear-gradient(180deg,#fff 50%, #eef 50%, #ebebff);
}

body {margin: 0 5px; background: var(--bodybg) url(/themes/console/light/images/tile2.png) center center}
body.iframed {background: transparent; margin: 0; overflow: hidden}
a:active {color: #f30}
a, button, input[type=submit], input[type=reset], select, h3 {text-shadow: 0 1px 1px #fff}
a:hover, a:focus, a:active, select:hover, select:focus, select:active, input:hover, input:focus, input:active, button:hover, button:focus, button:active {text-shadow: none}
a:hover, a:focus {text-decoration: none; color: #f60}
a {outline: none; text-decoration:none; font-weight: 700; color: #3b6bbf; color: #4d5f80}
a:visited {color: #4d5f80}
b, td.search {color: #5b5b71}
code, tt, .destaddress {font-size: 8.5pt}
form {margin: 0; padding: 0}
h3, h4, th, #filter span, #paginate #current {color: #5b5b71}
h3 {margin-bottom: 0; letter-spacing: .08em; text-transform: uppercase; font-size: 11pt; font-weight: 700; box-shadow: var(--highlight)}
hr {display: none}
li {font-size: 9pt; list-style: square; line-height: 140%}
ol, ul {margin-left: -30px}
th {padding: 5px 10px; font-size: 70%; background: linear-gradient(180deg,#fcfcff 51%, #fafaff 51%, #f6f6ff 100%)}
td {padding: 5px 10px; font-size: 9pt; vertical-align: middle}
.optbox {margin: 3px 5px}
table {background: #fafaff}
#host_list .destaddress {user-select: all}
#navi, .buttons, #buttons, #host_list tr:first-child, #host_list img, #host_list td:nth-child(n+2) a {user-select: none}
#navi + hr {display: none}

/* navigation */
#navi {margin: -1px 0 0; padding: 5px 3px; position: sticky; z-index: 100; top: -1px; vertical-align: middle; text-align: center; font-weight: 700; font-size: 9pt; border: 1px solid #8d8daa; border-radius: 2px 2px 0 0; box-shadow: var(--highlight); background: linear-gradient(180deg,#fcfcff 51%, #fafaff 51%, #f6f6ff 100%)}
.iframed #navi {margin: -11px -11px 10px; padding: 7px 5px 6px; border-radius: 0; position: static}
#navi a, #navi a:visited {margin: 1px -4px; padding: 5px 7px 5px 23px; display: inline-block; position: relative; line-height: 120%; color: #3b6bbf; border: 1px solid #8d8daa; text-transform: capitalize; box-shadow: var(--highlight); background-size: 14px, 100%; filter: drop-shadow(0 0 1px rgba(220,220,255,.3))}
#navi a:hover, #navi a:focus {color: #f60; border: 1px solid #f60; transition: ease border .7s; z-index: 10}
#navi a:active {color: #5a5a6f; box-shadow: var(--highlight), inset 3px 3px 2px #999}
#navi .abook {background: var(--abook) no-repeat 6px center / 14px, var(--nav)}
#navi .abook:hover, #navi .abook:focus {background: var(--abook_hover) no-repeat 6px center / 14px, var(--nav)}
#navi .abook:active {background: var(--abook_active) no-repeat 6px center / 14px, var(--nav)}
#navi #subs {background: var(--subs) no-repeat 6px center / 14px, var(--nav)}
#navi #subs:hover, #navi #subs:focus {background: var(--subs_hover) no-repeat 6px center / 14px, var(--nav)}
#navi #subs:active {background: var(--subs_active) no-repeat 6px center / 14px, var(--nav)}
#navi #configlink {background: var(--configure) no-repeat 6px center / 14px, var(--nav)}
#navi #configlink:hover, #navi #configlink:focus {background: var(--configure_hover) no-repeat 6px center / 14px, var(--nav)}
#navi #configlink:active {background: var(--configure_active) no-repeat 6px center / 14px, var(--nav)}
#navi #overview {background: var(--overview) no-repeat 6px center / 14px, var(--nav)}
#navi #overview:hover, #navi #overview:focus {background: var(--overview_hover) no-repeat 6px center / 14px, var(--nav)}
#navi #overview:active {background: var(--overview_active) no-repeat 6px center / 14px, var(--nav)}

.headline {margin: -1px 0 -2px; padding: 8px 5px; border: 1px solid #8d8daa; background: linear-gradient(135deg, #fafaff, #f2f2ff)}
.iframed .headline {margin-top: 6px}
.headline h3 {font-size: 11.5pt; background: #fcfcff var(--addressbook) no-repeat 7px calc(50% + 2px) / 20px}
span.location {word-spacing: normal; letter-spacing: normal; text-transform: none; font-size: 9pt; font-weight: 400}
.headline h4 {margin: 5px -6px 0; padding: 8px 10px 0 33px; border-top: 1px solid #8d8daa; background: var(--files) no-repeat 9px 7px / 16px}
.storage {user-select: all; color: #050}
.storage::selection {background: #373}
.storage::-moz-selection {background: #373}
#subscriptions h3 {background: #fcfcff var(--subscription) no-repeat 6px center / 18px}
#subscriptions a {margin: 2px 2px 0 0; float: right; font-size: 80%}
#configure h3 {background: #fcfcff var(--config) no-repeat 7px calc(50% + 1px) / 18px}
#subscriptions h3, .headline#configure h3, .headline#addressbook h3, .headline h3 {margin: -8px -5px -6px; padding: 9px 5px 8px 30px}
#dtls .headline h3 {margin-bottom: 3px}

#add, div#import {margin-top: 4px; padding: 0 15px; border: 1px solid #8d8daa; background: #fafaff}
#add h3, #import h3 {margin: 0 -15px; padding: 5px 10px; border-bottom: 1px solid #8d8daa}
#add input[type=text], #import input[type="file"] {width: 100%}
#add {margin-top: -11px}
#add table, #import table {margin: 5px 0; width: 100%}
#add table td:first-child, #import table td:first-child {width: 100px; white-space: nowrap; text-align: right}
#add td, #import td {padding: 3px}
#content + #buttons {margin: -1px 0 10px; border: 1px solid #8d8daa; background: linear-gradient(180deg,#fafaff 50%, rgba(220,220,255,.3)), repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(221, 221, 255, .3) 3px, #fff 5px), #fff}
#content h3 {padding: 5px 8px 5px 34px; letter-spacing: 0; text-transform: none; border: 1px solid #8d8daa; border-radius: 2px; box-shadow: var(--highlight), 0 0 1px #ccc; background: var(--question) no-repeat 8px center, linear-gradient(180deg,#fcfcff 50%, rgba(255,255,255,.6) 50%, rgba(240,240,255,.4)), linear-gradient(135deg, #fcfcff 5%, rgba(231, 231, 255, .8) 15%); background-size: 20px, 100%, 100%; background-blend-mode: luminosity, normal, normal}
#content {margin: -1px 0 0; padding: 0 15px; border: 1px solid #8d8daa; background: #fafaff}
#content p {margin-left: 15px; margin-right: 15px; line-height: 130%; font-size: 110%}
div#add p.buttons, div#import p.buttons {margin: 0 -16px -6px; border: 1px solid #8d8daa; background: linear-gradient(180deg,#fff 50%, rgba(220,220,255,.3)), repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(221, 221, 255, .3) 3px, #fff 5px), #fff}
div.help h3, #add h3, #import h3 {margin: -1px -16px 0; padding: 5px 10px; border: 1px solid #8d8daa; background: linear-gradient(180deg,#fcfcff 50%, rgba(255,255,255,.6) 50%, rgba(240,240,255,.4)), linear-gradient(135deg, #fcfcff 5%, rgba(231, 231, 255, .8) 15%)}
div.help {margin: -11px 0 0; padding: 0 15px; border: 1px solid #8d8daa; background: linear-gradient(135deg, #fafaff, #f8f8ff)}
div#messages:empty {display: none}
div#messages:hover {background: #113 var(--no) no-repeat right 8px top 8px / 12px}
div#messages {margin: 0 3%; padding: 5px 20px; top: 0; left: 0; right: 0; position: fixed; z-index: 999; line-height: 150%; text-align: center; opacity: .9; border-radius: 0 0 4px 4px; box-shadow: 0 1px 2px rgba(100,100,200,.7); background: #113 var(--no) no-repeat right 8px top 8px / 12px; cursor: crosshair; animation: 2s hide-up 5s ease-out forwards}
form[action="subscriptions"] #content {margin-top: 1px}
#helpconfig ul {columns: 2 400px; column-gap: 50px}
#helpconfig ul li {-webkit-break-inside: avoid; break-inside: avoid; page-break-inside: avoid}
.help#helpsubs {padding: 0 15px 0 45px; font-size: 10pt; background: var(--infohelp) no-repeat 10px center / 26px, linear-gradient(135deg, #fafaff, #f8f8ff)}
.iframed #add {margin: 12px 0 10px}
.iframed #add p.buttons {margin-bottom: 0; border-bottom: none}
.iframed #content h3 {margin-top: 3px}
.iframed #content {padding: 0; overflow: hidden; border: none; background: none}
.iframed div.help {border-radius: 0 0 2px 2px}
.iframed div#messages {border: none}
.iframed #helpconfig, .iframed #helpsubs {margin-top: 10px; margin-bottom: 12px; border-radius: 0; box-shadow: var(--highlight)}
.iframed #import {margin: 0 0 18px}
input:focus::placeholder {opacity: 0}
input::placeholder {font-style: italic}
#messages p {font-size: 105%; color: #ff9; text-shadow: 0 1px 1px #000}
p, #helpconfig {text-align: justify; font-size: 9pt}
p#help {margin: 0; padding: 0}
p.messages {color: #fff; text-align: center; font-weight: 700}
span.addrhlpr {font-size: 9pt}

.book td {padding: 3px; border-top: 1px solid #ddf}
.book th {padding-left: 3px; text-align: left; font-size: 90%}
.book tr:first-child td, .book tr.head + .list1 td {border-top: none}
.book tr:hover td, #host_details tr:hover td {background: rgba(255,255,200,.4)}
.iframed #content textarea {margin: 0; border: 1px solid #8d8daa}
.iframed .page {margin: 1px; padding: 10px 10px 0; min-width: 520px; overflow: hidden; background-color: transparent}
.page {margin: -4px 0; padding: 10px 0; min-width: 700px; font-size: 9pt; border: none; border-radius: 2px}
table.book {width: 100%}
textarea[name="config"]:focus, textarea[name="content"]:focus {background: #fff}
textarea[name="config"], textarea[name="content"], #subsLog pre {margin: auto; padding: 3px 6px; width: 100%; border: 1px solid #8d8daa; border-radius: 0; box-shadow: none; background: #fafaff; filter: none}
textarea[name="destination"] {width: calc(100% + 10px)}
textarea, #subsLog pre {padding: 1px 3px; width: 100%; font-family: var(--monospaced); font-size: 9pt; color: #4f4f63; border-radius: 2px; border: var(--border_input); resize: none; scrollbar-color: #a7a7be rgba(255,255,255,.4); will-change: transform}
tr:hover .destaddress {color: #333}
#bk.iframed .page {padding-bottom: 18px}
#bk.iframed #published.page {padding-bottom: 3px}
#book .head {position: sticky; top: 92px; z-index: 999}
#bookmessages td:last-child {text-align: right}
#bookmessages {width: 100%; border: 1px solid #8d8daa}
#booksearch {padding: 2px 5px 0; vertical-align: middle}
#config + #buttons {margin: -2px 0 10px; border: 1px solid #8d8daa; background: linear-gradient(180deg,#fafaff 50%, rgba(220,220,255,.3)), repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(221, 221, 255, .3) 3px, #fff 5px), #fff}
#content textarea, #host_details textarea{margin: 0 0 0 -15px; width: 100%; border: none; box-shadow: none; resize: none; filter: none}

#filter, #search {margin-bottom: -1px; padding: 5px 15px; text-align: center; border: 1px solid #8d8daa; background: #fafaff}
#filter {margin: -2px 0 11px; padding: 6px; font-weight: 700; text-align: center}
#filter a, #filter a:visited, #activefilter {margin: 2px 1px; padding: 4px 8px; min-width: 10px; display: inline-block; text-align: center; text-transform: capitalize; color: #3b6bbf; border: 1px solid #8d8daa; border-radius: 2px; background: #fff; filter: drop-shadow(0 0 1px rgba(220,220,255,.7));}
#filter a:hover {color: #f60}
#filter a:active {text-decoration: none; color: #fff; box-shadow: var(--highlight), inset 3px 3px 3px #4f4f63; background: #f60}

#messages + p, .headline + p {margin: 1px 0 -1px; padding: 10px; border: 1px solid #8d8daa}
#ovrvw .page {margin: 0}
p#filtered {margin-bottom: 16px; padding: 15px 200px 18px 32px; box-shadow: var(--highlight), inset 0 0 2px 1px #ddf; background: var(--filter) no-repeat 8px center / 28px, repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(240, 240, 255, .5) 2px, #fff 4px), #fff}
#search {margin: 1px 0 -2px; padding-top: 4px; position: sticky; top: 40px; z-index: 999}
#subsLog pre {margin: 0 0 -5px; padding-left: 10px; width: calc(100% - 15px); line-height: 15px; white-space: pre-wrap; box-shadow: inset 0 0 0 1px #fafaff; background: url(/themes/snark/ubergine/images/hat.png) right 10px bottom -8px no-repeat, linear-gradient(90deg, #7e7fb9, #ccf 1px, #ccf 6px, #fafaff 6px); background-size: auto 160px, 100%}
#subsLog.iframed pre {margin-bottom: 10px}

/* host list */
#host_list, #host_details {border: 1px solid #8d8daa}
#host_list .names {width: 30%; white-space: nowrap; padding-left: 5px}
.names a, .b32link a {width: 100%; display: inline-block}
.names a[href$=".i2p/"] {max-width: 260px; overflow: hidden; text-overflow: ellipsis}
#host_list td, #host_details td {box-shadow: var(--highlight)}
#host_list td:nth-last-child(n+4), #host_details td:nth-last-child(n+4), #host_details td:first-child {border-right: 1px solid #ddf}
#host_list tr:hover td, #host_details tr:hover td {color: #4f4f63; box-shadow: inset 0 0 0 1px #ffe}
#host_list tr:nth-child(even), #host_details tr:nth-child(even) {background: linear-gradient(180deg,#fff, #eef)}
#host_list tr:nth-child(odd), #host_details tr:nth-child(odd) {background: linear-gradient(180deg,#fff, #eef)}
#host_list .checkbox {width: 1%; white-space: nowrap; font-weight: 700}
#host_list .b32link, #host_list .helper {padding: 0 5px; width: 8%; white-space: nowrap; text-align: center}
#host_list td.b32link a, #host_list td.helper a {font-size: 0}
#host_list td.b32link a::after, #host_list td.helper a::after {width: 16px; height: 16px; display: inline-block; background-size: 16px; content: ""; cursor: pointer}
#host_list td.b32link a::after {background: var(--link) no-repeat center center}
#host_list td.helper a::after {background: var(--helper) no-repeat center center}
#host_list .destaddress:focus {background: #ffd}
#host_list .destaddress {padding: 3px; overflow: auto; white-space: nowrap; font-family: var(--monospaced); font-weight: 400; color: #5a5a6f}
#host_list .destaddress {overflow: hidden; text-overflow: ellipsis}
#host_list .destaddress:focus {margin-bottom: -2px; padding: 1px 3px 3px; overflow: auto; text-overflow: clip; color: #4f4f63}
#host_list th.checkbox{width: 16px; background: var(--nuke) no-repeat center center / 14px, linear-gradient(180deg,#fcfcff 51%, #fafaff 51%, #f6f6ff 100%)}
td.destinations {padding: 0; max-width: 50px; border-left: 1px solid #ddf; border-right: 1px solid #ddf}
td.destinations textarea {height: 28px; box-shadow: none}
#host_list td:first-child a:last-of-type, #host_list td:nth-child(3) a, td:nth-child(4) a {padding: 4px 0}
#host_list td:first-child:hover, #host_list td:nth-child(2):hover, #host_list td:nth-child(3):hover, #host_list td:nth-child(4):hover, #host_list td:hover {background-color: rgba(256,96,0,.1)}

/* host details page */
#host_details td {padding: 6px 8px}
#host_details td:first-child {width: 10%; min-width: 10px; white-space: nowrap; text-align: right; font-weight: 700}
#host_details td:last-child {width: 90%; text-align: left; border-left: none; border-right: none}
#host_details .destaddress {white-space: normal; word-break: break-all; font-family: var(--monospaced)}
#host_details td:nth-child(2) b {margin: 0 4px 0 8px}
#lastMod:empty::after {content: "n/a"}
#hostNotes td:first-child {vertical-align: top}
#hostNotes td:last-child {padding: 0 0 1px; font-family: var(--bodyfont); background: linear-gradient(180deg,#fafaff 90px, rgba(220,220,255,.3)), repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(221, 221, 255, .3) 3px, #fff 5px) #fafaff}
#hostNotes:hover td {background: transparent}
#hostNotes:hover td:first-child, #hostNotes:hover textarea {background: #ffe}
#hostNotes td:last-child input[type=submit] {margin: 10px; float: right; display: none}
#hostNotes td:last-child textarea:focus + input[type=submit] {display: inline-block}
#hostNotes textarea {margin: 0; padding: 5px 8px; border: 1px solid transparent; border-left: none; border-right: none; border-radius: 0; background: #fafaff}
#hostNotes textarea:hover, #hostNotes textarea:focus {border: 1px solid #f60; border-right: none; border-left: none;; background: #fff}
#hostNotes textarea::placeholder {font-style: italic}
#hostNotes textarea:focus::placeholder {color: transparent}

/* identicon + qr image */
#visualid {margin-top: -1px; padding-top: 0; border: 1px solid #8d8daa; border-radius: 2px; background: #fafaff}
.iframed #visualid {margin-top: 9px; margin-bottom: -52px}
#visualid h3 {margin-top: 0; padding: 8px 10px 6px; border-bottom: 1px solid #8d8daa; box-shadow: var(--highlight); background: linear-gradient(180deg,#fcfcff 50%, #eef 50%)}
#idAddress {text-transform: none; letter-spacing: 0}
#visualid table {margin: 12px 0 0; width: 100%; border: none; border-collapse: collapse; background: none}
#visualid tr:first-child td {padding-bottom: 15px}
#visualid td {width: 50%}
#visualid td:first-child {text-align: right}
#visualid td[colspan="2"] {padding: 17px 5px; text-align: right; border-top: 1px solid #8d8daa; background: #fff; background: linear-gradient(180deg,#fafaff 50%, rgba(220,220,255,.3)), repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(221, 221, 255, .3) 3px, #fff 5px) #fafaff}
img[src^="/imagegen"] {height: 256px; width: 256px; border: 1px solid #8d8daa; padding: 3px; border-radius: 2px; background: #fff; filter: drop-shadow(0 0 1px rgba(220,220,255,.7));}
img[src="/imagegen/id?s=256&c="], img[src="/imagegen/id?s=20&c="] {opacity: 0}

/* host list identicons */
#book .info {padding: 1px 4px; width: 1%; text-align: center}
.info img {margin: 1px; padding: 1px; width: 20px; height: 20px; vertical-align: middle; image-rendering: crisp-edges}
.info img:hover, .info a:focus img {box-shadow: 0 0 0 1px #f60; filter: drop-shadow(0 0 1px #f60)}
.info a:active img, .info a:focus img {transform: rotate(45deg) scale(0.8); transition: ease all .1s 0s}

p.book {padding: 5px 5px 5px 24px; background: var(--addressbook) no-repeat 2px center / 16px}
p.buttons {margin: 0; padding: 0; text-align: right}
table + p.buttons {padding: 5px}
.book textarea {padding: 0; margin: 0; resize: none; border: none; border-left: 1px solid #ccccf0; border-right: 1px solid #ccccf0; background: none}
.book th {border-bottom: 1px solid #8d8daa}
.iframed #book + #buttons {margin: -71px 0 -2px}
.iframed div#book, .iframed #emptybook {margin-bottom: 10px}
.iframed #empty {margin-bottom: 20px; height: 20px; border: none; border-top: 1px solid #8d8daa; border-bottom: 1px solid #8d8daa}
.info a[href^="http"], .helper a {width: 100%; display: inline-block}
#book, #emptybook {margin: -12px 0 -1px; padding: 0 0 60px; background: repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(220, 220, 255, .5) 3px, #fff 4px) #fafaff}
#emptybook {padding: 0 8px}
#empty {margin: -1px 0 10px; height: 10px; border: 1px solid #8d8daa; border-bottom: none; background: #fafaff; position: relative; z-index: 10; border-bottom: 1px solid #8d8daa}
#buttons {padding: 5px; text-align: right; background: #fafaff; background: linear-gradient(180deg,#fafaff 50%, rgba(220,220,255,.3)), repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(221, 221, 255, .3) 3px, #fff 4px) #fafaff}
#book + #buttons {margin: -61px 0 8px; border: 1px solid #8d8daa}
#dtls form + #buttons {margin-top: -2px; border: 1px solid #8d8daa}

form[action="export"] {margin: -1px 0}
input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner, button::-moz-focus-inner{outline: none; border: none}
input[type=submit], input[type=reset], .fakebutton {margin: 5px 5px 5px 0; padding: 4px 3px; font: 9pt var(--bodyfont); text-decoration: none; color: #4f4f63; border: var(--border_input); border-radius: 2px; box-shadow: var(--btn_shadow); background: var(--btn); filter: drop-shadow(0 0 1px rgba(220,220,255,.7)); cursor: pointer}
a.fakebutton {font-weight: 400; color: #4f4f63}
a.fakebutton:hover, a.fakebutton:focus {color: #111}
a.fakebutton:active {color: #666}
input[type=submit]:hover, input[type=reset]:hover, input[type=submit]:focus, input[type=reset]:focus, .fakebutton:hover, .fakebutton:focus {color: #111; border: 1px solid #f60; box-shadow: var(--highlight), inset 0 -8px 3px 8px rgba(255,96,0,.02), inset 0 0 10px rgba(255,96,0,.05), 0 0 1px rgba(255,96,0,.1), 0 7px 4px -4px rgba(0,0,0,.1); background: var(--btn_hover); filter: drop-shadow(0 0 1px rgba(204, 204, 204, .8)); transition: ease border .7s}
input[type=submit]:active, input[type=reset]:active, .fakebutton:active, input[type=file]:active::file-selector-button {color: #666; box-shadow: var(--highlight), inset 3px 3px 2px #555; background-blend-mode: luminosity}
input.accept {padding: 5px 7px 5px 22px; background: var(--yes) no-repeat 6px center / 13px, var(--btn)}
input.accept:hover, input.accept:focus {background: var(--yes) no-repeat 6px center / 13px, var(--btn_hover)}
input.add {padding: 5px 7px 5px 20px; background: var(--add) no-repeat 6px center / 11px, var(--btn)}
input.add:hover, input.add:focus {background: var(--add) no-repeat 6px center / 11px, var(--btn_hover)}
input.cancel {padding: 5px 7px 5px 19px; background: var(--no) no-repeat 6px center / 10px, var(--btn)}
input.cancel:hover, input.cancel:focus {background: var(--no) no-repeat 6px center / 10px, var(--btn_hover)}
input.delete {padding: 5px 7px 5px 23px; background: var(--nuke) no-repeat 6px center, var(--btn); background-size: 13px, 100%}
input.delete:hover, input.delete:focus {background: var(--nuke) no-repeat 6px center, var(--btn_hover); background-size: 13px, 100%}
input.export {margin-top: 5px; padding: 5px 7px 5px 22px; background: var(--go) no-repeat 6px center / 14px, var(--btn)}
input.export:hover, input.export:focus {background: var(--go) no-repeat 6px center / 14px, var(--btn_hover)}
input.download, input.update {margin-top: 5px; padding: 5px 7px 5px 21px; background: var(--download) no-repeat 6px center / 13px, var(--btn)}
input.update {margin-left: 5px}
input.download:hover, input.download:focus, input.update:hover, input.update:focus {background: var(--download) no-repeat 6px center / 13px, var(--btn_hover)}
input.reload {padding: 5px 7px 5px 22px; background: var(--refresh) no-repeat 6px center / 14px, var(--btn)}
input.reload:hover, input.reload:focus {background: var(--refresh_hover) no-repeat 6px center, var(--btn_hover); background-size: 14px, 100%}
input.search[type=submit] {margin-left: 3px; padding: 6px 5px; width: 44px; vertical-align: middle; color: transparent; text-shadow: none; border-radius: 0 0 2px 2px; background: var(--search) no-repeat center center / 14px, var(--btn); background-blend-mode: luminosity}
input.search[type=submit]:hover, input.search[type=submit]:focus {background: var(--search) no-repeat center center / 14px, var(--btn_hover); background-blend-mode: normal}
input.search[type=text] {margin: 1px -10px 0 0; padding: 5px 8px; vertical-align: middle; border-radius: 2px 0 0 2px; transition: none}
input.search[type=text]:focus, input.search[type=text]:focus-within ~ input.search[type=submit] {border: 1px solid var(--hover); filter: none; transition: none}
input.search[type=text]:focus {box-shadow: var(--btn_shadow_active)}
#visualid .fakebutton {padding: 6px 8px 6px 22px; background: var(--go) no-repeat 6px center / 14px, var(--btn)}
#visualid .fakebutton:hover, #visualid .fakebutton:focus {background: var(--go) no-repeat 6px center / 14px, var(--btn_hover)}
form[action="addressbook"] table {width: 100%; font-weight: 700}

#helpconfig ul {columns: 1}
#showing, #paginate {display: inline-block}
#showing {margin-left: 5px}
#paginate, #filtered, #results {margin-right: 4px; float: right; word-spacing: 0; letter-spacing: 0; text-transform: none}
#addressbook.headline h3 {padding-right: 40px; position: relative}
#export {padding-left: 5px; height: 39px; position: absolute; top: 0; right: 0; border-left: 1px solid #8d8daa}
input#exporthosts {margin-bottom: -2px; padding: 0; width: 28px; height: 28px; min-width: 0; display: inline-block; font-size: 0; background: var(--download) no-repeat center center / 16px, linear-gradient(180deg,#fff, #eef)}
#exporthosts:disabled {opacity: .5; pointer-events: none}
#activefilter, .selected {font-weight: 700; color: #999; box-shadow: var(--highlight), inset 2px 2px 2px #aaa}
.active {color: #393; text-decoration: underline}
#paginate {margin-top: -3px; position: relative; overflow: hidden; font-size: 0; text-align: center; border: 1px solid #8d8daa; border-radius: 2px; background: linear-gradient(180deg,#fff 50%, #eef 50%)}
#current {margin: -1px 0; padding: 3px 10px 2px; display: inline-block; vertical-align: middle; text-align: center; font-size: 11.5pt; border-left: 1px solid #8d8daa; border-right: 1px solid #8d8daa}
#prev a, #prev.inactive {border-radius: 2px 0 0 2px}
#next a, #next.inactive {border-radius: 0 2px 2px 0}
#prev, #next {position: relative; display: inline-block; line-height: 0; vertical-align: middle}
#prev.inactive, #next.inactive {padding: 12px 10px; border: none}
#prev a, #next a {margin: 0; padding: 12px 10px; font-size: 0}
#prev::after, #next::after {height: 0; width: 0; position: absolute; top: calc(50% - 6px); right: calc(50% - 3px); border-width: 6px; border-style: solid; border-color: transparent #575779 transparent transparent; content: ""; pointer-events: none}
#prev.inactive::after, #next.inactive::after {opacity: .6}
#next::after {left: calc(50% - 3px); right: 0; border-color: transparent transparent transparent #575779}
#prev:not(.inactive):hover::after, #prev:not(.inactive) a:focus::after {border-color: transparent #f60 transparent transparent}
#next:not(.inactive):hover::after, #next:not(.inactive) a:focus::after {border-color: transparent transparent transparent #f60}
#filtered, #results {font-size: 10pt}

/* help page */
.illustrate {margin: 20px auto 20px; padding: 2px 10px; width: 70%; height: auto; min-width: 550px; max-width: 700px; text-align: center; border-radius: 4px; border: 1px solid #575775; box-shadow: inset 0 0 0 1px #ccc; background: #fff; opacity: .85; filter: drop-shadow(0 0 1px rgba(220,220,255,.7));}
.illustrate img {padding: 10px; width: calc(100% - 20px); height: auto; mix-blend-mode: multiply}
.iframed .illustrate {margin-bottom: 30px; background: linear-gradient(180deg,#fafaff 70%, rgba(220,220,255,.1)), repeating-linear-gradient(135deg, rgba(255,255,255,.5) 2px, rgba(221, 221, 255, .6) 3px, #fff 4px) #fff}
.iframed .illustrate:hover {background: #fff}
svg {opacity: .9}

@keyframes hide-up {from {margin-top: 0} to {margin-top: -300px}}

/* responsive layout */
@media screen and (max-width: 1499px) {
.headline h3 {font-size: 10.5pt; background-size: 18px}
#current {font-size: 10pt}
.headline#subscriptions h3, .headline#configure h3, .headline#addressbook h3, .headline h3 {margin-bottom: -4px; padding-top: 10px}
input.search[type=submit] {padding: 6px 5px}
input.search[type="text"] {padding: 4px 8px}
}

@media screen and (max-width: 1200px) {
#book .head {top: 90px}
#filter a {padding: 2px 6px; min-width: 6px}
#filtered, #results {font-size: 9.5pt}
.iframed #prev a, .iframed #next a {padding: 11px 10px}
.iframed #prev::after, .iframed #next::after {top: calc(50% - 6px)}
}

@media screen and (max-width: 1000px) {
.illustrate {margin: 10px auto 10px; width: 90%; min-width: 450px}
.iframed .illustrate {margin-bottom: 25px}
#content h3 {font-size: 10pt}
}

@media screen and (max-width: 680px) {#navi {padding: 5px 3px}
#navi a.abook, #navi a#configlink, #navi a#overview, #navi a#subs, #navi a.abook:hover, #navi a#configlink:hover, #navi a#overview:hover, #navi a#subs:hover, #navi a.abook:focus, #navi a#configlink:focus, #navi a#overview:focus, #navi a#subs:focus {padding: 3px 10px; min-width: 50px; background: var(--nav) #fff}
#visualid img[src^="/imagegen"] {width: 228px; height: 228px}
}

@media screen and (min-width: 1000px) {
#content h3 {font-size: 10.5pt}
}

@media screen and (min-width: 1500px) {body, p, td, textarea, input, button, li, a, h4 {font-size: 10pt}
#content p {font-size: 120%}
code, tt, .destaddress, th {font-size: 9pt}
input[type=submit], input[type=reset], .fakebutton {font-size: 10pt}
#navi a.abook, #navi a#configlink, #navi a#overview, #navi a#subs {padding-left: 25px; font-size: 11pt; background-size: 15px, 100%}
#filter span, #filter a {font-size: 11pt}
td.destinations textarea {height: 32px}
#host_list .b32link, #host_list .helper {padding: 0 20px; width: 6%}
.headline h4 {background: var(--files) no-repeat 10px 8px / 16px}
#host_list td.b32link a::after, #host_list td.helper a::after {width: 18px; height: 18px}
input.search[type=text] {margin: 0 -8px 0 0}
}
