/* I2PSnark theme "Vanilla" by dr|z3d */
/* Now with 100% more chocolate */

@import url(/themes/fonts/DroidSans.css);

:root {
--bevel_notify: 0 0 0 1px #6f533e, var(--highlight), inset 0 0 2px 1px #e9e5e2, inset 0 0 4px 0 #df0067;
--bodyfont: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Lucida Grande, Bitstream Vera Sans, Verdana, sans-serif;
--border: 1px solid #463e39;
--border_filtered: var(--border_hard);
--border_hard: 1px solid #6f533e;
--btnAction_active: linear-gradient(180deg,#e1d8d1, #fff2e6);
--btnAction_hover: linear-gradient(180deg,#ffeee6, #ffeadf 50%, #ffdecc 50%, #ae836b);
--btnAction: linear-gradient(180deg,#f4f2f1, #e9e4e2 50%, #d2cbc6 50%, #bcb1a9);
--highlight: inset 0 0 0 1px #ffefe6;
--ink: #331700;
--monospaced: Droid Sans Mono, Noto Mono, DejaVu Sans Mono, Lucida Console, monospace;
--nav_active: linear-gradient(180deg,#af9178, #dfb899);
--nav_hover: linear-gradient(180deg,#ffeadf 47%, #cfb6a8 50%);
--nav: linear-gradient(180deg,#fff7ef 47%, rgba(207, 193, 181, .6) 50%), repeating-linear-gradient(45deg, #75604e 1px, #a09286 1px, #bfafa2 2px);
--notify: linear-gradient(to bottom, rgba(0,0,0,0), #e9e5e2), var(--panel);
--panel: linear-gradient(180deg,#dfd7d1, #cfc7c2);
--row_even: linear-gradient(90deg, #998e88 3px, #e8dfda 3px);
--row_filtered: var(--row_even);
--row_odd: linear-gradient(90deg, #72665f 3px, #e0d9d5 3px);
--tab: linear-gradient(to top, #ffeadf, #cfb6a8);
--th: linear-gradient(180deg,#efefef, #cfc7c2);
}

html {min-height: 100%; border-right: var(--border); background: repeating-linear-gradient(180deg,#6f5b4c 1px, #a9927e 1px, #bfa388 4px), #cab39b; background-size: 100% 4px; scrollbar-color: #a38a75 #cab39b}
body {font: 9pt var(--bodyfont); color: var(--ink)}
body.iframed {margin: 6px 0}
input, button, textarea, select, a {outline: none}
form {margin-bottom: 0}
p {line-height: 1.5}
hr {margin: 5px 0 7px; width: 0; height: 1px; border: none; background: #6f533e}
::selection {color: white; background: #900}
::-moz-selection {background: #800; color: white}
input[type=text], input[type=password], textarea, select {box-sizing: border-box; line-height: 1.3}
input[type=submit], input[type="reset"], button, a:link, .optbox[type=checkbox], .optbox[type=radio], select, label {vertical-align: middle; cursor: pointer}
.page {margin: 5px 0 0 0; padding: 10px 10px 0; line-height: 160%; text-align: center; font-size: 9pt; color: #310; border: var(--border); border-radius: 2px; box-shadow: inset 0 0 3px 0 #c6b39f, 0 0 1px 0 rgba(77,61,51,.3); background: repeating-linear-gradient(180deg,#efebdd 1px, #ecebdd 2px, #ebe5d5 4px); background-size: 100% 4px}
.iframed .page {padding: 0; border: none; box-shadow: none; background: none}
a:link, a:visited {text-decoration: none; color: #cf0f00}
#commentInfo th a:link, td a:link {word-wrap: break-word; text-decoration: none; font-weight: 700; color: #cf0f00}
th a:hover, th a:visited:hover, th a:focus, th a:visited:focus, td a:hover, td a:visited:hover, td a:focus, td a:visited:focus {color: #df0067; filter: none}
a:active, a:visited:active, th a:active, th a:visited:active, td a:active, td a:visited:active {color: #f00}
.toggleview, .configTitle, #navbar, img, input[type=submit], .optbox[type=radio], .optbox[type=checkbox], label, th img, #createSection, #closelog, #pagenavbottom {user-select: none}
#navbar, #screenlog, #addSection, #createSection, .configPanel {contain: content}
.left {text-align: left}
.center {text-align: center}
.right {text-align: right}

/* top nav */
#navbar {margin: -11px 0 10px 0; padding: 12px 10px 11px; position: sticky; top: -2px; z-index: 999; width: 70%; border: var(--border); border-radius: 0 0 2px 2px; box-shadow: var(--highlight), 0 0 0 1px rgba(111,96,90,.3); background: linear-gradient(180deg,#efefef 50%, #cfc7c2 53%); text-align: center; transition: ease width .5s .5s}
.iframed #navbar {margin: -6px 0; padding-top: 10px; position: static; width: auto; border-radius: 0; box-shadow: var(--highlight); background: var(--th)}
#navbar a:not(:hover):not(:focus):not(:active) {color: #3f271b}
.snarkNav, .snarkNav:visited {margin: -3px -4px -4px 0; padding: 4px 10px 4px 28px; display: inline-block; position: relative; z-index: 30; line-height: 1.3; font: bold 10pt var(--bodyfont); color: #3f271b; text-shadow: 0 0 1px #fff5ef; text-decoration: none; text-transform: uppercase; letter-spacing: .08em; border: var(--border); border-radius: 0; box-shadow: var(--highlight), inset 0 0 0 rgba(0,0,0,0), 0 0 0 1px rgba(77,69,62,.1); background-size: 17px, 100%, 100%, 17px, 17px; background-position: 12px center, center center, center center; background-repeat: no-repeat; animation: fade-in .25s ease .5s both}
.snarkNav:hover, .snarkNav:focus {z-index: 50; color: #930; text-decoration: none; text-shadow: none; box-shadow: var(--highlight), inset 0 0 0 rgba(0,0,0,0), 0 0 0 1px rgba(77, 69, 62, .1)}
.snarkNav:active {text-shadow: none; box-shadow: var(--highlight), inset 2px 2px 3px 1px #59513b, 0 0 0 1px rgba(77,69,62,.1); transition: ease box-shadow .01s}

.nav_main {background: var(--b_snark) no-repeat 9px center / 16px, var(--nav), var(--b_snark_hover) no-repeat 9px center / 16px, var(--b_snark_active) no-repeat 9px center / 16px}
.nav_main:hover, .nav_main:focus {background: var(--b_snark_hover) no-repeat 9px center / 18px, var(--nav_hover); background-size: 18px, 100%}
.nav_main:active {background: var(--b_snark_active) no-repeat 9px center, var(--nav_active); background-size: 18px, 100%}
.nav_forum {background: var(--b_forum) no-repeat 12px center / 17px, var(--nav), var(--b_forum_hover), var(--b_forum_active)}
.nav_tracker {background: var(--b_tracker) no-repeat 12px center / 17px, var(--nav), var(--b_tracker_hover), var(--b_tracker_active)}
.nav_search {background: var(--b_search) no-repeat 12px center / 15px, var(--nav), var(--b_search_hover), var(--b_search_active)}
.nav_forum:hover, .nav_forum:focus {background: var(--b_forum_hover) no-repeat 12px center / 17px, var(--nav_hover)}
.nav_tracker:hover, .nav_tracker:focus {background: var(--b_tracker_hover) no-repeat 12px center / 17px, var(--nav_hover)}
.nav_search:hover, .nav_search:focus {background: var(--b_search_hover) no-repeat 8px center / 15px, var(--nav_hover)}
.nav_forum:active {background: var(--b_forum_active) no-repeat 12px center / 17px, var(--nav_active)}
.nav_tracker:active {background: var(--b_tracker_active) no-repeat 12px center / 17px, var(--nav_active)}
.nav_search:active {background: var(--b_search_active) no-repeat 12px center / 17px, var(--nav_active)}

.snarkNav:last-child {border-radius: 0 2px 2px 0}
.snarkNav:first-child, .snarkNav:hover:first-child {padding-left: 27px; border-radius: 2px 0 0 2px; background-position: 9px center; background-size: 16px, 100%, 16px}
.snarkNav:last-child[href="/i2psnark/"] {margin: -2px 0 -4px; border-radius: 2px}
.snarkNav:hover, .snarkNav:visited:hover {color: #930}
.snarkNav:active, .snarkNav:visited:active {color: #eee}
.snarkNav, .snarkNav:visited {margin-left: 0; margin-right: 0; border-right: none}
.snarkNav:last-child {border-right: var(--border)}

/* screenlog */
#screenlog {margin: 2px 1px 11px; padding: 0 3px; height: 56px; width: calc(100% - 14px); display: inline-block; overflow: hidden; text-align: left; font: bold 8.5pt var(--bodyfont); -webkit-text-stroke: 2px rgba(78,69,63,.35); color: #f8f1ed; border: 1px solid #523d2e; box-shadow: 0 0 0 2px #efe6e0, 0 0 0 3px #3f3833; background: repeating-linear-gradient(180deg,rgba(77,69,62,.5) 2px, rgba(111,96,90,.3) 4px), url(images/whippy.png) no-repeat scroll right 5px bottom -7px / auto 105%, linear-gradient(180deg,#5f554d, #3f3833); background-size: 100% 4px, auto 105%, 100%; scrollbar-color: #a38a75 rgba(63,56,51,.7)}
#screenlog.configpage {width: calc(100% - 10px)}
#screenlog, #screenlog.collapsed, #screenlog.xpanded {background: repeating-linear-gradient(180deg,rgba(77,69,62,.5) 2px, rgba(111,96,90,.3) 4px), url(images/whippy.png) no-repeat scroll, url(/viewstat.jsp?stat=[I2PSnark]+InBps&showEvents=false&period=60000&periodCount=1440&end=0&width=2000&height=160&hideLegend=true&hideTitle=true&hideGrid=true) no-repeat, linear-gradient(180deg,#5f554d, #3f3833); background-size: 100%, 60px auto, calc(100% - 80px) 100%, 100%; background-position: center center, right -4px bottom -10px, left bottom, center center; background-blend-mode: darken, lighten, luminosity, normal, normal}
#screenlog:hover, #screenlog:focus {overflow: auto}
#screenlog:focus {box-shadow: 0 0 0 1px #ff1a85, 0 0 0 3px rgba(70,62,57,.5)}
#screenlog ul {margin: 0; padding: 0 0 0 16px; text-align: left; list-style: none; line-height: 1.3; font-weight: 600}
#screenlog li {margin-left: -15px}
#screenlog li::before {width: 13px; height: 11px; display: inline-block; background: var(--bullet) no-repeat left 2px / 9px; content: ""}
#screenlog .infohash, #screenlog a, #screenlog a:visited {vertical-align: baseline; color: #f90; text-shadow: 0 0 1px #000; opacity: .9}
#screenlog a:hover, #screenlog a:visited:hover {color: #fb0; opacity: 1}
#screenlog a:link:active, #screenlog a:visited:active{color: #f60}
#screenlog .infohash {color: #5b5}
#screenlog .infohash:hover {color: #9f9; opacity: 1}
#closelog, #expand, #shrink {position: sticky; top: 0; float: right}
#shrink {display: none}
#closelog img, #expand img, #shrink img {margin: -1px -3px 4px 4px; padding: 4px 3px 3px; width: 12px; background: #cfbda8; opacity: .8}
#closelog img:hover, #closelog img:focus, #expand img:hover, #expand img:focus, #shrink img:hover, #shrink img:focus {opacity: 1; filter: none}
.logshim {margin-top: -10px}

table {margin: 0 0 10px 0; padding: 0; width: 100%; font-size: 8.5pt; border: var(--border_hard); border-spacing: 0; border-collapse: collapse}
th {padding: 4px 2px; font-size: 8pt; color: var(--ink); border-top: var(--border_hard); border-bottom: var(--border_hard)}
th, th b {line-height: 1.2}
td {padding: 2px 4px; vertical-align: middle; color: #453221}
thead, tfoot {font-weight: 700; color: #4d2200; background: var(--th)}
thead a img, thead img {max-height: 20px; opacity: .85; filter: saturate(.35); image-rendering: -webkit-optimize-contrast}
thead a:hover img, thead a:focus img {opacity: 1; filter: drop-shadow(0 0 1px #ff1a85) drop-shadow(0 0 1px #df0067)}
thead a:active img {transform: scale(.9); filter: drop-shadow(0 0 1px #990047) drop-shadow(0 0 1px #660030)}
th br {display: none}
th:first-child {padding-left: 3px; text-align: left}
tfoot td:first-child {padding-left: 0; text-align: left}
tfoot tr:first-child th {vertical-align: middle; font-weight: 700; color: #4d2200}
.headerstatus {text-align: left}
.headerpriority {padding: 5px; text-align: center}
.headerpriority br {display: none}
.ParentDir {padding: 4px 0 4px 4px; text-align: left}
.ParentDir img {filter: sepia(100%) hue-rotate(340deg)}
.ParentDir.playlist a {margin-left: -3px; white-space: nowrap}
.ParentDir.playlist a img {margin-right: -3px}
.snarkTorrentDir tr:nth-child(2) {background: linear-gradient(90deg, #efe6e0, #dfd6d1 70%)}

/* main torrents listing */
#torrents, #torrentEdit {margin: 0; border: var(--border_hard); border-collapse: separate; border-spacing: 0; border-radius: 2px; background: #e8e5dc}
#torrents thead th {border-top: 0; border-bottom: var(--border_hard)}
#torrents tfoot th {white-space: normal; font-weight: 400; border-bottom: none}
#torrents tfoot tr:first-child {background: var(--th)}
#torrents tfoot tr:first-child th {font-weight: 700}
#torrents tfoot tr:first-child th::after {height: 24px; display: inline-block; vertical-align: middle; content: ""}
#torrents tfoot th:nth-child(n+2) {white-space: nowrap}
#torrents tfoot th br {display: block}
#torrents tfoot tr:first-child th {vertical-align: middle}
#torrents thead th:nth-child(3) {padding-right: 0; text-align: right}
#torrents td[colspan="3"], #torrents td[colspan="9"] {text-align: left}
#torrents td[colspan="9"] {white-space: normal}
.graphicStatus {padding: 2px; width: 1%; white-space: nowrap}
.graphicStatus {width: 1%; white-space: nowrap; text-align: center}
.graphicStatus::after {min-height: 20px; display: inline-block; vertical-align: middle; content: ""}
.tooltipped {display: inline-block; position: relative; z-index: 99; content: ""}
.tooltipped:hover {filter: drop-shadow(0 0 1px rgba(0,0,0,.2))}
.tooltipped:hover::before, .tooltipped:active::before {margin-left: -10px; top: calc(50% - 6px); left: 30px; border-width: 6px; border-style: solid; border-color: transparent #cca transparent transparent; content: ""; animation: fade-in .1s ease 3s reverse both}
.tooltipped:hover::after, .tooltipped:active::after {padding: 3px 6px; top: -2px; left: 32px; font-weight: 600; border: 1px solid #cca; border-radius: 2px; box-shadow: var(--highlight); background: linear-gradient(180deg,#fff,#ffd); content: attr(data-tooltip); animation: fade-in .1s ease 3s reverse both}
.tooltipped:hover::before, .tooltipped:active::before, .tooltipped:hover::after, .tooltipped:active::after {position: absolute; display: inline-block}
th.peerCount {text-align: center}
.torrentName {padding-left: 5px; line-height: 1.1; text-align: left}
.trackerLink, .torrentDetails, .commentDetails {padding-left: 0; padding-right: 0; width: 1%; text-align: center; font-weight: 700}
.trackerLink img, .torrentDetails img, .commentDetails img, .dirInfo td:first-child img:not(.thumb) {margin: 0; padding: 3px; border: 1px solid transparent}
.trackerLink img {margin: 0 -6px 0 4px; width: 16px; height: 16px; opacity: .7}
tr:hover .trackerLink img {opacity: .8}
.dirInfo td:first-child img:not(.thumb) {margin: 0 2px}
.torrentInfo tr:nth-child(10) a {display: inline-block; word-break: break-all}
.trackerLink a:hover img, .trackerLink a:focus img, .torrentDetails a:hover img[src^="/i2psnark/.resources/icons/"]:not([src$="rateme.svg"]), .torrentDetails a:focus img[src^="/i2psnark/.resources/icons/"]:not([src$="rateme.svg"]), .commentDetails a:hover img, .commentDetails a:focus img, .dirInfo td:first-child a:hover img:not(.thumb), .dirInfo td:first-child a:focus img:not(.thumb) {border: 1px solid #f60; border-radius: 2px; background: linear-gradient(180deg,#ffeadf 50%, #cfb6a8 50%); opacity: 1; filter: none; transition: none}
.trackerLink a:active img, .torrentDetails a:active img, .commentDetails a:active img, .dirInfo td:first-child a:active img {box-shadow: inset 2px 2px 3px 1px #59513b; transform: scale(.9); transition: none}
.torrentETA, .torrentUploaded, .RateDown, .RateUp {width: 5%; min-width: 40px; white-space: nowrap}
.torrentETA {line-height: 1.2; text-align: center; font-weight: 700; font-style: italic}
.RateUp, .RateDown, .torrentDownloaded, .torrentUploaded {padding: 0 5px; font-weight: 700}
.torrentDownloaded {padding: 2px; vertical-align: middle}
.peerCount b, .torrentETA, .RateDown, .torrentDownloaded {color: #5c4e3d}
.RateDown {color: #395}
.torrentUploaded {color: #67594c}
.RateUp, .peerinfo .RateUp .unchoked {color: #cb4dcb}
.torrentUploaded {padding-left: 10px}
tr:not(.peerinfo) .torrentUploaded:empty::after {display: inline; font-size: 9pt; content: "‒"}
.torrentAction {padding: 1px 2px 1px 1px; width: 1%; white-space: nowrap; text-align: center}
#torrents tt {padding: 2px 3px; letter-spacing: .1em; color: #fff; background: #7f654f}
.peerinfo tt {margin: 0 1px}
#torrents th:empty, #torrents td:empty {padding: 0; width: 0; min-width: 0; font-size: 0}
.noneLoaded, .noneLoaded:hover td {background: #5f4e41}
.mainsection .noneLoaded td {padding: 10px; text-align: center; font-weight: 700; color: #cfc7c2}
.noneLoaded i::before {margin: -3px 3px 0 0; width: 11px; height: 11px; display: inline-block; vertical-align: middle; background: var(--bullet) no-repeat center center / 11px; content: ""}

.rowEven, #torrentEdit tr:nth-child(odd), .knownTracker:nth-child(odd) {background: #dfd6d1}
.rowOdd, #torrentEdit tr:nth-last-child(even), .knownTracker:nth-child(even) {background: #efe6e0}
.rowOdd td, .rowEven td, .ParentDir, .peerinfo td, #torrentEdit td {border-top: 1px solid #fff5ef; border-bottom: 1px solid rgba(111,83,62,.6)}
.rowOdd:last-child td, .rowEven:last-child td {border-bottom: none}
.filtered td, #filterResults td {border-top: none; border-bottom: 1px solid rgba(111,83,62,.6); background: linear-gradient(180deg,#f5f2f0, #eae4e1)}
#filterResults td {padding: 10px 8px; text-align: center; font-weight: 700; font-style: italic; box-shadow: inset 0 0 0 1px #f5f2f0, inset 0 0 0 2px #fb0}
#filterResults, #filterResults td {animation: disappear .1s linear 2s both}
#torrents tbody tr:hover, .dirInfo tbody tr:hover {background: #f9efcf; background: linear-gradient(90deg, rgba(119, 0, 0, .7) 2px, #f9efcf 2px)}
td:hover .percentBarText {opacity: 1}
.rowEven + .rowEven:nth-child(even), .rowOdd + .rowOdd:nth-child(even) {background: var(--row_even)}
.rowEven + .rowEven:nth-child(odd), .rowOdd + .rowOdd:nth-child(odd) {background: var(--row_odd)}

.active .torrentAction, .active:hover .torrentAction {background: linear-gradient(to left, #cb4dcb 3px, rgba(0,0,0,0) 3px); animation: ease-in-out active .5s 3s forwards}
.active.downloading .torrentAction, .active.downloading:hover .torrentAction, .active.RX .torrentAction, .active.RX:hover .torrentAction {background: linear-gradient(to left, #3d3 3px, rgba(0,0,0,0) 3px); animation: ease-in-out downloading .5s 3s forwards}
.peerdata, .debuginfo td[colspan="10"] {padding-left: 0; text-align: left}
.fileIcon {width: 16px}
.fileIcon img, .fileIcon img:hover {filter: none; opacity: .6}
.fileIcon a img, .fileIcon a:hover img {opacity: 1}
.fileIcon:first-child {text-align: center}
.snarkFileName {padding: 4px 0; text-align: left; font-size: 8pt; font-weight: 700}
.snarkFileSize {padding: 4px 2px; width: 1%; white-space: nowrap; font-weight: 700; color: #727}
.fileStatus {padding: 4px 5px; width: 1%; white-space: nowrap; font-size: 8pt; text-align: center; font-style: italic}
.dirInfo .percentBarOuter {display: inline-block}
.priorityIndicator {display: none}
.dirInfo .fileStatus img {margin: 0 3px}
.dirInfo .fileStatus img[src$="tick.png"] {margin-top: 0}
.torrentInfo img {max-height: 16px}
img[src$="details.png"] {max-height: 16px}
#filecheck {margin: 5px 0; padding-left: 22px; display: inline-block; background: url(/i2psnark/.resources/icons/progressbar.gif) no-repeat left center}
#filecheck a {margin: 8px}
#torrentInfoStats td {text-align: left}
.torrentInfo th:first-child img, #trackers td img, #torrentInfoStats img {margin: -1px 3px 1px 6px; image-rendering: -webkit-optimize-contrast; mix-blend-mode: luminosity}
#torrentInfoStats img[src$="head_tx.png"], #torrentInfoStats img[src$="head_rx.png"] {margin-right: 2px}
.torrentInfo a:hover img {mix-blend-mode: normal}
#torrentInfoStats b {margin-left: 1px}
#torrentInfoStats span {margin-right: 3px; display: inline-block; vertical-align: middle; white-space: nowrap}
.mainsection .torrentInfo td {padding: 4px 3px 4px 1px; vertical-align: middle; text-align: left; background: #efe6e0}
.torrentInfo tr:nth-child(even) td {background: #dfd6d1}
.torrentInfo th {text-align: left; background: var(--th)}
.torrentInfo th:last-child {padding-right: 6px; width: 1%; white-space: nowrap; text-align: right}
.torrentInfo th, .torrentInfo td {padding: 7px 4px 7px 0; line-height: 1.6}
.torrentInfo th:first-child, .torrentInfo td:first-child {padding-left: 5px; padding-right: 3px; text-align: left}
.torrentInfo {margin-bottom: 2px; border-collapse: separate}
.torrentInfo tr:first-child th {border-top: none}
.torrentInfo b {margin-right: 3px}
.infohash {font-family: var(--monospaced); color: #050; user-select: all; margin-right: 3px}
#torrents .infohash, .torrentInfo .infohash {max-width: 90px; display: inline-block; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; opacity: .8}
#torrents .infohash {padding: 1px 1px 1px 16px; font-weight: 700; color: #fff5ef; border-radius: 2px; background: rgba(0,80,0,.8) var(--hash2) no-repeat 3px center / 11px}
.magnetLabel {display: inline-block; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.torrentInfo .infohash {margin: 0 1px 0 10px; padding: 3px 1px 2px 6px; border-radius: 1px; box-shadow: 0 0 0 1px #cfc6c0; background: #fff5ef}
.infohash::-moz-selection {color: #ff0; background: #171}
.infohash::selection {color: #ff0; background: #171}
.magnetlink, .torrentlink {margin: 0 0 0 5px; padding: 4px; display: inline-block; line-height: 1.3; box-shadow: 0 0 0 1px #cfc6c0; background: #fff5ef}
.magnetlink img, .torrentlink img {margin: -2px 0; padding: 0}
#torrentInfoControl {border-top: var(--border_hard)}
#torrentInfoControl td {padding-right: 6px; text-align: left; border-bottom: none; background: #cfc7c2; background: var(--th)}
#torrentOrderControl {margin-top: 4px; float: right}
#torrentOrderControl b::after {content: ":"}
#enableInOrder {margin-left: 4px; margin-right: 12px}
.dirInfo {margin-top: 10px; margin-bottom: 0; border-collapse: separate}
.dirInfo tr:first-child th {border-top: none}
.dirInfo thead th:nth-child(n+2) {text-align: center}
.dirInfo thead img {margin: 0 -1px 0 0; padding: 0 3px}
thead img.disable, img.disable:hover {opacity: .4}
.dirInfo td {min-width: 0}
.dirInfo .ParentDir a, .dirInfo .snarkFileName a, #torrents .torrentName a {padding: 2px 0; width: 100%; display: inline-block}
.torrentName a, .dirInfo .snarkFileName a {padding: 4px 0; font-weight: 700}
.torrentName a {margin-bottom: -1px; padding: 5px 0}
.torrentName a:hover, .snarkFileName a:hover, .torrentName:hover a, .dirInfo:hover a {box-shadow: none; background: none}
.torrentName a:hover, .snarkFileName a:hover {border-radius: 0 15px 15px 0; background: linear-gradient(90deg, rgba(0,0,0,0), rgba(155,108,46,.2) 40%)}
.torrentName a:active, .snarkFileName a:active {box-shadow: inset 2px 2px 2px 1px rgba(32,32,0,.3); border: none}
.dirInfo .ParentDir a img {padding-right: 3px}
.priority {padding-left: 5px; padding-right: 5px}
#setPriority th {padding: 8px 5px; text-align: right; border-bottom: none}
#setPriority th, #torrentInfoControl td {box-shadow: inset 0 0 0 1px #efe8e0; border-top: var(--border_hard)}
#torrentInfoStats td {border-bottom: none}
#setPriority input.disabled, #setPriority a.controld {display: none}

/* download bars */
.torrentDownloaded {padding: 2px 5px; width: 1%; max-width: 120px; text-align: center}
.percentBarOuter, .percentBarText {width: 84px}
.percentBarOuter {margin: 0; display: inline-block; border: 1px solid #998; border-radius: 1px; box-shadow: var(--highlight), inset 2px 2px 3px rgba(0,0,0,.4); background: repeating-linear-gradient(135deg, #fff7ef 1px, #fff7ef 5px, #efdfd1 6px, #efdfd1 11px); opacity: 1}
.peerinfo .percentBarOuter, .peerinfo .percentBarInner {height: 12px}
.inactive .percentBarOuter {background: repeating-linear-gradient(90deg, #f8f2ec 1px, #f8f2ec 5px, #f2e5d9 6px, #f2e5d9 11px)}
.percentBarInner, .uploaded {height: 16px; vertical-align: middle; border: none; border-right: 1px solid #998; border-radius: 1px; box-shadow: var(--highlight); background: linear-gradient(180deg,rgba(255,247,239, .8) 50%, rgba(207,193,181,.9) 50%, rgba(207,193,181,1))}
.uploaded {padding: 0 2px 3px; min-width: 68px; display: inline-block; position: relative; border: 1px solid #998; border-left-width: 5px; box-shadow: inset 0 0 0 1px #efefef, inset 0 3px 3px rgba(0,0,0,.3); background: repeating-linear-gradient(90deg,#e0c6b8,#e0c6b8 10%,#ffdecc 10%,#ffdecc 20%)}
.active.seeding .uploaded {background: repeating-linear-gradient(90deg,#d8b8a6,#d8b8a6 5%,#f7d0ba 5%,#f7d0ba 10%); background-size: 200%; animation: uploading .5s linear 4s 1 reverse}
.txBarInner {height: calc(100% - 2px); display: inline-block; position: absolute; top: 1px; left: 1px; box-shadow: inset 0 3px 3px rgba(0,0,0,.3); background: rgba(255,160,64,.35)}
.active .txBarInner {background: rgba(255,64,220,.35)}
.txBarInner[style="width: calc(100% - 2px)"] {box-shadow: 0 0 0 1px #efefef, inset 0 2px 2px 3px rgba(255,255,255,.2), inset 0 0 2px 2px rgba(255,255,255,.2), inset 0 -1px 2px 1px rgba(0,0,0,.1); background: linear-gradient(180deg,rgba(255,224,96,.35) 50%,rgba(255,144,48,.35))}
.active .txBarInner[style="width: calc(100% - 2px)"] {background: linear-gradient(180deg,rgba(255,96,224,.35) 50%,rgba(255,32,192,.35))}
.txBarText {position: relative; z-index: 5; text-shadow: 0 1px 1px #ffe6ff}
.torrentDownloaded .percentBarInner {background: linear-gradient(90deg, rgba(255,64,0,.4) 20px, rgba(255,255,0,.4) 50px, rgba(0,255,0,.4)), linear-gradient(180deg,rgba(255,255,255,.1), rgba(0,0,0,.1)), rgba(255,255,255,.5)}
.inactive .torrentDownloaded .percentBarInner {background: linear-gradient(90deg, rgba(128,32,0,.15) 20px, rgba(128,128,0,.15) 50px, rgba(0,128,0,.15)), linear-gradient(180deg,rgba(255,255,255,.1), rgba(0,0,0,.1)), rgba(255,255,255,.5)}
.dirInfo .percentBarInner {background: linear-gradient(180deg,rgba(255,247,239,.75) 50%, rgba(207,193,181,.8) 50%, rgba(207,193,181,.9)), linear-gradient(90deg, rgba(255,100,0,.5) 30px, rgba(255,255,0,.5) 60px, rgba(0,255,0,.5))}
.peerinfo .percentBarInner {background: linear-gradient(180deg,rgba(255,255,255,.1), rgba(0,0,0,.1)), rgba(255,255,255,.5)}
.percentBarText, .percentBarOuter {text-align: center; vertical-align: middle}
.percentBarText {z-index: 999; white-space: nowrap; vertical-align: middle; text-align: center; font-weight: 700; color: #395; opacity: 0; transition: ease opacity .15s}
.inactive .percentBarText {color: #777}
.torrentDownloaded .percentBarText {line-height: 16px}
.dirInfo .percentBarText {padding: 1px 0}
.percentBarText:hover, .percentBarText:focus {opacity: .9; transition: ease opacity .15s; filter: none}
.iframed .percentBarText, .iframed .percentBarText:hover, .iframed .percentBarText:focus {transition: none}
.percentBarComplete {padding: 1px 0; display: inline-block; min-width: 84px; line-height: 1.4; text-align: center; border-radius: 20px; box-shadow: inset 0 0 0 1px #b5a79b, inset 0 2px 2px 2px rgba(239,231,224,.3), inset 0 -2px 2px 2px rgba(236,200,172,.3); background: linear-gradient(180deg,#fffbef, #dfd7d1)}
.active .percentBarComplete {color: #ad681f; box-shadow: inset 0 0 0 1px #b5a79b, inset 0 2px 2px 2px rgba(239,231,224,.6), inset 0 -2px 2px 2px rgba(236,200,172,.6); background: radial-gradient(at center bottom, rgba(220,180,0,.1) 10%, rgba(0, 0, 0, 0) 70%), linear-gradient(180deg,#fffbef, #f0d6c2)}

.peerSeed img {font-size: 0; opacity: .7; transform: scale(1)}
.active .peerSeed img {opacity: 1; animation: scale .2s linear 3s 2 forwards}
.choked {color: #a00000}
.unchoked {color: #395}
.choked, .unchoked {font-weight: 700}
.choked, .idle {width: 48px; display: inline-block; vertical-align: middle; line-height: 0; text-align: center; font-size: 0}
.idle::after, .choked::after {width: 8px; height: 8px; display: inline-block; border-radius: 50%; background: #395; content: ""}
.choked::after {background: #900}
#snarkInfo .thumb, audio, video {margin: 1px 1px 2px 0; padding: 1px; border: var(--border_hard); box-shadow: inset 0 0 0 2px #fff}
.thumb {max-height: 32px; background: #fff}
audio, video {width: 240px; background: #000}
#snarkInfo .thumb:hover, #snarkInfo .thumb:focus, audio:hover, video:hover, audio:focus, video:focus {border-color: #df0067}
video:fullscreen, video:fullscreen:hover, video:fullscreen:focus {padding: none; box-shadow: none; border: none}
video::-webkit-media-controls-timeline {padding: 0 16px 16px}
audio::-webkit-media-controls-enclosure {border-radius: 0; filter: invert(1)}
::-webkit-media-controls-panel, ::-internal-media-controls-button-panel {position: relative; z-index: 10}
video::-webkit-media-controls-panel {display: none}
video:hover::-webkit-media-controls-panel, video:focus::-webkit-media-controls-panel {display: flex}
.snarkNewTorrent {font-size: 9pt}
.snarkAddInfo {margin-top: 7px; padding-left: 20px; min-height: 16px; display: inline-block; background: url(images/details.svg) no-repeat left center / 14px}
.snarkAddInfo code {font-size: 9pt}
input[type=submit], .trackerconfig input[type=submit], input[name="savepri"], select[name="theme"] {text-transform: capitalize}

/* panel titles */
#config, .toggleview {will-change: transform}
.toggleview, #tab_config {margin: -1px auto -3px; padding: 4px 1px 2px; min-width: 300px; display: inline-block; vertical-align: middle; text-shadow: 0 0 1px #fff5ef; color: #444039; border: 1px solid #111; border-top: none; box-shadow: 0 0 2px rgba(77, 69, 62, .3), var(--highlight); background: linear-gradient(90deg, rgba(0,0,0,0), rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, .2) 80%, rgba(0,0,0,0)),linear-gradient(180deg,#fff7ef 50%, rgba(207, 193, 181, .6) 50%), repeating-linear-gradient(135deg, #75604e 1px, #a09286 1px, #bfafa2 2px)}
#tab_config:hover, .toggleview:hover, input.toggle_input:focus + .toggleview {background: linear-gradient(180deg,#ffeadf 50%, #cfb6a8 50%)}
#tab_config {margin-top: 0; padding-top: 3px}
.configPanel .configTitle, .configPanel .configTitle:hover, .configPanel .configTitle:active, .configPanel .configTitle:focus {margin: 0 -11px; padding: 5px 8px 5px 29px; display: block; letter-spacing: .15em; text-align: left; text-transform: uppercase; font-size: 11pt; font-weight: 700; color: #4d2200; border: 1px solid #1f1400; border-top: none; border-radius: 2px 2px 0 0; box-shadow: var(--highlight); background: var(--snark) no-repeat 8px center, radial-gradient(circle at left bottom, #f9f8f2, #f7f6ee 400px); background-size: 18px, 100%; background-blend-mode: luminosity}
.iframed .configPanel .configTitle, .iframed .configPanel .configTitle:hover, .iframed .configPanel .configTitle:active {border-radius: 0}
.configTitle a {width: 100%; display: inline-block}
.toggleview img, .snarkConfig .configTitle img {display: none; opacity: 0}
.toggleview:hover::after, .toggleview:focus::after, #tab_config a:hover::after, #tab_config a:focus::after {mix-blend-mode: normal}
.toggleview, #tab_config {font-size: 0}
.toggleview::after, #tab_config a::after {margin: -1px 0 1px; padding: 2px; width: 18px; height: 18px; display: inline-block; vertical-align: middle; border: 1px solid #a39375; border-radius: 50%; background: var(--add) no-repeat center center, var(--tab); background-size: 18px, 100%; opacity: 1; content: ""; mix-blend-mode: luminosity}
.toggleview:hover::after {mix-blend-mode: normal}
#tab_newtorrent::after {box-shadow: inset 0 0 0 2px #ffeadf; background: var(--wizard) no-repeat center center, var(--tab); background-size: 18px, 100%}
.toggleview[for="toggle_files"]::after {box-shadow: none; background: var(--folder) no-repeat center center, var(--tab); background-size: 14px, 100%}
.toggleview[for="toggle_comments"]::after {box-shadow: none; background: var(--chat) no-repeat center center, var(--tab); background-size: 14px, 100%}
.toggleview[for="toggle_torrentedit"]::after {box-shadow: none; background: var(--edit) no-repeat center center, var(--tab); background-size: 14px, 100%}
#tab_config a::after {box-shadow: inset 0 0 0 2px #ffeadf; background: var(--configure) no-repeat center center, var(--tab); background-size: 16px, 100%}
#tab_config:active, .toggleview:active {box-shadow: 0 0 2px #4d453e, inset 0 0 0 1px #f0e9e4, inset 2px 2px 3px 1px #59513b; background: linear-gradient(180deg,#e5d2c8, #baa397)}
#tab_config a:active::after, .toggleview:active::after {transform: rotate(90deg) scale(.9); transition: ease transform .15s}
input:checked + .toggleview:active::after {transform: rotate(-90deg) scale(.9); transition: ease transform .15s}

.snarkConfig {width: 100%; font-size: 8pt}

/* buttons & inputs */
.script {display: inline-block; vertical-align: top}
a.control, input[type=submit], input[type=reset] {display: inline-block; font: 8pt var(--bodyfont); font-weight: 400; box-shadow: var(--highlight), 0 0 1px 0 rgba(77, 69, 62, .3); background-size: 14px, 100%}
a.control, a.controld {margin: 2px 4px 2px 3px; padding: 5px 6px 5px 2px; display: inline-block; white-space: nowrap; font-weight: 400; color: #4d2200; border: 1px solid #4f3927; border-radius: 2px; background: linear-gradient(180deg,#f4f2f1, #ded9d5); background-size: 100%}
a.controld {font-weight: 400; color: #f60}
a.control:hover, a.control:focus {color: #930; background: linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%); filter: drop-shadow(0px 0 1px #f60)}
a.control img, a.controld img {height: 14px; width: 14px; vertical-align: top; mix-blend-mode: normal; filter: none}
a.control:active {color: #f30}
button::-moz-focus-inner, input::-moz-focus-inner {outline: none; border: none}
input {margin: 2px 4px; font-size: 8pt; font-weight: 400; text-align: left; padding: 5px 4px; border-radius: 2px; border: 1px solid #4d2200; background: #efe6e0; color: #4d2200; font-family: var(--bodyfont)}
input.r {text-align: right; background: #efe6e0}
input.r, input[type=text], select {min-width: 120px}
input[name="nofilter_commentsName"] {width: 250px}
input[type=submit] {color: #4d2200; border: 1px solid #4f3927}
input[type=submit]:hover, input[type=submit]:focus, a.control:hover, a.control:focus {color: #4d2100; border: 1px solid #2f1a09; box-shadow: var(--highlight)7ef, inset 0 0 0 2px #d50; -webkit-text-stroke: 1px rgba(77,34,0,.1); background-blend-mode: luminosity}
input[type=submit]:active, a.control:active {color: #70645c; box-shadow: var(--highlight), inset 3px 3px 3px rgba(0,0,0,.5); -webkit-text-stroke: 0}
input[type=text], input.r, textarea, input[name="nofilter_dataDir"]{padding: 5px 8px; vertical-align: middle; box-shadow: var(--highlight), inset 3px 3px 3px rgba(16,12,0,.25)}
input[type=text]:focus, input[type=text]:focus, input.r:focus, textarea:focus, input[name="nofilter_dataDir"]:focus {background: #fffcdf; color: #5f1227; text-shadow: none; transition: ease box-shadow .3s}
input.default {width: 1px; height: 1px; display: none; visibility: hidden}
input.disabled, input.disabled:hover, input.disabled:focus, input.disabled:active, a.controld, a.controld:hover, a.controld:focus, a.controld:active {font-weight: 400; opacity: .6; color: #4d2200; box-shadow: none; cursor: not-allowed; background-blend-mode: luminosity; filter: none}
a.controld img, a.controld:hover img, a.controld:focus img, a.controld:active img {mix-blend-mode: luminosity}
input.accept, input.disabled[name="savepri"] {padding: 5px 6px 5px 24px; background: var(--confirm) no-repeat 6px center / 14px, linear-gradient(180deg,#f4f2f1, #ded9d5)}
input.accept:hover, input.accept:focus {background: var(--confirm) no-repeat 6px center / 14px, linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%)}
input.accept:active {background: var(--confirm) no-repeat 6px center / 14px, linear-gradient(180deg,#e1d8d1, #fff2e6)}
input.add {padding: 5px 6px 5px 24px; background: var(--add) no-repeat 6px center / 14px, linear-gradient(180deg,#f4f2f1, #ded9d5)}
input.add:hover, input.add:focus {background: var(--add) no-repeat 6px center / 14px, linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%)}
input.add:active {background: var(--add) no-repeat 6px center / 14px, linear-gradient(180deg,#e1d8d1, #fff2e6)}
input.cancel {padding: 5px 6px 5px 24px; background: url(images/cancel.png) no-repeat 6px center / 14px, linear-gradient(180deg,#f4f2f1, #ded9d5)}
input.cancel:hover, input.cancel:focus {background: url(images/cancel.png) no-repeat 6px center / 14px, linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%)}
input.cancel:active {background: url(images/cancel.png) no-repeat 6px center / 14px, linear-gradient(180deg,#e1d8d1, #fff2e6)}
input.create {padding: 5px 6px 5px 24px; background: var(--wizard) no-repeat 6px center / 14px, linear-gradient(180deg,#f4f2f1, #ded9d5)}
input.create:hover, input.create:focus {background: var(--wizard) no-repeat 6px center / 14px, linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%)}
input.create:active {background: var(--wizard) no-repeat 6px center / 14px, linear-gradient(180deg,#e1d8d1, #fff2e6)}
input.delete {padding: 5px 6px 5px 24px; background: var(--nuke) no-repeat 6px center / 14px, linear-gradient(180deg,#f4f2f1, #ded9d5)}
input.delete:hover, input.delete:focus {background: var(--nuke) no-repeat 6px center / 14px, linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%)}
input.delete:active {background: var(--nuke) no-repeat 6px center, linear-gradient(180deg,#e1d8d1, #fff2e6)}
input.reload {padding: 5px 6px 5px 24px; background: var(--restore) no-repeat 6px center / 14px, linear-gradient(180deg,#f4f2f1, #ded9d5)}
input.reload:hover, input.reload:focus {background: var(--restore) no-repeat 6px center / 14px, linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%)}
input.reload:active {background: var(--restore) no-repeat 6px center / 14px, linear-gradient(180deg,#e1d8d1, #fff2e6)}
input.reload[name="recheck"], input.disabled[name="recheck"] {margin: 6px 2px; padding: 5px 8px 5px 25px; background: var(--refresh) no-repeat 8px center / 14px, linear-gradient(180deg,#f4f2f1, #ded9d5)}
input.reload[name="recheck"]:hover, input.reload[name="recheck"]:focus {background: var(--refresh) no-repeat 8px center / 14px, linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%)}
input.reload[name="recheck"]:active {background: var(--refresh) no-repeat 8px center, linear-gradient(180deg,#e1d8d1, #fff2e6)}
input.starttorrent {margin: 6px; padding: 5px 8px 5px 21px; background: var(--start) no-repeat 8px center / 10px, linear-gradient(180deg,#f4f2f1, #ded9d5)}
input.starttorrent:hover, input.starttorrent:focus {background: var(--start_hover) no-repeat 8px center / 10px, linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%)}
input.starttorrent:active {background: var(--start) no-repeat 8px center / 10px, linear-gradient(180deg,#e1d8d1, #fff2e6)}
input.stoptorrent {margin: 4px 5px; padding: 5px 8px 5px 22px; background: var(--stop) no-repeat 8px center / 10px, linear-gradient(180deg,#f4f2f1, #ded9d5)}
input.stoptorrent:hover, input.stoptorrent:focus {background: var(--stop_hover) no-repeat 8px center / 10px, linear-gradient(180deg,#fff7ef 51%, #ffe6cc 52%)}
input.stoptorrent:active {background: var(--stop) no-repeat 8px center / 10px, linear-gradient(180deg,#e1d8d1, #fff2e6)}
select {margin: 2px 0 2px 4px; padding: 5px 22px 5px 5px; font: 8pt var(--bodyfont); font-weight: 400; color: #4d2200; border-radius: 2px; border: 1px solid #2f1500; box-shadow: var(--highlight), 0 0 1px 0 rgba(77, 69, 62, .3); background: #efe6e0 var(--dropdown) no-repeat right 7px center; background-size: 10px; appearance: none}
select:hover, select:focus {color: #5f1227; background: #fffcdf var(--dropdown_hover) no-repeat right 7px center; background-size: 10px}
textarea, input[name="nofilter_dataDir"] {margin-left: 4px; padding: 5px 8px; width: 70%; font-family: var(--bodyfont); font-size: 8pt; font-weight: 400; border-radius: 2px; border: 1px solid #2f1500; background: #efe6e0}
.r:focus, input[type=text]:focus, select:focus, input[name="nofilter_dataDir"]:focus, .optbox[type=checkbox]:focus, .optbox[type=radio]:focus {box-shadow: var(--highlight), inset 0 0 0 1px rgba(16,12,0,.25), 0 0 1px rgba(223,0,103,.6); transition: ease box-shadow .15s}
textarea {margin-top: 2px; padding: 4px; height: 26px; resize: none; font-size: 8pt; color: #4d2200}

img {margin: 0 2px; vertical-align: middle; border: none; line-height: 1}
a:hover img, a:focus img {filter: drop-shadow(0 0 1px #df0067); mix-blend-mode: normal}
.fileStatus img[src*="clock"] {mix-blend-mode: normal}
#addSection table, #createSection table {animation: fade-in .2s ease-in}
.snarkAddInfo code {animation: fade-in .5s linear}
#createSection, #addSection, #configSection, .configPanel, .section, .mainsection {margin: 0 0 10px 0; padding: 0 10px; text-align: center; word-wrap: break-word; color: #ddd; border: 1px solid #1f1400; border-radius: 2px; box-shadow: var(--highlight), 0 0 1px 0 rgba(77,61,51,.3); background: #dfd7d1}
.section, .mainsection {padding: 10px; background: var(--panel)}
.mainsection#media {padding-top: 0}
.iframed #snarkInfo ~ .mainsection {margin-top: -1px}
.iframed #snarkInfo ~ #commentSection {margin-top: -11px; margin-bottom: 1px}
#createSection, #addSection, #configSection, .configPanel, #mainsection + form .configPanel {background: var(--panel)}
#configSection {padding: 0 10px 13px}
#mainsection + form .configPanel {background-size: 100%}
.configPanel table {margin-bottom: 8px}
.configPanel td, .snarkNewTorrent td, select, select option, input, textarea, input[name="nofilter_dataDir"], .configPanel th {font-family: var(--bodyfont); font-size: 9pt}
.iframed .mainsection, .iframed #createSection, .iframed #addSection, .iframed #configSection, .iframed .configPanel {border-radius: 0; box-shadow: var(--highlight), inset 0 0 2px 0 #ffefe6}
.iframed #createSection, .iframed #addSection, .iframed #configSection, .iframed .configPanel {margin-top: -11px}
#addSection table, #createSection table, .configPanel table {border: none}
#addSection td:first-child, #createSection td:first-child {width: 120px; text-align: right; font-weight: 700}
#createSection td:nth-child(n+2), #addSection td:nth-child(n+2) {text-align: left}
#createSection #trackerselect th, #createSection #trackerselect td {text-align: center}
#createSection #trackerselect {margin: 10px 0 5px 0; width: calc(100% - 202px); border: var(--border_hard); margin-left: 5px; border-collapse: separate; border-spacing: 0; border-radius: 2px; box-shadow: 0 0 2px 1px rgba(77, 69, 62, .3)}
#trackerselect tr:first-child td {padding-top: 7px; padding-bottom: 7px; font-weight: 700}
#trackerselect td {white-space: nowrap; text-align: center}
#trackerselect tr:nth-child(n+2) td {border-right: var(--border_hard); border-right: 1px solid rgba(111, 83, 62, .5)}
#trackerselect tr:nth-child(n+2) td:last-child {border-right: none}
#trackerselect td:first-child, #trackerselect td:last-child {width: 30%}
#trackerselect td:nth-child(2), #trackerselect td:nth-child(3) {min-width: 60px; max-width: 200px}
.trackerconfig tr:first-child {font-weight: 700}
#trackerselect tr:first-child td {background: var(--th); border-bottom: var(--border_hard)}
#trackerselect tr:nth-child(n+2):hover td {background: #f9efcf}
#trackerselect td:first-child, #trackerselect td:last-child {width: 20%; font-weight: 400}
#trackerselect .optbox[type=radio], #trackerselect .optbox[type=checkbox] {margin: 4px}
#addSection tr:first-child td:last-child {white-space: nowrap}
#addSection input[type=text], #createSection input[type=text] {width: calc(100% - 200px)}
.snarkConfig tr:nth-last-child(4) td, .trackerconfig tr:nth-last-child(4) td {padding-bottom: 10px}
.snarkConfig tr:nth-last-child(2) td, .trackerconfig tr:nth-last-child(2) td {padding-top: 10px; border-top: var(--border_hard)}
.configPanel tr:nth-last-child(2) td:last-child {padding-right: 0}
.configPanel tr:last-child td, .snarkConfig tr:nth-last-child(3) {display: none}
.configPanel tr:nth-last-child(2) td {text-align: right}
#createSection form, #configSection form, #addSection form {color: #ddd}
code, tt {padding: 0 1px; font-family: var(--monospaced); font-size: 8.5pt; font-weight: 700; color: #313; user-select: all}
.routerdown {color: #7f4c0f}
.trackerconfig {margin-top: 11px; text-align: left; border-collapse: separate; border-spacing: 0}
.trackerconfig th {background: linear-gradient(180deg,#efefef 51%, #cfc7c2 52%)}
.trackerconfig th:first-child, .trackerconfig td:first-child {padding-left: 0; width: 1%; white-space: nowrap}
.trackerconfig th:first-child {border-radius: 2px 0 0 0; border-left: var(--border_hard); background: var(--nuke) center right 8px no-repeat, linear-gradient(180deg,#efefef 51%, #cfc7c2 52%); background-size: 14px, 100%}
.trackerconfig th:last-child {border-radius: 0 2px 0 0; border-right: var(--border_hard)}
.trackerconfig th:nth-child(n+4), .trackerconfig th:nth-child(n+5), .trackerconfig td:nth-child(n+4), .trackerconfig td:nth-child(n+5) {text-align: center}
.trackerconfig th, .trackerconfig td, .trackerconfig th:last-child, .trackerconfig td:last-child {text-align: left}
.trackerconfig td:first-child {text-align: right}
.trackerconfig input[type=text] {margin-left: 0}
.trackername {width: 100px}
.trackerhome {width: 200px}
.trackerannounce {width: 230px}

/* toggle create/add panel view */
.mainsection .toggleview {margin: -10px auto 0; display: block; width: 20%; min-width: 300px; max-width: 600px}
input.toggle_input {width: 0; height: 0; position: absolute; z-index: -1; opacity: 0}
.toggle_input::before {display: none}
.toggleview:hover {color: #f90; cursor: pointer}
input:not(checked) + label + hr + table, input:not(checked) + label + hr + table + table {display: none}
input:checked + label + hr + table, input:checked + label + hr + table + table {display: table}
.mainsection input:not(checked) + .toggleview {margin-bottom: -12px}
.mainsection input:checked + .toggleview {margin-bottom: -5px}
.toggleview, .configTitle a:visited {color: #930}
.toggleview:active, .configTitle a:active {color: #603110}
.toggleview img:active, .toggleview:active img, .configTitle a:active img {transform: rotate(90deg); transition: ease transform .3s 0s}

/* debug */
#debugMode {margin: 0; display: inline-block; vertical-align: middle; width: 16px; height: 16px; font-size: 0; opacity: 0; background: var(--debug) no-repeat center center / 16px}
#debugMode:hover {opacity: 1}
#debugMode:active {transform: scale(.9)}
.debuginfo td:first-child {background: var(--debuginfo) no-repeat center center / 14px; mix-blend-mode: luminosity}
.debuginfo b {text-transform: capitalize; font-family: var(--bodyfont)}
#dhtDebug th { text-align: center;font-weight: 400}
hr.debug {margin: 5px 0; width: 100%; height: 1px; display: none; position: relative; z-index: 10}
/* end debug */
.peerinfo td:first-child, .peerinfo:hover td:first-child {background-image: var(--peer); background-position: center center; background-repeat: no-repeat; background-size: 18px}
.peerinfo td, .debuginfo td {padding-top: 5px; padding-bottom: 5px}
#totals {display: inline-block; margin: 2px 0 2px 6px; font-weight: 700}
#totals span, #ourDest {white-space: nowrap}
#totals tt {line-height: 1.7}

.priority {width: 2%; white-space: nowrap; vertical-align: middle; text-align: center; font-size: 8pt}
.priority::after {min-height: 30px; display: inline-block; vertical-align: middle; content: ""}
.priority .optbox[type=radio] {text-align: left; margin: 3px}
.priorityHigh, .priorityNormal, .prioritySkip {padding: 0; width: 52px; display: inline-block; overflow: hidden; vertical-align: middle; text-align: left; font-size: 0; color: transparent; background-size: 18px}
.priorityHigh {background: url(/i2psnark/.resources/icons/clock_red.png) no-repeat left 26px center}
.priorityNormal {background: url(/i2psnark/.resources/icons/clock.png) no-repeat left 26px center}
.prioritySkip {background: url(/i2psnark/.resources/icons/block.png) no-repeat left 26px center}

/* Comments Section */
#commentInfo, #userComments, #mediaContainer {margin: 10px 0 0; border: var(--border_hard); border-top: none; border-bottom: none; border-collapse: separate}
#mediaContainer {border: var(--border_hard)}
#userComments {margin-top: 0}
#commentInfo td:first-child, #userComments td:first-child {text-align: right}
#commentInfo tr:last-child td, #userComments tr:last-child td {border-bottom: var(--border_hard)}
#commentInfo tr:first-child th {text-align: left; border-top: var(--border_hard)}
#userComments tr:first-child td {border-top: var(--border_hard); border-top: 1px solid #fff5ef}
#commentInfo th, #userComments th, #mediaContainer th {padding: 8px 5px; background: var(--th)}
#commentInfo th {padding: 4px 5px}
#commentInfo th {padding-left: 28px; background: var(--chat) no-repeat 8px center, var(--th); background-size: 16px, 100%}
#mediaContainer th {border-top: none; padding-left: 28px; background: url(/i2psnark/.resources/icons/film.png) no-repeat 8px center, var(--th)}
#mediaContainer th.audio {padding-left: 28px; background: url(/i2psnark/.resources/icons/music.png) no-repeat 8px center, var(--th)}
#mediaContainer td {padding: 15px; text-align: center; box-shadow: var(--highlight)}
#mediaContainer audio, #mediaContainer video { width: auto;max-width: 95%;max-width: calc(100% - 10px)}
.newTab {margin: 1px 4px -2px; float: right}
#commentInfo th:last-child {text-align: right}
#commentInfo tr:nth-child(even), #userComments tr:nth-child(odd), #mediaContainer td {background: #dfd6d1}
#showRatings td {border-top: var(--border_hard); background: #efe6e0}
#showRatings td[colspan] {text-align: left}
#commentInfo tr:nth-child(odd), #userComments tr:nth-child(even) {background: #efe6e0}
#commentInfo td, #userComments td {padding: 8px 5px; border-bottom: 1px solid #efe8e0; border-top: 1px solid #fff5ef}
#commentInfo td:first-child {white-space: nowrap}
#commentInfo td:first-child {font-weight: 700}
#commentInfo td:first-child::after, #userComments td:first-child::after {min-height: 32px; display: inline-block; vertical-align: middle; content: ""}
#commentInfo input.accept {float: right; margin-right: 5px}
#commentInfo textarea {width: 100%; height: 64px; min-height: 64px; resize: vertical; font-weight: 400}
#userComments th {text-align: left}
.commentRating, .commentAuthor {width: 1%}
#nameRequired {margin-right: 5px; float: right}
.commentRating {padding-right: 10px}
.commentRating img {margin: 0 0 3px; padding: 0; width: 16px; height: 16px; font-size: 14pt; color: #ff7200}
#commentInfo td:first-child, #userComments td:first-child {padding-right: 2px; width: 1%; white-space: nowrap}
#userComments td {white-space: nowrap}
.commentAuthorName {margin: 2px 0 -2px; padding: 0 4px 0 22px; background: var(--user) no-repeat 4px center; background-size: 14px}
td .commentAuthorName {margin-left: 8px; width: 120px; overflow: hidden; text-overflow: ellipsis; text-align: left; border-radius: 1px; box-shadow: 0 0 0 1px rgba(77, 69, 62, .7); background: var(--user) no-repeat 4px center, linear-gradient(180deg,#fff5ef, #fff4de); background-size: 16px}
.commentAuthorName:empty {display: none}
.commentText {padding-right: 0; white-space: normal; text-align: justify}
.commentText:empty + .commentDelete {background: none}
.commentWrapper {margin: 4px 2px; padding: 8px 10px 8px 26px; text-align: left; border: var(--border_hard); border-radius: 2px; box-shadow: 0 0 0 1px #fff inset; background: var(--chat) no-repeat 6px center #fff6df; background-size: 16px; background-blend-mode: luminosity}
#commentsConfig .optbox {vertical-align: middle; margin-left: 0}
#userComments select {margin-right: 0}
#commentDeleteAction {border: var(--border_hard); box-shadow: inset 0 0 0 1px #efe8e0; background: var(--th)}
#commentDeleteAction td {padding-right: 6px; border-top: var(--border_hard); box-shadow: 0 0 0 1px #efe8e0 inset}
.commentdelete, .commentAction {width: 1%; white-space: nowrap}
.commentAction input[type=submit] {margin-top: 5px; margin-bottom: 5px}
#userComments .commentDelete {padding: 5px 6px 5px 24px; text-align: left; background: var(--nuke) no-repeat 6px center; background-size: 16px}
#newRating td {padding-top: 10px; padding-bottom: 10px; text-align: center}
#newRating td:first-child {padding-right: 0}
#newRating select {width: 90%; width: calc(100% - 10px); margin-left: 8px; text-overflow: ellipsis}
#addCommentText {padding-left: 0}
#myRating td:empty {padding: 0; border-top: none; border-bottom: none}
#myRating td:empty::after {display: none}

#trackers .info_tracker, #trackers .info_tracker a, #trackers .info_tracker a:visited, #torrentEdit .info_tracker a, #torrentEdit .info_tracker a:visited {color: #3f271b}
.info_tracker {margin: 2px 1px; padding: 0 6px 0 16px; max-width: 155px; display: inline-block; vertical-align: middle; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; box-shadow: 0 0 0 1px #cfc6c0; border-radius: 2px; background: #fff5ef var(--b_tracker) no-repeat left 3px center; background-size: 12px}
#trackers .info_tracker:hover, #trackers .info_tracker:hover a, #trackers .info_tracker:hover a:visited {color: #930}
.info_tracker:hover {box-shadow: var(--highlight), 0 0 0 1px #bfb6b0; background: var(--b_tracker_hover) no-repeat left 3px center, linear-gradient(180deg,#efefef 50%, #cfc7c2 50%); background-size: 12px, 100%}
#trackers .info_tracker:active, #trackers .info_tracker:active a, #trackers .info_tracker:active a:visited {color: #fff}
.info_tracker:active {color: #fff; box-shadow: inset 0 0 0 1px #310, inset 3px 3px 3px #310, 0 0 0 1px #bfb6b0; background: #f60 var(--b_tracker_active) no-repeat left 3px center; background: var(--b_tracker_active) no-repeat left 3px center, var(--nav_active); background-size: 12px}
.info_tracker a[href*="b32.i2p"] {max-width: 60px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}

/* configs */
#configs {border-collapse: separate}
#configs td:nth-child(2) {white-space: nowrap}
#configs td:first-child {min-width: 240px; width: 25%; font-weight: 700; text-align: right}
#configs tr:nth-last-child(2) td, .trackerconfig tr:nth-last-child(2) td {border-top: 1px solid #efe6e0}
#configs tr:nth-last-child(4) td, .trackerconfig tr:nth-last-child(4) td {border-bottom: 1px solid #4f3d36}
#configs input:disabled, #configs input:disabled:hover, #configs input:disabled:focus {box-shadow: none; cursor: not-allowed; opacity: .7}
td#bwHelp {padding-left: 28px; width: 90%; line-height: 1; background: url(images/details.svg) no-repeat left 10px center / 14px}
td#bwHelp a {margin-left: 4px; display: inline-block; white-space: nowrap; font-style: normal}
.knownTracker .optbox[type=radio], .knownTracker .optbox[type=radio]:hover {opacity: .3; cursor: default}
.knownTracker .optbox[type=radio]:checked, .knownTracker .optbox[type=radio]:checked:hover {opacity: .5}
#configs td {padding-top: 4px; padding-bottom: 4px; width: 50%; min-width: 0; vertical-align: middle; text-align: left; font-weight: 400}
#configs input, #configs select {margin-top: 0; margin-bottom: 0; vertical-align: middle}
#configs td, #configs td:first-child {padding: 0; padding-right: 0; text-align: left}
#configs tr:nth-last-child(2) td {padding: 12px 0 4px; text-align: right}
#configs th {padding: 4px 8px; font-size: 9pt; color: var(--ink); border: var(--border_hard); border-radius: 2px; background: linear-gradient(180deg,#efefef 51%, #cfc7c2 52%); filter: drop-shadow(0 0 1px #aaa)}
.optionlist {margin: 0; padding: 7px 6px 6px; columns: 400px 3; column-gap: 5px; transition: ease-in-out .5s box-shadow}
.configOption {margin: 5px 0; padding: 4px 5px 4px 0; width: calc(100% - 10px); display: inline-block; white-space: nowrap; vertical-align: middle; border-radius: 2px; box-shadow: 0 0 0 1px #afa399, inset 0 0 0 1px #fef6f0, 0 0 2px #aaa; background: #bfb8b3; transition: ease-in-out box-shadow .1s}
.configOption:hover {box-shadow: 0 0 0 1px #afa399, inset 0 0 0 1px #f90, 0 0 2px #aaa; transition: ease-in-out box-shadow .1s}
.configOption::after {height: 40px; display: inline-block; vertical-align: middle; content: ""}
#configs td b {padding: 0 0 0 5px; min-width: 154px; display: inline-block; text-align: right; color: #453221}
#configs td label b:hover {color: #4d2200}
#configs td b::after {content: ":"}
input[name="nofilter_commentsName"], input[name="i2cpOpts"], input[name="nofilter_dataDir"] {width: calc(100% - 172px)}
#configs input {will-change: transform}
.numeric {max-width: 60px; min-width: 60px}
.numeric:focus {text-align: center}
#snarkLang {margin: 0 5px; padding: 2px 8px; display: inline-block; vertical-align: middle; line-height: 1.6; font-weight: 700; text-align: center; border-radius: 2px; background: #fef6f0}

/* language overrides */
.lang_fr .optionlist, .lang_hu .optionlist, .lang_in .optionlist, .lang_it .optionlist, .lang_sk .optionlist, .lang_nl .optionlist, .lang_pl .optionlist, .lang_pt .optionlist, .lang_ro .optionlist, .lang_sv .optionlist, .lang_tr .optionlist, .lang_uk .optionlist {columns: 500px auto}
.lang_de .optionlist, .lang_es .optionlist, .lang_fr .optionlist, .lang_ru .optionlist {columns: 600px auto}
.lang_it #configs td b, .lang_sk #configs td b {min-width: 180px}
.lang_nl #configs td b, .lang_sv #configs td b, .lang_in #configs td b {min-width: 210px}
.lang_hu #configs td b, .lang_pl #configs td b, .lang_tr #configs td b {min-width: 220px}
.lang_de #configs td b, .lang_fr #configs td b, .lang_pt #configs td b, .lang_ro #configs td b {min-width: 250px}
.lang_uk #configs td b {min-width: 260px}
.lang_es #configs td b {min-width: 280px}
.lang_ru #configs td b, .lang_es #configs td b {min-width: 300px}
.lang_it #configs input[name="nofilter_dataDir"], .lang_it input[name="i2cpOpts"], .lang_it input[name="nofilter_commentsName"], .lang_sk #configs input[name="nofilter_dataDir"], .lang_sk input[name="i2cpOpts"], .lang_sk input[name="nofilter_commentsName"] {width: calc(100% - 200px)}
.lang_in #configs input[name="nofilter_dataDir"], .lang_in input[name="i2cpOpts"], .lang_in input[name="nofilter_commentsName"], .lang_nl #configs input[name="nofilter_dataDir"], .lang_nl input[name="i2cpOpts"], .lang_nl input[name="nofilter_commentsName"], .lang_sv #configs input[name="nofilter_dataDir"], .lang_sv input[name="i2cpOpts"], .lang_sv input[name="nofilter_commentsName"] {width: calc(100% - 230px)}
.lang_hu #configs input[name="nofilter_dataDir"], .lang_hu input[name="i2cpOpts"], .lang_hu input[name="nofilter_commentsName"], .lang_pl #configs input[name="nofilter_dataDir"], .lang_pl input[name="i2cpOpts"], .lang_pl input[name="nofilter_commentsName"], .lang_tr #configs input[name="nofilter_dataDir"], .lang_tr input[name="i2cpOpts"], .lang_tr input[name="nofilter_commentsName"] {width: calc(100% - 240px)}
.lang_de #configs input[name="nofilter_dataDir"], .lang_de input[name="i2cpOpts"], .lang_de input[name="nofilter_commentsName"], .lang_fr #configs input[name="nofilter_dataDir"], .lang_fr input[name="i2cpOpts"], .lang_fr input[name="nofilter_commentsName"], .lang_pt #configs input[name="nofilter_dataDir"], .lang_pt input[name="i2cpOpts"], .lang_pt input[name="nofilter_commentsName"], .lang_ro #configs input[name="nofilter_dataDir"], .lang_ro input[name="i2cpOpts"], .lang_ro input[name="nofilter_commentsName"] {width: calc(100% - 270px)}
.lang_uk #configs input[name="nofilter_dataDir"], .lang_uk input[name="i2cpOpts"], .lang_uk input[name="nofilter_commentsName"] {width: calc(100% - 280px)}
.lang_es #configs input[name="nofilter_dataDir"], .lang_es input[name="i2cpOpts"], .lang_es input[name="nofilter_commentsName"] {width: calc(100% - 300px)}
.lang_ru #configs input[name="nofilter_dataDir"], .lang_ru input[name="i2cpOpts"], .lang_ru input[name="nofilter_commentsName"] {width: calc(100% - 330px)}

#configs {user-select: none}
#embed, #fullscreen {margin: 0 -5px -1px 0; padding: 0 5px; float: right; font-size: 8pt; color: #cf0f00; border: 1px solid #afa399; background: var(--th)}
.iframed #embed {display: none}
#fullscreen {display: none}
.iframed #embed {display: none}
.iframed #fullscreen {display: inline-block}

/* tooltip */
#bwHelp {margin-left: -184px; padding: 15px 15px 15px 50px; width: 320px; display: block; visibility: hidden; position: absolute; bottom: 125%; left: 0; z-index: 999; white-space: normal; text-align: center; border-radius: 3px; font-size: 10pt; font-weight: 700; background: #ffe var(--snark) no-repeat 10px center; background-size: 26px; background-blend-mode: luminosity; opacity: 0; filter: drop-shadow(0 0 1px #7f766f); will-change: transform}
#bwhelp::after {margin-left: -10px; position: absolute; top: 100%; left: 50%; border-width: 10px; border-style: solid; border-color: #ffe transparent transparent transparent; content: ""}
#bwHoverHelp:hover #bwHelp, #bwHoverHelp:active #bwHelp {visibility: visible; text-align: center; opacity: 1; transition: ease opacity .3s}
#bwHoverHelp {position: relative; display: inline-block}
#bwHoverHelp img {width: 16px; height: 16px; margin-right: 4px; opacity: 0}
#bwHoverHelp::after {margin-left: -20px; width: 16px; height: 16px; display: inline-block; vertical-align: middle; background: url(images/details.svg) no-repeat center center; content: ""}
#bwHoverHelp:hover + #bwHelp {padding: 20px; display: block; float: left; position: fixed; top: 48px; left: 0; z-index: 9999; white-space: nowrap; text-align: center; font-size: 12pt; border-bottom: 5px solid #212; border-top: 5px solid #212; box-shadow: 0 1px 3px #101; background: #313}

/* tracker config */
#addtracker td {padding-top: 5px; padding-bottom: 6px}
.trackerconfig {margin-top: -3px}
.trackerconfig tr:nth-last-child(5) td {padding: 0; line-height: 0; font-size: 0; border-bottom: 1px solid #4f3d36}
.trackerconfig tr:nth-last-child(4) td {padding-top: 5px; border-top: 1px solid #efe6e0}
.knownTracker:nth-child(odd) {background: #e8dfda}
.knownTracker:nth-child(even) {background: #e0d9d5}
.knownTracker:first-child:hover, .knownTracker:first-child:hover td {background: none}
.knownTracker:hover, .knownTracker:hover td {background: #f9efcf}
.knownTracker td:nth-child(2) {font-weight: 700; opacity: .9}
.knownTracker:hover td:nth-child(2) {opacity: 1}
.knownTracker td:first-child {padding-left: 3px; border-left: var(--border_hard)}
.knownTracker td:last-child {border-right: var(--border_hard)}
.knownTracker a {display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 220px; width: 220px}
.trackerhome, .trackerannounce {width: 260px}
.trackerconfig .delete, .trackerconfig .reload {float: left}
.trackerconfig input.delete {margin-left: 0; margin-right: 8px}

/* torrent filter bar */
#torrentDisplay {margin: -3px 0 -1px; padding: 0; display: block; position: relative; z-index: 100; white-space: nowrap; border: var(--border_hard); background: var(--th)}
#torrentDisplay input {position: absolute; opacity: 0; z-index: -1; height: 0; width: 0}
#torrentDisplay label {padding: 2px 10px; min-width: 80px; display: inline-block; font-weight: 700; color: #3f271b; text-shadow: 0 0 1px #fff5ef; border-right: var(--border_hard); box-shadow: inset 0 0 0 1px rgba(255,245,239,.5); background: var(--nav); opacity: .8}
#torrentDisplay label:hover {color: #930; box-shadow: var(--highlight); background: var(--nav_hover); opacity: 1}
#torrentDisplay label:active {box-shadow: var(--highlight), inset 2px 2px 3px 1px #59513b, 0 0 0 1px rgba(77, 69, 62, .1); background: var(--nav_active)}
#torrentDisplay input:checked + label {box-shadow: inset 0 0 0 1px #efe6e0, inset 2px 2px 3px 1px #59513b, 0 0 0 1px rgba(77, 69, 62, 0.1)}
#torrentDisplay label[for="all"] {border-left: var(--border_hard)}
#torrentDisplay input:checked + .filterbutton {text-shadow: 0 1px 1px #ebe5e0; background: linear-gradient(180deg,rgba(207, 193, 181, .6), #d7cbc1), repeating-linear-gradient(45deg, #75604e 1px, #a09286 1px, #bfafa2 2px); transition: ease background .15s; pointer-events: none}

/* fix firefox rendering bug when filter displays no torrents */
#torrents tr[style="display: none;"]:last-child {display: table-row}
#torrents tr[style="display: none;"]:last-child > * {display: none}

.peerCount .left, .peerCount .right {min-width: 12px; display: inline-block}
.peerCount .left {padding-left: 2px; text-align: left}
.peerCount .right {padding-right: 2px; text-align: right}
th.peerCount img {margin-left: 6px}
td.peerCount {padding-left: 2px; padding-right: 2px; width: 1%; min-width: 40px; white-space: nowrap; text-align: left; font-weight: 700}
.nopeers.zero td.peerCount, .stopped.zero td.peerCount {text-align: center}
.peerCount .left, .peerCount .right {min-width: 12px; display: inline-block}
.peerCount .left {padding-left: 2px; text-align: left}
.peerCount .right {padding-right: 2px; text-align: right}

/* alternative download bar popup bar text just for our downloads in #torrents*/
.percentBarText {padding: 3px; min-width: 140px; display: inline-block; position: relative; top: -22px; left: -32px; border-radius: 2px; background: #ffe; filter: drop-shadow(0 0 1px #776)}
.percentBarInner, .percentBarOuter {max-width: 84px}
.rowOdd:not(.peerinfo) .torrentDownloaded .percentBarText::after, .rowEven:not(.peerinfo) .torrentDownloaded .percentBarText::after {margin-left: -7px; position: absolute; top: 90%; left: 50%; border-width: 7px; border-style: solid; border-color: #ffe transparent transparent transparent; content: ""}


#torrentSort {text-align: right}
td.torrentDetails {padding-left: 6px}

/* pagenav */
.pagenavcontrols {line-height: 1.2}
#pagenavtop.pagenavcontrols {margin-top: -27px; padding: 3px 2px 2px; position: relative; top: 30px; display: inline-block; vertical-align: middle; white-space: nowrap; font-size: 9pt}
.pagenavcontrols img, .pagenavcontrols a img:hover, .pagenavcontrols a:focus img {padding: 3px 4px; max-height: 12px; font-size: 0; border: 1px solid #541; border-radius: 2px; box-shadow: var(--highlight); background: linear-gradient(180deg,#fff7ef 50%, #cfc1b5 50%); filter: sepia(100%) hue-rotate(340deg) drop-shadow(0 0 1px #999)}
.pagenavcontrols a img:hover, .pagenavcontrols a:focus img {background: linear-gradient(180deg,#fff 50%, #292421 50%); filter: sepia(100%) hue-rotate(340deg) drop-shadow(0 0 1px #999)}
.pagenavcontrols a:active img {box-shadow: var(--highlight), inset 3px 3px 3px #3f362f; transform: none}
.pagenavcontrols img.disable, .pagenavcontrols img.disable:hover {opacity: .2}
.pagenavcontrols {padding: 2px 10px; display: inline-block}
.pagenavcontrols a img {opacity: .7}
.pagenavcontrols:hover a img {opacity: 1}
.pagenavcontrols img::before {width: 14px; height: 16px; display: inline-block; vertical-align: middle; content: ""}
#pagecount {margin: 0 6px; padding: 2px 10px; display: inline-block; vertical-align: middle; color: #5c514b; letter-spacing: .2em; border-radius: 3px; box-shadow: 0 0 0 1px #afa9a4; background: linear-gradient(180deg,#fffbef, #c8c1bc); font-weight: 700}

/* bottom pagenav */
.pagenavcontrols, .iframed .pagenavcontrols {transform: none}
#pagenavbottom .pagenavcontrols {margin: 0; position: static}
.pagenavcontrols img {overflow: hidden; font-size: 0}
#pagenavbottom, #pagenavbottom:hover {text-align: center; background: var(--th)}
.pagenavcontrols {display: block}

/* peerid + client */
.peerdata {padding-left: 0}
.peerclient {margin: 3px 0; padding: 0; border: var(--border); border-radius: 2px; box-shadow: var(--highlight); background: #cfc7c2}
#ourDest {margin-left: 3px; padding: 0 0 0 4px; display: inline-block; border: var(--border); border-radius: 2px; box-shadow: var(--highlight); background: #cfc7c2; opacity: .85}
#ourDest tt, .peerinfo tt {margin: 1px 1px 1px 4px; padding: 0 4px 0 6px; display: inline-block; background: #3f271b}
.peerclient, .peerinfo tt, .clientid {display: inline-block; vertical-align: middle; line-height: 1.2}
.peerinfo tt {margin-left: 1px; padding: 2px 5px; box-shadow: none; opacity: .8}
.clientid {margin: 0 1px 0 -3px; padding: 2px 4px 2px 0; width: 58px; display: inline-block; overflow: hidden; white-space: nowrap; vertical-align: middle; text-overflow: ellipsis; font-size: 90%; text-align: center; border-radius: 0 2px 2px 0; background: #cfc7c2}
.clientVersion {display: none}
.peerinfo td > * {vertical-align: middle}

img {font-size: 0; overflow: hidden}
.downloading.active .percentBarOuter, .peerinfo.active .percentBarOuter {background: repeating-linear-gradient(135deg, #fff7ef, #fff7ef 5px, #efdfd1 5px, #efdfd1 10px); background-size: 200%; animation: downloadbar 1s linear 2s both; opacity: 1}
.inactivity {margin-left: 10px; height: 6px; min-width: 5px; max-width: 400px; display: inline-block; background: #900; background: repeating-linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0) 10px, rgba(255,255,255,.6) 10px, rgba(255,255,255,.6) 11px, rgba(0,0,0,0) 11px), linear-gradient(180deg,rgba(255,255,255,.3) 50%, rgba(0,0,0,.3) 50%), linear-gradient(90deg, #aa0 40px, #d30 100px, #900); border-radius: 3px; box-shadow: inset 0 0 0 1px rgba(160,152,146,.8)}
.inactivity[style="width: 0px;"], .inactivity[style="width: 1px;"], .inactivity[style="width: 2px;"], .inactivity[style="width: 3px;"], .inactivity[style="width: 4px;"], .inactivity[style="width: 5px;"] {display: none}
#torrents tfoot tr:first-child th:nth-child(n+2) {white-space: nowrap}
tfoot .RateDown:not(:empty)::before, tfoot .torrentDownloaded:not(:empty)::before, tfoot .RateUp:not(:empty)::before,tfoot .torrentUploaded:not(:empty)::before {margin-right: 1px; display: inline-block; vertical-align: top; font-size: 90%; font-style: normal; text-shadow: 0 0 1px #fff}
tfoot .RateDown:not(:empty)::before, tfoot .torrentDownloaded:not(:empty)::before {content: "\27A4"; transform: rotate(90deg) scaleX(.6)}
tfoot .RateUp:not(:empty)::before,tfoot .torrentUploaded:not(:empty)::before {content: "\27A4"; transform: rotate(-90deg) scaleX(.6)}
.torrentUploaded .left {min-width: 12px}
.RateDown .left, .RateUp .left, .torrentUploaded .left, .RateDown .right, .RateUp .right, .torrentUploaded .right {min-width: 22px; display: inline-block; vertical-align: middle; text-align: left}
.RateDown .right, .RateUp .right, .torrentUploaded .right {min-width: 40px; text-align: right}
.torrentUploaded .left {min-width: 12px}
.choked .left, .choked .right {display: none}
.RateDown, .RateUp, .torrentUploaded {text-align: center}
#commentInfo th > * {vertical-align: middle; display: inline-block; line-height: 1.4}
#commentsToggle input[type=submit] {margin: 0 0 0 -2px; padding: 10px 16px 11px; vertical-align: middle; display: inline-block; float: none; font-size: 0; background-position: center calc(50% + .5px)}
#commentstoggle {margin: -4px 0 -5px; padding: 4px 8px 4px 5px; display: inline-block; vertical-align: middle; border-left: var(--border_hard); border-right: var(--border_hard)}
#commentstoggle input {margin-left: 4px; margin-right: 0; display: inline-block}
#commentstoggle input.accept {padding: 10px 15px; font-size: 0; background-position: center center}
#nameRequired, .commentAuthorName {display: inline-block; vertical-align: middle; line-height: 24px}
.commentAuthorName {max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
#metacomment {padding: 0; line-height: 1.4; text-align: justify}
#metacomment div {padding: 4px 4px 4px 0}
.iframed #configSection, .iframed #trackers, .iframed .mainsection#snarkInfo {margin-bottom: 0}

/* comment indicator */
.snarkFiletype {position: relative; vertical-align: middle}
.torrentDetails img:not([src$="rateme.svg"]), .fileIcon img {min-width: 20px; min-height: 20px}
.snarkCommented {display: inline-block; position: absolute; top: 1px; right: 3px; z-index: 20; line-height: 0; font-size: 0}
.snarkCommented img {padding: 0; height: 9px; width: auto; border: none; box-shadow: none}

#torrentOrderControl .optbox[type=checkbox], #torrentOrderControl .optbox[type=checkbox]:checked, #torrentOrderControl .optbox[type=checkbox][disabled], #torrentOrderControl .optbox[type=checkbox][disabled]:checked {border: 1px solid #bbb}
.optbox {margin: 4px; width: 19px; height: 19px; position: relative; box-sizing: border-box; border: 1px solid #512f15; box-shadow: inset 2px 2px 2px #b2a499; background: #faf1eb; appearance: none}
.optbox[type=radio] {border-radius: 50%}
.optbox:hover, .optbox:focus {border: 1px solid #b32; background: #fff}
.optbox:checked, .optbox:not(:checked):hover, .optbox:not(:checked):focus {box-shadow: var(--highlight)}
.optbox[disabled], .knownTracker .optbox[type=radio] {opacity: .5; pointer-events: none}
.optbox::before {width: 9px; height: 9px; position: absolute; top: 4px; left: 4px; font-size: 0; background: #512f15; content: ""; transition: linear all .05s; will-change: transform}
.optbox[type=checkbox]::before {border-radius: 1px}
.optbox[type=radio]::before {border-radius: 50%}
.optbox:checked:hover::before, .optbox:checked:focus::before {background: #b32}
.optbox:not(:checked)::before {transform: scale(0)}

/* option sliders */
.configOption .optbox[type=checkbox], #commentsToggle .optbox[type=checkbox] {margin-left: 5px; width: 40px; height: 21px; position: relative; border: none; border-radius: 1px; box-shadow: 0 0 0 1px #6f645d, var(--highlight), inset 3px 3px 3px rgba(0,0,0,.2); background: #efe6e0; outline: none; appearance: none; transition: ease-in left .15s}
.configOption .optbox[type=checkbox]:checked, #commentsToggle .optbox[type=checkbox]:checked {box-shadow: 0 0 0 1px #6f645d, inset 0 0 0 1px #dfd, inset 3px 3px 3px rgba(0,16,0,.4); background: linear-gradient(180deg,#393,#4a4)}
.configOption .optbox[type=checkbox]:not(:checked):active, #commentsToggle .optbox[type=checkbox]:not(:checked):active {background: linear-gradient(180deg,#393,#4a4)}
.configOption .optbox[type=checkbox]:checked:active, #commentsToggle .optbox[type=checkbox]:checked:active {background: linear-gradient(180deg,#cf0f00,#f00)}
.configOption .optbox[type=checkbox]:hover, .configOption .optbox[type=checkbox]:focus, #commentsToggle .optbox[type=checkbox]:hover, #commentsToggle .optbox[type=checkbox]:focus{box-shadow: 0 0 0 1px #6f645d, 0 0 0 2px #f60, var(--highlight), inset 3px 3px 3px rgba(0,0,0,.2)}
.configOption .optbox[type=checkbox]::before, .configOption .optbox[type=checkbox]:hover::before, .configOption .optbox[type=checkbox]:focus::before, .configOption .optbox[type=checkbox]:active::before, #commentsToggle .optbox[type=checkbox]::before, #commentsToggle .optbox[type=checkbox]:hover::before, #commentsToggle .optbox[type=checkbox]:focus::before, #commentsToggle .optbox[type=checkbox]:active::before {width: 20px; height: 100%; position: absolute; top: 0; left: 0; border-radius: 1px; box-shadow: inset 0 0 0 1px #74573e, inset 0 0 0 2px #f6f1ee, 0 2px 5px rgba(0,0,0,.2); background: linear-gradient(#fff, #f6f1ee, #efe6e0, #e5d6cd); content: ""; transform: scale(.85); transition: ease-in left .15s}
.configOption .optbox[type=checkbox]:checked::before, #commentsToggle .optbox[type=checkbox]:checked::before {left: 19px}
.configOption .optbox[type=checkbox]:disabled, .configOption .optbox[type=checkbox]:disabled + label {opacity: .45; pointer-events: none}

.snarkFilename .targetfile, .snarkFilename:hover .tags, .snarkFileName a:empty {display: none}
.snarkFilename:hover .targetfile {display: inline-block}
#snarkFiles .toggleview img {margin-right: 0}
#snarkInfo + #commentSection, .iframed #snarkInfo + #commentSection {margin-top: -1px}
#completion {position: relative}
#metainfo {padding: 2px 8px 2px 4px; background: #ffffee; border: 1px solid #886; box-shadow: var(--highlight)}
#completion:not(:hover) #metainfo {display: none}
#completion:hover #metainfo {position: absolute; top: 24px; left: -120px; display: inline-block}
#metacomment .commentWrapper {margin: 7px 6px 6px; padding: 7px 11px 8px; box-shadow: var(--highlight); background: #fff6df}

/* table sort indicators */
.sortIcon {position: relative}
.sortIcon:hover .ascending, .sortIcon:hover .descending {transform: rotate(180deg); transition: linear transform .1s}
.ascending, .descending {position: absolute; top: -2px; right: -8px; display: inline-block; border-width: 4px; border-style: solid; border-color: transparent transparent #4d453e transparent}
.descending {top: 2px; border-color: #4d453e transparent transparent transparent}
.sortIcon:hover .ascending {top: 2px; border-color: transparent transparent #df0067 transparent}
.sortIcon:hover .descending {top: -2px; border-color: #df0067 transparent transparent transparent}
#torrentSort .ascending, th#torrentSort .descending {right: -11px}

/* action buttons */
.torrentAction input[type=submit] {margin: 0 2px; padding: 12px; min-width: 0; min-height: 0; float: none; vertical-align: middle; font-size: 0; border: 1px solid #4d453e; border-radius: 1px; box-shadow: var(--highlight); background-position: center center; opacity: .85; cursor: pointer; transition: ease box-shadow .03s; will-change: transform}
#actionStopAll, #actionStartAll {padding: 11px 19px}
.actionStart {background: var(--start) no-repeat center center / 14px, var(--btnAction), var(--start_hover) no-repeat center center / 14px}
.actionStop {background: var(--stop) no-repeat center center / 14px, var(--btnAction), var(--stop_hover) no-repeat center center / 14px}
.actionRemove {background: var(--remove) no-repeat center center / 14px, var(--btnAction), var(--remove_hover) no-repeat center center / 14px}
.actionDelete {background: var(--delete) no-repeat center center / 14px, var(--btnAction), var(--delete_hover) no-repeat center center / 14px}
#actionStartAll {background: var(--startall) no-repeat center center / auto 14px, var(--btnAction), var(--startall_hover) no-repeat center center / auto 14px}
#actionStopAll {background: var(--stopall) no-repeat center center / auto 14px, var(--btnAction), var(--stopall_hover) no-repeat center center / auto 14px}
.torrentAction input:hover, .torrentAction input:focus {border-color: #80003c; box-shadow: inset 0 0 0 1px rgba(223,0,103,.4), inset 0 0 0 2px rgba(255,255,255,.5); background-blend-mode: normal; opacity: 1; transition: ease box-shadow .01s, ease border .01s}
.actionStart:hover, .actionStart:focus {background: var(--start_hover) no-repeat center center / 14px, var(--btnAction_hover)}
.actionStop:hover, .actionStop:focus {background: var(--stop_hover) no-repeat center center / 14px, var(--btnAction_hover)}
.actionRemove:hover, .actionRemove:focus {background: var(--remove_hover) no-repeat center center / 14px, var(--btnAction_hover)}
.actionDelete:hover, .actionDelete:focus {background: var(--delete_hover) no-repeat center center / 14px, var(--btnAction_hover)}
#actionStartAll:hover, #actionStartAll:focus {background: var(--startall_hover) no-repeat center center / auto 14px, var(--btnAction_hover)}
#actionStopAll:hover, #actionStopAll:focus {background: var(--stopall_hover) no-repeat center center / auto 14px, var(--btnAction_hover)}
.torrentAction input:active {box-shadow: var(--highlight), inset 3px 3px 3px rgba(0,0,0,.6); background-blend-mode: luminosity; filter: none}
.actionStart:active {background: var(--start) no-repeat center center / 12px, var(--btnAction_active)}
.actionStop:active {background: var(--stop) no-repeat center center / 12px, var(--btnAction_active)}
.actionRemove:active {background: var(--remove) no-repeat center center / 12px, var(--btnAction_active)}
.actionDelete:active {background: var(--delete) no-repeat center center / 12px, var(--btnAction_active)}
#actionStartAll:active {background: var(--startall) no-repeat center center / auto 12px, var(--btnAction_active)}
#actionStopAll:active {background: var(--stopall) no-repeat center center / auto 12px, var(--btnAction_active)}

/* torrent edit */
.iframed #editSection + #snarkFiles {margin-top: -11px}
#torrentEdit {margin: 10px 0 0; border-top: none}
#torrentEdit th, #torrentEdit td {padding: 8px 20px; width: 25%; text-align: center}
#torrentEdit th, #torrentEdit tfoot td {background: var(--th)}
#torrentEdit th[colspan="4"] {text-align: left; border-top: none}
#torrentEdit th:first-child:not([colspan]), #torrentEdit td:first-child:not([colspan]) {width: 20%; text-align: right}
#torrentEdit th:nth-child(2), #torrentEdit td:nth-child(2) {width: 30%; text-align: left}
#torrentEdit #addCommentText {padding: 18px 20px; text-align: center; border-bottom: none}
#torrentEdit textarea {width: 100%; height: 60px; min-height: 60px; resize: vertical}
#torrentEdit tfoot td {padding: 12px 20px; text-align: center; border-top: var(--border); border-bottom: none}
#torrentEdit tfoot input {margin-right: -4px; float: right}
#torrentEdit .info_tracker {padding-left: 16px; min-width: 80px; text-align: left}
#torrentEdit .info_tracker, #torrentEdit .info_tracker a {line-height: 1.3; font-size: 95%; font-weight: bold; background-position: 4px center; pointer-events: none}

@keyframes wait {
  0% {background: var(--loading) no-repeat center center / 36px; transform: rotate(-480deg)}
  99% {background: var(--loading) no-repeat center center / 36px}
  100% {background: var(--snark) no-repeat center center / 28px; transform: rotate(0)}
}

/* inline notifications */
.notify:not([hidden]) {height: calc(100% - 1px) !important}

/* Resource Errors */
.resourceError {border: var(--border_hard)}
.resourceError th {padding: 10px 10px 10px 40px; background: var(--err) no-repeat left 10px center / 24px, var(--th)}
.resourceError td {padding: 10px; font-size: 10pt}
.resourceError tr:nth-child(odd), #trackerselect tr:nth-child(odd) {background: #dfd6d1}
.resourceError tr:nth-child(even), #trackerselect tr:nth-child(even) {background: #efe6e0}
.resourceError td:first-child {width: 1%; min-width: 200px; text-align: right}
#DoesNotExist {margin-top: 10px}

/* animations */
@keyframes active {from {background: linear-gradient(to left, #f3c 3px, rgba(0,0,0,0) 3px)} to {background: linear-gradient(to left, #cb4dcb 3px, rgba(0,0,0,0) 3px)}}
@keyframes disappear {from {visibility: visible} to {visibility: collapse}}
@keyframes downloadbar {0% {background-position: left center} 100% {background-position: -29.5px center}}
@keyframes downloading {from {background: linear-gradient(to left, #3d3 3px, rgba(0,0,0,0) 3px)} to {background: linear-gradient(to left, #7f7 3px, rgba(0,0,0,0) 3px)}}
@keyframes fade-in {0% {filter: opacity(0)} 100% {filter: opacity(1)}}
@keyframes scale {0%,100% {transform: scale(1)} 50% {transform: scale(1.3)}}
@keyframes uploading {from {background-position: left center} to {background-position: 20% center}}

/* browser specific */
@supports (justify-content: center) {#navbar {display: flex; justify-content: center}}
@supports (display: flex) {#torrentDisplay {display: flex} #torrentDisplay label {min-width: 0; flex-grow: 1} #torrentDisplay label[for="all"] {border-left: none} #torrentDisplay label:last-child {border-right: none}}
@supports (animation: ease all .1s) {.ascending, .descending {filter: opacity(0); animation: ease fade-in .2s .6s forwards}}
@supports not (-moz-appearance: none) {.peerinfo .torrentDownloaded .percentBarText {line-height: normal}}
@-moz-document url-prefix() {select option {color: #5f1227; box-shadow: inset 0 0 20px 20px #fffcdf; background: #fffcdf} select option:hover, select option:checked {box-shadow: inset 0 0 20px 20px #5f1227; background: #f60}}
@supports not (-moz-appearance: none) {#torrents tbody tr:hover, .dirInfo tbody tr:hover {background: #f9efcf}}
@supports not (-moz-appearance: none) {.rowEven + .rowEven:nth-child(even), .rowOdd + .rowOdd:nth-child(even) {background: #e8dfda} .rowEven + .rowEven:nth-child(odd), .rowOdd + .rowOdd:nth-child(odd) {background: #e0d9d5}}

/* responsive layout */
@media screen and (max-width: 1500px) {
.torrentName a {margin: -3px 0 -2px; padding: 4px 0 6px}
.snarkCommented {top: -3px}
.torrentAction input[type=submit] {padding: 11px; background-size: 13px, 100%, 13px}
.torrentAction input[type=submit]:active {background-size: 11px, 100%}
#actionStopAll, #actionStartAll {padding: 11px 18px}
#totals tt {line-height: 1.5}
tfoot .RateDown:not(:empty)::before, tfoot .torrentDownloaded:not(:empty)::before, tfoot .RateUp:not(:empty)::before, tfoot .torrentUploaded:not(:empty)::before {margin-top: 3px}
}

@media screen and (max-width: 1200px) {
#navbar {width: calc(100% - 22px); transition: ease width .5s .5s}
.peerinfo td, .debuginfo td {padding-top: 2px; padding-bottom: 2px}
.trackerLink {padding: 0; width: 0; max-width: 0; min-width: 0; font-size: 0}
.trackerLink img {display: none}
.magnetLabel {max-width: 280px}
.torrentETA {padding-right: 10px}
.dirInfoComplete {display: none}
#pagenavbottom img {height: 14px}
.torrentName a {max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.torrentDownloaded .percentBarOuter {margin-left: 0}
#torrents tfoot tr:first-child th {padding-top: 2px; padding-bottom: 2px; line-height: 1.2}
.dirInfo td:first-child::before {min-height: 20px}
#commentInfo td, #userComments td {padding: 5px}
#userComments .commentDate {padding-left: 20px}
.canhide {display: none}
.lang_ru .trackerhome, .lang_ru .trackerannounce, .lang_ru .knownTracker a {width: 150px; max-width: 150px}
.lang_de .trackerhome, .lang_de .trackerannounce, .lang_de .knownTracker a, .lang_pl .trackerhome, .lang_pl .trackerannounce, .lang_pl .knownTracker a {width: 180px; max-width: 180px}
.torrentAction input[type=submit] {padding: 10px; background-size: 12px, 100%, 12px}
#actionStopAll, #actionStartAll {padding: 9px 17px}
}

@media screen and (max-width: 1000px) {
.snarkNav {padding: 4px 8px 4px 24px; background-size: 15px, 100%, 100%; background-position: 8px center, center center, center center}
.nav_main {padding: 4px 8px 4px 23px; background-position: 6px center, center center, center center}
.nav_tracker, .nav_tracker:hover, .nav_tracker:focus, .nav_tracker:active, .nav_forum, .nav_forum:hover, .nav_forum:focus, .nav_forum:active {padding: 4px 8px 4px 20px;background-size: 15px, 100%, 100%; background-position: 5px center, center center, center center}
#torrents td[colspan="10"] {white-space: normal}
#torrents thead th a img[src$="showpeers.png"] {display: none}
.configPanel .configTitle, .configPanel .configTitle:hover {font-size: 10pt}
td.graphicStatus img {width: auto; height: 19px}
.rowOdd td, .rowEven td {padding-top: 2px; padding-bottom: 2px}
.torrentName a {max-width: 320px}
.magnetLabel {max-width: 320px; display: inline-block; vertical-align: middle; line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.percentBarOuter, .percentBarText, .percentBarComplete {max-width: 80px}
.fileStatus .percentBarText {font-size: 8pt}
.percentBarOuter, .percentBarInner {height: 14px}
.percentBarText {line-height: 15px}
.dirInfo .percentBarText {line-height: 14px}
.torrentDownloaded .percentBarInner {background: linear-gradient(90deg, rgba(255,64,0,.3) 15px, rgba(255,255,0,.3) 30px, rgba(0,255,0,.3)), linear-gradient(180deg,rgba(255,255,255,.1), rgba(0,0,0,.1)), rgba(255,255,255,.5)}
.dirInfo .percentBarInner {background: linear-gradient(180deg,rgba(255, 247, 239, .75), rgba(255, 247, 239, .75) 50%, rgba(207, 193, 181, .8) 50%, rgba(207, 193, 181, .9)), linear-gradient(90deg, rgba(255, 100, 0, .5) 23px, rgba(255, 255, 0, .5) 47px, rgba(0, 255, 0, .5))}
.dirInfo .percentBarText, .dirInfo .percentBarOuter, .peerinfo .percentBarOuter, .peerinfo .percentBarText {width: 70px}
.dirInfo thead img {max-height: 18px}
.dirInfo td:first-child::before {min-height: 18px}
.knownTracker a, #trackerselect td a {max-width: 200px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap}
#trackerselect td a {max-width: 350px}
.newTab {margin: -1px 4px 0}
.percentBarText {padding: 4px 3px 2px; min-width: 130px; top: -16px; left: -26px}
}

@media screen and (max-width: 800px) {
.page, #navbar {min-width: 650px}
.mainsection {padding: 8px}
#screenlog {margin-bottom: 8px}
.logshim {margin-top: -8px}
.snarkNav, .snarkNav:visited, #configs td, #configs input, #configs select {font-size: 8pt}
.torrentETA a img, .trackerLink a img {display: none}
.graphicStatus {padding-left: 3px}
#torrents th.peerCount img, .torrentUploaded, .RateUp {display: none}
#torrents th img {max-height: 18px}
.peerCount a, .peerCount a:hover, .peerCount a:focus, .peerCount a:visited, .peerCount a:visited:hover, .peerCount a:visited:focus {color: #4d2200; cursor: text}
.torrentName a {max-width: 320px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.torrentUploaded, .RateUp, .peerinfo, .debuginfo {display: none}
.torrentETA, .trackerLink {padding: 0; width: 0; max-width: 0; min-width: 0; font-size: 0}
.torrentDetails, .commentDetails {padding-left: 5px; padding-right: 0}
.torrentName {padding-left: 2px}
#configs td:first-child {min-width: 150px}
.trackerconfig a, .trackerconfig input[type=text] {max-width: 150px}
#trackerselect td a {max-width: 200px}
.torrentInfo {margin-bottom: -11px; position: relative; z-index: 10; border-bottom: none}
.iframed .torrentInfo {margin-bottom: 0; border-bottom: var(--border_hard)}
.torrentInfo th {padding-top: 8px; padding-bottom: 8px}
.fileStatus {text-align: center; font-size: 0}
.dirInfo .fileStatus img {float: none}
.fileStatus img[src*="clock"] {float: left}
#configs #bwhelp {font-size: 0; background: none}
#configs tr:nth-last-child(2) {display: table-row}
#configs tr, #configs tr:nth-last-child(2) td {border: none}
#addSection input[type=text], #createSection input[type=text] {width: 60%}
#addSection td:first-child, #createSection td:first-child {width: 100px}
#commentInfo td:first-child, #userComments td:first-child {width: 100px}
#userComments .commentDate {width: 70px}
#userComments .commentDelete {padding-left: 0; background: none}
.mainsection .toggleview {margin-top: -8px}
}

@media screen and (min-width: 1000px) {
body, #torrents td, .snarkAddInfo, th, td, .snarkFileName, a.control, input[type=submit], input[type="reset"], select, button {font-size: 9pt}
.snarkNav {font-size: 11pt; padding: 4px 8px 4px 26px; background-position: 8px center, center center, center center}
.nav_main, .nav_main:hover, .nav_main:focus, .nav_main:active {background-position: 7px center, center center, center center}
.nav_tracker, .nav_tracker:hover, .nav_tracker:focus, .nav_tracker:active, .nav_forum, .nav_forum:hover, .nav_forum:focus, .nav_forum:active {padding-left: 23px; background-position: 5px center, center center, center center}
.rowOdd td, .rowEven td {padding-top: 3px; padding-bottom: 3px}
#torrents tfoot tr:first-child th {padding-top: 4px; padding-bottom: 4px; line-height: 1.5}
.peerinfo tt {display: inline-block; margin: 0 3px}
.torrentName {padding-left: 1px}
.torrentDownloaded .percentBarText {line-height: 17px}
.peerinfo .torrentDownloaded .percentBarText {line-height: 14px}
.torrentAction {padding-left: 4px; padding-right: 3px}
.torrentName {padding-right: 3px}
.torrentDownloaded {padding-left: 9px; padding-right: 9px}
.torrentETA, .RateUp, .torrentUploaded, .RateDown {padding-right: 8px; padding-left: 8px}
#torrents th:nth-child(n+4) {text-align: center}
td.graphicStatus, td.trackerLink, td.torrentDetails, td.peerCount, td.torrentName, td.torrentDownloaded, td.torrentUploaded, td.torrentAction {background: rgba(255,255,255,.15)}
tr:hover td.graphicStatus, tr:hover td.trackerLink, tr:hover td.torrentDetails, tr:hover td.peerCount, tr:hover td.torrentName, tr:hover td.torrentDownloaded, tr:hover td.torrentUploaded, tr:hover td.torrentAction, .peerinfo td {background: none}
}

@media screen and (min-width: 1200px) {
.rowOdd td, .rowEven td {padding-top: 4px; padding-bottom: 4px}
.snarkNav {padding: 4px 8px 4px 26px; background-size: 16px, 100%, 100%; background-position: 8px center, center center, center center}
.nav_main {padding: 4px 8px 4px 27px; background-position: 8px center, center center, center center; background-size: 18px, 100%, 100%}
.nav_search:hover, .nav_search:focus {background-size: 17px, 100%, 100%; background-position: 8px center, center center, center center}
.percentDownloaded {pointer-events: none;}
.graphicStatus::after {min-height: 20px; vertical-align: middle}
#totals {word-spacing: .15em}
thead a img, thead img {max-height: 21px}
.mainsection #commentInfo td, .mainsection #userComments td {padding: 8px 5px}
.mainsection #userComments .commentDelete {padding-left: 24px}
.mainsection #userComments .commentDate {padding-left: 20px}
.trackerconfig th:last-child, .trackerconfig td:nth-child(7) {padding-left: 50px}
.trackerhome, .trackerannounce, .knownTracker a {width: 300px; max-width: 300px}
.trackerconfig input.trackername {width: 180px; max-width: 180px}
td.peerCount {padding-left: 0; padding-right: 3px; width: 1%; white-space: nowrap; font-weight: 700}
td.peerCount b {padding: 4px 3px; min-width: 104px; display: inline-block; position: relative; line-height: 1; text-align: center; font-size: 95%; color: #ddd; text-shadow: 0 1px 1px #000; -webkit-text-stroke: 0; border-radius: 2px; background: #ac5390; filter: drop-shadow(0 0 1px #000)}
td.peerCount b .left, td.peerCount b .right {margin: 0 1px; padding: 2px 3px 1px; min-width: 38px; display: inline-block; text-align: center; color: #eee; border-radius: 1px; box-shadow: 0 0 0 1px rgba(32,32,32,.4), inset 2px 2px 2px rgba(0,0,0,.2); background: linear-gradient(180deg,rgba(128,128,180,.2), rgba(192,192,220,.2))}
.nopeers td.peerCount b, .nopeers td.peerCount b .left, .nopeers td.peerCount b .right {color: #333; text-shadow: 0 1px 1px #aaa}
td.peerCount b a:hover .left, td.peerCount b a:hover .right {min-width: 32px; color: #f60; background: linear-gradient(180deg,rgba(220,80,0,.3), rgba(255,96,0,.3))}
td.peerCount b .right {margin-left: 0}
td.peerCount b .left {margin-right: 0}
td.peerCount b a:hover .right {margin-left: -9px}
td.peerCount b::before {width: 0; height: 0; position: absolute; top: calc(50% - 5px); left: -10px; border-width: 5px; border-style: solid; border-color: transparent #ac5390 transparent transparent; content: ""}
td.peerCount b a {color: #fff}
td.peerCount b a:hover, td.peerCount b a:focus {color: #f60}
td.peerCount b a:hover::after {width: 0; height: 0; position: absolute; right: 5px; bottom: calc(50% - 2px); border-color: transparent transparent #fff transparent; border-style: solid; border-width: 3px; content: ""}
td.peerCount b a[href*="?p="]:hover::after {top: calc(50% - 2px); border-color: #fff transparent transparent transparent}
td.peerCount b:hover a:hover::after, td.peerCount b:hover a:focus::after {border-color: transparent transparent #f60 transparent}
td.peerCount b:hover a[href*="?p="]:hover::after, td.peerCount b:hover a[href*="?p="]:focus::after {border-color: #f60 transparent transparent transparent}
.active.seeding.complete .peerCount b {background: repeating-linear-gradient(135deg,#937,#937 8px,#826 9px,#826 17px)}
.active.seeding.complete .peerCount b::before {border-color: transparent #937 transparent transparent}
.active.downloading .peerCount b {background: repeating-linear-gradient(135deg,#252,#252 8px,#141 9px,#141 17px)}
.active.downloading .peerCount b::before {border-color: transparent #252 transparent transparent}
.inactive.downloading .peerCount b, .active.starting.processing .peerCount b {color: #333; background: #fc0}
.inactive.downloading .peerCount b, .peerCount b .right, .peerCount b .left {text-shadow: 0 1px 1px #222}
.inactive.downloading .peerCount b::before, .active.starting.processing .peerCount b::before {border-color: transparent #fc0 transparent transparent}
.stopped.complete .peerCount b {background: #28f}
.stopped.complete .peerCount b::before {border-color: transparent #28f transparent transparent}
.nopeers.incomplete .peerCount b {text-shadow: 0 1px 1px #aaa; background: #aaa}
.nopeers.incomplete .peerCount b::before {border-color: transparent #aaa transparent transparent}
.stopped.incomplete .peerCount b, .inactive.neterror .peerCount b {color: #eee; background: #900}
.stopped.incomplete .peerCount b::before, .inactive.neterror .peerCount b::before {border-color: transparent #900 transparent transparent}
}

@media screen and (min-width: 1500px) {
body, #torrents td, .snarkAddInfo, th, td, .snarkFileName, a.control, input[type=submit], input[type="reset"], select, button, code, #pagenavbottom {font-size: 10pt}
textarea {font-size: 9pt}
tt, #torrents tt, #screenlog {font-size: 9pt}
#screenlog {height: 60px}
.snarkAddInfo, .configPanel td, .snarkNewTorrent td, .configPanel th, .configPanel td, .snarkNewTorrent td, select, select option, input, textarea, input[name="nofilter_dataDir"] {font-size: 10pt}
.snarkNav {font-size: 11.5pt; background-size: 17px, 100%, 100%}
.snarkNav:first-child, .snarkNav:hover:first-child {padding-left: 28px; background-size: 17px, 100%, 100%}
.nav_main, .nav_main:hover, .nav_main:focus, .nav_main:active, .nav_forum,.nav_forum:hover, .nav_forum:focus, .nav_forum:active {padding-left: 27px}
.nav_forum, .nav_forum:hover, .nav_forum:focus, .nav_forum:active {background-position: 9px center, center center, center center}
.nav_tracker, .nav_tracker:hover, .nav_tracker:focus, .nav_tracker:active {padding-left: 25px; background-position: 7px center, center center, center center}
#torrentDisplay {margin: -4px 0 -1px}
#torrents thead th {padding-top: 5px; padding-bottom: 5px}
td.graphicStatus img {width: auto; height: 23px}
.graphicStatus::after {min-height: 23px; width: 2px}
.torrentName a {margin: -1px 0 1px}
.torrentName:hover a, .snarkFileName:hover a {border-radius: 2px 20px 20px 2px; background: rgba(207, 193, 181, .4)}
.snarkFileName:hover a {padding-right: 0}
.torrentName:active a, .snarkFileName:active a {border: 1px solid #ff2f85; box-shadow: inset 4px 4px 4px rgba(64,52,31,.3)}
.torrentDownloaded {white-space: nowrap}
.torrentUploaded {padding-left: 5px}
.RateUp {padding-right: 15px}
thead a img, thead img {max-height: 22px}
.configTitle, .configTitle:hover, .configPanel .configTitle, .configPanel .configTitle:hover, .configPanel .configTitle:active, .toggleview {min-width: 300px}
.configTitle a {padding: 1px 0}
.mainsection td, .peerinfo td {padding-top: 2px; padding-bottom: 2px}
.peerinfo tt {margin: 1px 4px 1px 1px}
.dirInfoComplete {margin-right: 4px}
.mainsection .torrentInfo td {padding-top: 4px; padding-bottom: 4px}
.dirInfo td:nth-child(n+2) {padding-left: 10px; padding-right: 10px}
tr#torrentInfoStats td {padding-top: 5px; padding-bottom: 5px}
.debugConnection {margin: 0 4px; padding: 2px 3px; display: inline-block; vertical-align: middle; font-family: var(--monospaced); font-weight: 700; color: #fff; border-radius: 2px; background: #967158}
.trackerhome, .trackerannounce, .knownTracker a {width: 400px; max-width: 400px}
td.torrentDetails img, .dirInfo td:first-child img:not(.thumb) {width: 22px; height: 22px}
td.torrentDetails img {margin-top: -3px; margin-bottom: -3px}
.torrentDetails img[src$="rateme.svg"] {margin-top: -4px; margin-right: -3px; width: 11px; height: 11px}
img[src$="details.png"] {max-height: 18px}
.torrentInfo th:first-child img, #torrentinfostats img, #trackers img {margin: -3px 5px 0; max-height: 18px}
#torrentInfoStats .nowrap {margin-right: 6px}
#torrents .infohash {background-size: 12px}
.torrentInfo .infohash {padding: 2px 0 2px 22px; max-width: 140px; background: #fff5ef var(--hash) no-repeat 6px center / 14px}
.percentBarComplete {padding: 2px 0 1px}
#configs th {font-size: 10pt}
#fullscreen, #embed {font-size: 8.5pt}
.torrentDownloaded, .torrentUploaded, .RateDown, .RateUp {min-width: 76px}
.trackerhome, .trackerannounce, .knownTracker a {width: 400px; max-width: 400px}
}

@media (forced-colors: active) {* {forced-color-adjust: none}}