/* I2P+ Console and Proxy Dark theme */
/* Author: dr|z3d */

@import url(global.css);
@import url(../images/itooplus.css);

:root {
--camo: url("data:image/svg+xml,%3Csvg viewBox='0 0 240 240' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cfilter id='a'%3E%3CfeTurbulence baseFrequency='.2' numOctaves='4' seed='7' stitchTiles='stitch' type='fractalNoise'/%3E%3CfeTile/%3E%3CfeComponentTransfer%3E%3CfeFuncR slope='0.9469288793103452' tableValues='0 0 0 0 1 1' type='discrete'/%3E%3CfeFuncG slope='1.1477696210488517' tableValues='0 0 0 1 1' type='discrete'/%3E%3CfeFuncB intercept='4.3091942798132177' slope='-1.9643779184626435' tableValues='0 1' type='discrete'/%3E%3CfeFuncA intercept='-3.5179822198275872' slope='3.4636819773706904' type='discrete'/%3E%3C/feComponentTransfer%3E%3CfeColorMatrix values='1 0 0 0 0 -1 1 0 0 0 -1 -1 1 0 0 0 0 0 0 1'/%3E%3CfeColorMatrix type='matrix' values='-0.08 0.42 0.09 0 0.08 -0.17 0.35 -0.08 0 0.17 -0.08 0.15 -0.04 0 0.08 0 0 0 0 1'/%3E%3C/filter%3E%3Cpath d='m-29.6-29.6h256v256h-256z' filter='url(%23a)'/%3E%3Cpath d='m-4-4h256v256h-256z' fill='%23080000' opacity='.7'/%3E%3C/svg%3E");
--fatshadow: 0 0 0 1px #000, 0 0 0 5px #141, 0 0 0 6px #000;
--h3: repeating-linear-gradient(90deg, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 4px);
--h3_fade: linear-gradient(180deg,#005000, #000 75%);
--link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cg stroke-width='8'%3E%3Cpath fill='%236f7c91' d='M58.4 24.9L41.5 41.6a14 14 0 01-19.8-19.8L38.6 5.1a14 14 0 0119.7 19.8zm-30.5 3a5.4 5.4 0 007.6 7.6l16.8-16.7a5.4 5.4 0 00-7.6-7.6z'/%3E%3Cpath fill='%23939dac' d='M26.4 44.6l-7.6 7.7a5.4 5.4 0 01-7.6-7.6l16.7-16.8a5.4 5.4 0 017.6 7.6l9.2-9.1a14 14 0 00-22.8-4.6L5 38.6a14 14 0 0019.8 19.7l16.7-16.7a14 14 0 01-15.2 3z'/%3E%3C/g%3E%3C/svg%3E");
--shadow_warn: inset 0 0 0 1px #700, var(--highlight), 0 0 0 2px #131, 0 0 0 3px #000, 0 0 0 5px #020, 0 0 0 6px #000;
}

html, body {min-height: 100%; background: var(--bg_dots) #010}
body {background: none}
body#proxy_error {margin: 5px 0 0 0; padding: 0; text-align: center; font: 8.5pt/130% var(--bodyfont)}
body::before {width: 0; height: 4px; display: inline-block; position: absolute; left: 0; top: 0; box-shadow: 0 2px 2px rgba(0,0,0,.8); background: linear-gradient(180deg,rgba(255,255,255,.1) 50%, rgba(0,0,0,.3) 50%), linear-gradient(90deg, #d30, #f60); content: ""}
::selection {color: #000; background: rgba(220,220,0,.9)}
.logo, button, h3, h4 {user-select: none}
body, button, select {font-family: var(--bodyfont)}
button, select {font-size: 9pt}
h2, h3 {background: var(--h3), var(--h3_fade); background-size: 4px 100%, 100%}
hr {margin: 20px 0 10px; height: 1px; border: none; background: #131}
hr:last-child {margin-top: 20px; margin-bottom: 20px}
.logo, .warning {animation: ease fade .3s 2s both}

/* sidebar */
.logo {margin: -5px 20px 0; padding: 10px; width: 185px; float: left; position: relative; text-align: center; font-size: 10pt; border: 1px solid #131; box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #000; background: var(--mainbg)}
.logo > * {text-align: center}
.logo a:nth-child(n+2) {padding: 10px 0; width: 100%; display: inline-block; position: relative; line-height: 1.8; border-bottom: 1px solid #030}
.logo a:last-child {margin-bottom: -10px; border-bottom: none}
.logo a img, #error500 #sidebar a img {margin: 2px 0 -2px; padding: 0; width: 180px; text-align: center; font-size: 0; filter: saturate(.7) opacity(.9); transition: ease all .2s}
.logo a:hover img, #error500 #sidebar a:hover img {filter: saturate(1.2); transition: ease all .1s}
.logo a:active img, #error500 #sidebar a:active img {transform: scale(.95); filter: saturate(2); transition: none}
.logo hr {margin: 10px -10px 0; height: 1px; color: #494; border: 0 solid #131; background: #131}

/* jump links */
#jumplinks a:first-of-type {margin-left: 19px}
#jumplinks a {margin: 3px 0 3px 5px; padding: 9px 12px 9px 34px; float: left; text-shadow: var(--txt_shadow); box-shadow: var(--outline), var(--bevel); background: url(../images/arrow_right.svg) no-repeat 10px center / 20px, var(--badge); animation: fade .5s ease 3s both}
#jumplinks br {display: none}
#jumplinks h4 {margin: 0 15px 5px; padding: 0 0 10px}
#jumplinks {margin-bottom: 50px}
#jumplinks #linuxfarm {background: url(../images/linuxfarm.svg) no-repeat 10px center / 20px, var(--badge) !important}
#jumplinks #notbob {background: url(../images/notbob.png) no-repeat 10px center / 20px, var(--badge)}
#jumplinks #reg {background: url(../images/reg.svg) no-repeat 10px center / 20px, var(--badge)}
#jumplinks #stats {background: url(../images/stats.svg) no-repeat 10px center / 20px, var(--badge)}
#proxy_error #jumplinks a:hover, #proxy_error #jumplinks a:focus {box-shadow: var(--badge_shadow_hover); background: url(../images/arrow_right.svg) no-repeat 10px center / 20px, var(--badge_hover) !important}
#proxy_error #jumplinks a:active {padding: 10px 11px 8px 35px; text-shadow: 0 1px 1px rgba(0,0,0,.8); box-shadow: var(--badge_shadow_hover), var(--btn_shadow_active); background: url(../images/arrow_right.svg) no-repeat 12px calc(50% + 1px) / 19px, var(--badge_active) !important; background-blend-mode: luminosity}

.option {padding: 10px 20px 0; border: 1px solid #252; box-shadow: var(--fatshadow); background: linear-gradient(180deg,rgba(0,32,0,.5), rgba(0,16,0,.5))}
.option:last-of-type {margin-bottom: 11px}
#b64, #key {white-space: pre-wrap; word-break: break-all; text-align: justify; font-family: var(--monospaced); font-size: 90%; user-select: all}
#denied {padding: 30px 0; font-weight: 700}
#key {margin: 20px 0 25px; padding: 10px 14px; border: 1px solid #131; background: #000}
#outproxy {padding: 5px 15px; display: inline-block}
#proxy_error.misconfigured #warning {padding-top: 40px; padding-bottom: 40px; margin: 40px}
#proxy_error.misconfigured #warning h3 {margin-top: -39px; margin-bottom: 40px}
#proxy_error p:first-of-type {padding-top: 10px}
#proxyNewAddressHelper .proxyfooter, #proxyNewAddressHelper .logo {display: none}
#proxyNewAddressHelper #warning h3 {margin-left: -29px}
#proxyNewAddressHelper #warning h3 + p, #proxyNewAddressHelper #proxyNewHost {margin-left: 100px}
#proxyNewAddressHelper #warning hr {margin-left: -6px; margin-right: -6px}
#proxyNewAddressHelper #warning {margin: 30px 20px; padding: 10px 30px 16px; background-position: 40px 100px, left top, left top}
#proxyNewHost a {display: inline-block; word-break: break-all}
#proxyNewHost + hr {display: none}
#proxyNewHost {margin: 20px auto 0 100px; width: calc(100% - 100px); border-collapse: collapse; box-shadow: var(--fatshadow)}
#proxyNewHost td:first-child {font-weight: 700}
#proxyNewHost td {padding: 8px; font-size: 10pt; border: 1px solid #131; background: #000}
#warning {margin: 20px 20px 20px 248px; padding: 10px 30px 20px 100px; min-width: 300px; border: 1px solid #252; word-wrap: break-word; text-align: justify; font-size: 10pt; border: 5px solid #010; border-image: repeating-linear-gradient(135deg, #010, #010 20px, #660 20px, #660 40px, #010 40px) 5 repeat repeat; border-image-width: 5px; border-image-outset: 1px; box-shadow: var(--shadow_warn); background: var(--itooplus) no-repeat 28px calc(50% + 16px) / auto 118px, var(--mainbg)}
#warning .formaction + h4 {margin-top: -10px}
#warning .formaction {padding: 10px 0 0; text-align: right}
#warning h3 {margin: -9px -29px 15px -99px; padding: 9px 10px 7px; letter-spacing: .1em; text-align: left; font-size: 11.5pt; text-transform: uppercase; text-shadow: 0 0 2px #010; border-bottom: 1px solid #700}
#warning h3 + p {margin-top: 30px}
#warning h4 {margin: 12px 15px 10px; padding: 0 0 10px; text-align: left; font-size: 11pt; box-shadow: none}
#warning h4::after {margin: 15px -15px -15px; width: calc(100% + 30px); height: 1px; display: inline-block; background: #131; content: ""}
#warning hr {margin: 20px 0}
#warning h4 + p, #warning br + b {padding-left: 20px; padding-right: 20px}
#warning br + b {margin-top: 10px}
#warning #jumplinks h4::after {margin: 0 -15px -5px}
#warning_localhost {margin: 20px; background-position: 20px calc(50% + 16px)}
#warning_localhost p {padding: 20px 10px 15px}
#warning_localhost + .proxyfooter {display: none}
#warning .option h4 {margin: 10px 15px 13px}
#warning .option h4::after {margin: 0 -15px -7px}
#warning .option p {margin: 5px 20px}
#warning p, #warning a {font-size: 110%; line-height: 130%}
#warning p {margin: 0 15px 10px 15px; font-size: 110%}
#warning .option .formaction {margin: 20px -20px 0; padding: 11px 12px 10px; border-top: var(--border_soft); background: none}
#warning p + .formaction {margin: 0 0 20px}
#warning #proxyrequest {margin-bottom: 12px; padding: 9px 10px 9px 42px; display: inline-block; word-break: break-all; font-size: 115%; background: var(--link) no-repeat 20px center / 16px}

/* console error pages */
h1 + .sorry, #console_404 .sorry {margin: -1px 5px 10px 226px; padding: 20px 20px 20px 70px; min-width: 595px; word-wrap: break-word; text-align: justify; font-size: 10pt; border: var(--border); border-radius: 0 0 4px 4px; box-shadow: var(--highlight), inset 0 0 0 2px #600, inset 0 0 0 3px #000; background: var(--err) no-repeat 15px 45%, linear-gradient(180deg,rgba(255,255,255,.05), rgba(0,0,0,.4)), repeating-linear-gradient(180deg,rgba(0,0,0,.4) 2px, rgba(0,48,0,.7) 4px); background-size: 44px, 100%, 100% 4px}
.sorry hr {margin: 10px 0; height: 1px; color: var(--ink); border-top: 1px solid var(--ink); background: var(--ink); opacity: .7}
.sorry p {line-height: 1.3}
#error500 h1.err {margin-top: -10px}
#error500 #sidebar {position: absolute}
#error500 #sidebar a {line-height: 2}
#error500 #stacktrace {margin-top: 20px; margin-bottom: 20px; font-size: 90%}
#error500 #warning2 {margin: -1px 5px 18px 226px; border: var(--border_hard); background: repeating-linear-gradient(180deg,rgba(0,0,0,.7) 2px, rgba(0,32,0,.7) 4px) top left; background-size: 100% 4px}
#error500 #warning2 p:first-child {text-decoration: none}
#error500 #warning.sorry {border-radius: 0}
#servletError .warning {animation: none; opacity: 1}
#servletError .warning {padding-left: 70px; background-size: auto 90px, 100% 4px, 175px; background-position: 12px calc(50% + 16px)}
#servletError .warning h3 {margin-left: -69px}
#stacktrace p {word-break: break-all}
#stacktrace p:first-of-type {margin-top: 20px; font-size: 130%; font-weight: 700}
#stacktrace p:last-child {font-family: monospace}
#warning2 b {margin-right: 5px; min-width: 140px; display: inline-block; line-height: 1.5; text-align: right}
#warning2 h3 {margin: -6px -20px 0; padding: 10px; text-align: left; border-width: 1px; border-radius: 0; border-left: none; border-right: none; box-shadow: inset 0 0 0 1px #700}
#warning2 {margin: -5px 15px 18px 243px; padding: 10px 20px 5px; min-width: 610px; border: var(--border); background: #010}
#warning2 p {text-align: left}
#warning2 p + h3 {margin-top: -5px}
.iframed#servletError .logo {display: none}
.iframed#servletError {overflow-y: auto}
.iframed#servletError .warning, .iframed#servletError #warning2 {margin: 5px}
.iframed#servletError .warning + #warning2 {margin: -3px 4px 5px}

@keyframes fade {from {opacity: 0} to {opacity: 1}}
@keyframes loader {from {width: 0} 99% {width: 100%} 100% {width: 0}}

@media screen and (max-width: 1500px) {
#proxyNewAddressHelper #warning {background-position: 40px 120px, left top, left top}
}

@media screen and (max-width: 1200px) {
#proxy_error #jumplinks {margin-bottom: 0}
#jumplinks br {display: block}
#jumplinks a, #jumplinks a:first-of-type {margin: 4px 3px 4px 20px; padding: 10px 10px 10px 38px; width: calc(100% - 88px); display: inline-block; float: none; background-position: 12px center}
}

@media screen and (max-width: 800px) {
#warning, #warning2 {margin-top: 140px; margin-left: 20px; padding: 5px 20px 15px; background: var(--mainbg)}
#warning2 {margin-top: -2px; margin-left: 16px}
#jumplinks h4 {margin-top: -10px}
#proxyNewAddressHelper #warning {margin-top: 30px; padding-bottom: 5px}
#proxyNewAddressHelper #warning h3 + p, #proxyNewAddressHelper #proxyNewHost {margin-left: 0; margin-right: 0}
#proxyNewHost {width: 100%}
#proxyerror #warning {margin-top: 20px}
#warning h3 {margin: -4px -19px 10px}
#warning h3 + p {margin-top: 15px}
.logo {margin: 0 16px; width: calc(100% - 53px); min-width: 330px; position: absolute; top: 16px; z-index: 999; background: var(--h2), var(--nav)}
.logo a {margin-top: 10px}
.logo a img {margin-bottom: -4px; margin-top: -2px; padding: 0}
.logo a:nth-child(n+2) {padding: 2px 5px; width: auto; border: none}
#jumplinks {margin-bottom: 0}
}

@media screen and (min-width: 1500px) {
#warning2.sorry {margin: -12px 15px 12px 244px} #warning2 h3 {margin-top: -11px}
#error500 #warning2 {margin-left: 272px; margin-right: 5px}
h1 + .sorry, #console_404 .sorry {margin-left: 272px}
.logo a:nth-child(n+2)::after {width: 100%; height: 1px; display: inline-block; position: absolute; left: 0; bottom: 0; background: #000; content: ""}
.logo a:last-child::after {content: none}
}