/* I2P+ Midight theme wizard specifics */
/* Author: dr|z3d, 2022 */

@import url(global.css);

body {height: calc(100% - 2px)}
#wizardpage .sb img[src*="i2plogo"], #wizardpage .sb img[src*="i2plogo"]:hover, #wizardpage .sb img[src*="i2plogo"]:active {margin-left: -2px; width: 189px; opacity: .7; filter: sepia(100%) hue-rotate(180deg)}
#wizardpage #sidebar h3 {padding: 9px 0}
#wizardpage #messages {top: -13px}
#wizardpage .yes {background: var(--yes) no-repeat center center}
#wizardpage .no {background: var(--no) no-repeat center center}
#wizardpage .yes, #wizardpage .no {width: 20px; height: 20px; display: inline-block; font-size: 0; background-size: 12px}
#wizard p, #wizard td {white-space: normal}
#wizard .configtable {margin: 0 0 11px}
#wizard td {padding: 10px}
#bandwidthconfig .bw_out, #bandwidthconfig .bw_in, #bandwidthconfig .bw_share {margin: 5px; width: 250px}
#bandwidthTestRunning {margin: 10px 0; padding: 10px; text-align: center; font-style: italic; font-weight: 700}
#wizard p:not(.infohelp) {margin: -12px 0 -2px; padding: 20px 20px 30px; border-left: var(--border_inner); border-right: var(--border_inner)}
#wizard #bandwidthconfig td:not(.infohelp) {background: #001}
#wizard td.optionsave {padding: 12px 10px 10px}
#wizardpage .messages, #wizard p.infohelp {margin-top: 12px}
#wizard .infohelp {padding: 25px 25px 25px 55px; line-height: 1.3}
#wizard p.infohelp {margin-bottom: 12px}
#wizard #config_ui .infohelp {padding: 20px 20px 20px 55px; background: #000 url(/themes/console/images/flags.png) no-repeat 15px center / 28px}
#wizard .langselect {margin: 0 2px 7px; float: none; display: inline-block}
#wizard #langsettings {padding-bottom: 2px}
#wizard h3 {padding: 10px 12px; border-width: 1px}
#wizardpage .sb form {padding: 13px 0 15px}
.wizardbuttons {margin-top: -14px}
.bandwidthtester #wizard p + p {padding-top: 0}

@media screen and (min-width: 1500px) {
#wizardpage #sidebar #sb_logo img {margin-left: -1px; width: 223px}
#wizardpage #sb_logo {margin-bottom: -5px; padding: 0 10px}
#wizardpage #sidebar h3 {padding: 9px 0 6px; font-size: 11pt}
}