/* I2PSnark theme "Light" aka Corporat */
/* Cat That Got The Cream Edition */
/* Author: dr|z3d */
/* Thanks to http://www.luxphile.com/2011/01/creative-commons-cat.html for the kitty image */
@import url(/themes/console/light/global.css);

:root {
--bevel_notify: inset 0 0 0 3px #fff, inset 0 0 0 5px #99f;
--border_soft: 1px solid #afafcf;
--btnAction_hover: linear-gradient(180deg,#fff 50%,#ddf 50%);
--btnAction: linear-gradient(180deg,#fff 50%,#eef 50%);
--nav_hover: linear-gradient(180deg,#fcfaf7 50%,#ffe8bf 50%,#efd9b3 100%);
--nav: linear-gradient(180deg,#fff 50%,#eef 51%,#eef 100%);
--notify: var(--section);
--panel: linear-gradient(180deg,#fafaff,#f8f8ff,#fafaff);
--row_filtered: var(--row);
--row: var(--bg) left top / 4px, linear-gradient(180deg,#fff,#f0f0ff);
--section: linear-gradient(180deg,#fafaff,#efefff);
}

body {margin: 3px; background: var(--bodybg) url(/themes/console/light/images/tile2.png) center top / 32px; scrollbar-color: #779 rgba(255,255,255,.5)}
body.iframed {margin: 6px 1px 0; background: none}
body:not(.iframed) #navbar, body:not(.iframed) .page {border: 1px solid rgba(168,168,192,.4); border-radius: 0; box-shadow: 0 0 0 1px rgba(96,96,128,.7)}
.snarkNav, .torrentName a, #torrents:hover .percentBarText, .toggleview {will-change: transform}
th img, td img, #closelog, #expand, #shrink, .pagenavcontrols img {line-height: 0; font-size: 0; overflow: hidden}
#torrentsimg {display: inline-block; vertical-align: middle}
th.peerCount {text-align: center}
th.peerCount img {margin-left: -4px}
td.peerCount {width: 1%; white-space: nowrap; text-align: center; font-weight: 700; color: var(--ink_light)}
.nopeers.zero td.peerCount, .stopped.zero td.peerCount {text-align: center}
.peerCount .left, .peerCount .right {min-width: 12px; display: inline-block}
.peerCount .left {padding-left: 2px; text-align: left}
.peerCount .right {padding-right: 2px; text-align: right}
b {color: var(--ink_light)}
input, button, textarea, select, a {outline: none}
::selection {background: #27377f; color: #fff; text-shadow: none}
.toggleview, .configTitle, #navbar, img, input[type=submit], input[type=radio], input[type=checkbox], label, th img, #createSection, #closelog, #expand, #shrink, #pagenavbottom, #configs {user-select: none}
a:focus img {filter: drop-shadow(0 0 1px var(--hover))}
button::-moz-focus-inner, input::-moz-focus-inner {outline: none; border: none}
.page {margin: -10px 0 0; padding: 0; min-width: 900px; line-height: 1.6; text-align: center; font-size: 9pt; border: var(--border_soft); border-radius: 2px; background: #dfe0ff}
.iframed .page {margin: 5px 0 0; border-radius: 0; border-left: none; border-right: none}
.graphicStatus img, th img {image-rendering: -webkit-optimize-contrast}

/* top navigation */
#navbar {margin: 0 auto -6px; padding: 8px 10px 7px; position: sticky; top: -1px; z-index: 2001; width: auto; width: calc(100% - 22px); min-width: 880px; text-align: center; border: var(--border_soft); border-radius: 2px 2px 0 0; box-shadow: var(--highlight); background: var(--th);  }
.iframed #navbar {margin: -5px -1px -6px; padding-top: 6px; padding-bottom: 6px; position: static; border-radius: 0; border: none; border-bottom: var(--border_soft); box-shadow: none}
.snarkNav {margin-right: -5px; padding: 2px 10px 2px 24px; display: inline-block; position: relative; outline: none; line-height: 1.4; letter-spacing: .08em; text-decoration: none; text-transform: uppercase; font-size: 9pt; font-weight: 700; border: var(--border_soft); border-radius: 0; box-shadow: var(--highlight); filter: drop-shadow(0 0 1px rgba(220,220,255,.7)); transition: ease-in box-shadow .1s}
#navbar a, #navbar a:visited {color: #559; background-size: 15px, 100%; background-position: 8px center; transition: ease-out box-shadow .1s}
#navbar a:hover, #navbar a:focus {z-index: 999; color: var(--hover); text-shadow: none;  border: 1px solid var(--hover); transition: ease border .1s}
#navbar a:active, #navbar a:hover:active {color: #fff; box-shadow: inset 2px 2px 3px #7f3000; transition: ease box-shadow .1s}
.snarkNav:last-child {border-radius: 0 2px 2px 0}
.snarkNav[href="/i2psnark/"]:last-of-type {border-radius: 2px}
.nav_main {border-radius: 2px 0 0 2px; background: var(--snark) no-repeat 8px center, var(--nav), var(--snark_hover), var(--snark_active)}
.nav_forum {background: var(--forum) no-repeat 8px center, var(--nav), var(--forum_hover), var(--forum_active)}
.nav_tracker {background: var(--tracker) no-repeat 8px center, var(--nav), var(--tracker_hover), var(--tracker_active)}
.nav_search {background: var(--search) no-repeat 8px center, var(--nav), var(--search_hover), var(--search_active)}
.snarkNav:hover, .snarkNav:focus {color: var(--hover);}
.nav_main:hover, .nav_main:focus {background: var(--snark_hover) no-repeat 8px center, var(--nav_hover)}
.nav_forum:hover, .nav_forum:focus {background: var(--forum_hover) no-repeat 8px center, var(--nav_hover)}
.nav_tracker:hover, .nav_tracker:focus {background: var(--tracker_hover) no-repeat 8px center, var(--nav_hover)}
.nav_search:hover, .nav_search:focus {background: var(--search_hover) no-repeat 8px center, var(--nav_hover)}
.nav_main:active {background: var(--hover) var(--snark_active) no-repeat 8px center}
.nav_forum:active {background: var(--hover) var(--forum_active) no-repeat 8px center}
.nav_tracker:active {background: var(--hover) var(--tracker_active) no-repeat 8px center}
.nav_search:active {background: var(--hover) var(--search_active) no-repeat 8px center}

/* screenlog */
#screenlog, #screenlog.collapsed {margin: -2px 0 0; padding: 3px 5px 3px 5px; min-width: 810px; height: 56px; width: auto; font-size: 8.5pt; text-align: left; overflow: hidden; color: #6e6eb7; border-top: var(--border_soft); border-bottom: var(--border_soft); border-spacing: 0; box-shadow: var(--highlight); contain: paint}
#screenlog, #screenlog.expanded, #screenlog.collapsed {background: url(images/kitty.png) no-repeat right center, repeating-linear-gradient(180deg,rgba(255,255,255,.5) 2px, rgba(220,220,255,.5) 4px), url("/viewstat.jsp?stat=[I2PSnark] InBps&showEvents=false&period=60000&periodCount=1440&end=0&width=2000&height=160&hideLegend=true&hideTitle=true&hideGrid=true") no-repeat, var(--th); background-size: 60px auto, 100%, calc(100% - 80px) calc(100% - 4px), 100%; background-position: right bottom, center center, left bottom, center center; background-blend-mode: multiply, overlay, luminosity, normal}
#screenlog .infohash {font-weight: 700}
.iframed #screenlog {margin-top: -12px}
#screenlog:hover, #screenlog:focus {overflow-y: auto}
#screenlog:focus {box-shadow: inset 0 0 0 1px #f90}
#screenlog a:link, #screenlog a:visited {color: #3b77bf; font-size: 8.5pt}
#screenlog a:hover {color: var(--hover)}
#screenlog ul {margin: 0; padding: 0 0 0 14px; list-style: none}
#screenlog li {margin-left: -18px; margin-right: -5px; padding: 0 20px 2px 5px; display: block; word-break: break-all; font-weight: 700; mix-blend-mode: multiply; background: rgba(255, 255, 255, .25); letter-spacing: 0; word-spacing: 0}
#screenlog li, #screenlog li a {line-height: 1.1; font-size: 8.5pt}
#screenlog li::before {margin: -1px 0 1px; display: inline-block; width: 14px; height: 10px; vertical-align: middle; background: var(--bullet) no-repeat left bottom / 9px; content: ""}
#closelog, #expand, #shrink {position: sticky; top: 0; float: right}
#shrink {display: none}
#closelog img, #expand img, #shrink img {margin: 0; padding: 3px; width: 12px; opacity: .8; border: 1px solid #77b; background: linear-gradient(180deg,rgba(255,255,255,.8) 50%, rgba(220,220,255,.8) 50%)}
#expand img, #shrink img {margin-right: -1px}
#closelog img:hover, #expand img:hover, #shrink img:hover {border: 1px solid #77b; background: #fff; opacity: 1}
#closelog, #expand, #shrink {margin: 0; padding: 0; z-index: 999}
#closelog {margin-right: -2px}

a:link, a:visited {color: #3b6bbf; color: rgba(59, 107, 191, .85); text-decoration: none; font-weight: 700; word-wrap: break-word; font-size: 9pt}
a:hover, a:focus, .trackerName a:visited:hover, .trackerName a:visited:focus {color: var(--hover)}
a:active {color: #f30}
table {margin: 0 0 10px 0; padding: 0; width: 100%; border: none; border-spacing: 0; border-collapse: collapse}
thead, tfoot {background: #fff}
th {padding: 3px 2px; font-size: 9pt; color: var(--ink_lighter); border-top: var(--border_soft); border-bottom: var(--border_soft); background: var(--th)}
th:first-child {padding-left: 2px; text-align: left}
tfoot td:first-child {padding-left: 0; text-align: left}
tfoot th {padding-bottom: 4px}
.headerstatus, .headerpriority {text-align: center}
.ParentDir {padding: 4px 0; text-align: left; white-space: nowrap; border: none; background: #f8f8ff}
#snarkFiles .ParentDir a {display: inline-block; font-size: 90%}
.ParentDir:first-child a {width: 100%}
.ParentDir:nth-child(2) {padding-right: 8px; text-align: right}
.ParentDir a img {margin-left: 0; border: 1px solid transparent}
.ParentDir a img, .fileIcon img {width: 18px; height: 18px}
.ParentDir:nth-child(2) a img {margin-right: 0}
.priority {vertical-align: middle; width: 1%; white-space: nowrap}

/* torrents */
#torrents thead th {padding-top: 2px; padding-bottom: 2px}
th a img:hover {filter: drop-shadow(0 0 1px var(--hover)) drop-shadow(0 0 2px #d30)}
#torrents {margin: -1px 0; background: #fff}
#torrents thead th:nth-child(6) {text-align: center}
#torrents th:empty, #torrents td:empty {padding: 0; width: 0; min-width: 0; max-width: 0; font-size: 0; overflow: hidden}
#torrents tfoot tr:first-child th {padding: 5px 0 5px 4px; background: linear-gradient(180deg,#fafaff 50%, rgb(240, 240, 255)) #fafaff; vertical-align: middle; font-weight: 700; font-style: normal; color: var(--ink_light)}
#torrents td {line-height: 1.1}
#torrents td[colspan="4"], #torrents td[colspan="10"] {text-align: left; padding-left: 0}
#torrents td[colspan="10"] {white-space: normal}
.graphicStatus {white-space: nowrap; width: 1%}
.graphicStatus {max-width: 32px; text-align: center}
th.graphicStatus {text-align: center}
.peerCount {opacity: .9}
#torrents a:not(#debugMode) {opacity: .95}
.trackerLink, .torrentDetails {padding-right: 1px; width: 1%; white-space: nowrap; text-align: center; font-weight: 700}
.trackerLink {padding-left: 8px; padding-right: 0}
.torrentDetails {padding-left: 0; text-align: right}
.trackerLink img, .torrentDetails img, .commentDetails img {margin: 0; padding: 3px; height: 19px; width: auto; border: 1px solid transparent; filter: none}
.trackerLink a:hover img, .trackerLink a:focus img, .torrentDetails a:hover img[src^="/i2psnark/.resources/icons/"]:not([src$="rateme.svg"]), .torrentDetails a:focus img[src^="/i2psnark/.resources/icons/"]:not([src$="rateme.svg"]), .dirInfo tr:first-child td:first-child a:hover img, .dirInfo tr:first-child td:first-child a:focus img {border: 1px solid var(--hover); border-radius: 2px; background: var(--btnAction); filter: none; mix-blend-mode: normal}
.trackerLink a:active img, .torrentDetails a:active img, .dirInfo td:first-child a:active img {box-shadow: inset 2px 2px 2px #adadeb; transform: scale(.9)}
.torrentName {padding: 0 0 0 3px; text-align: left}
.torrentName a, .snarkFileName a {padding: 3px 0; width: 100%; display: inline-block}
.torrentName a:hover, .snarkFileName a:hover {border-radius: 0 15px 15px 0; background: linear-gradient(90deg, rgba(120,120,0,0), rgba(200,200,0,.15) 40%)}
.torrentName a:active, .snarkFileName a:active {box-shadow: inset 3px 3px 3px 3px rgba(120,120,0,.2)}
.torrentETA, .torrentDownloaded, .torrentUploaded, .RateDown, .RateUp {padding: 2px 5px; width: 1%; min-width: 40px; white-space: nowrap}
.torrentAction {padding: 2px; width: 1%; white-space: nowrap; text-align: center}
.torrentAction img {margin: 0 2px; opacity: 1}
.torrentAction img:hover {box-shadow: 0 0 1px 1px #f90; opacity: 1}
.noneLoaded, .noneLoaded:hover {text-align: center; font-size: 9pt; font-weight: 700; color: #272e3f; border-bottom: var(--border_soft); box-shadow: inset 0 0 1px #fff; background: linear-gradient(90deg,#eef,#fff,#eef)}
.noneLoaded i {padding: 10px; display: inline-block}
.RateUp, .RateDown, .torrentDownloaded, .torrentUploaded {padding: 0 3px}
tfoot .RateUp, tfoot .RateDown, td.RateUp, td.RateDown, tfoot .torrentUploaded, td.torrentUploaded {text-align: center}
.RateUp:empty, .RateDown:empty, .torrentAction:empty {width: 0; padding: 0}
.torrentUploaded, .RateUp {font-style: italic}
.torrentDownloaded {text-align: center; white-space: nowrap}
.torrentUploaded:empty {text-align: center}
.choked, .unchoked {font-style: italic}
.choked {color: #a00}
.unchoked {color: #070}
#torrents tt {padding: 2px 3px; margin: 0 3px; display: inline-block; letter-spacing: .1em; font-size: 8.5pt; text-shadow: 0 1px 1px #fff; border-radius: 2px}
#totals {margin: 2px 0 2px 5px; display: inline-block; white-space: nowrap; font-weight: 700}
#totals span, #ourDest {white-space: nowrap}
.routerdown {margin: 20px 10px 10px; padding: 15px; font-size: 0; color: #001; border: 1px solid #bbc; border-radius: 3px; box-shadow: var(--highlight), inset 5px 5px 3px #88a; background: repeating-linear-gradient(45deg,#fff,#eef 20px,#eef 20px,#fff 40px) right top, repeating-linear-gradient(135deg,#ddf,#eef 20px,#fff 20px,#eef 40px) left top; background-size: 200%, 200%; animation: linear down 60s forwards infinite reverse; background-blend-mode: multiply, normal}
.iframed .routerdown {margin-top: 0; margin-bottom: 11px}
.routerdown::after {margin-top: 6px; width: 40px; height: 40px; display: inline-block; vertical-align: middle; background: var(--offline) no-repeat center center; background-size: 40px; content: ""; animation: linear spin 5s reverse infinite}

td {padding: 3px 4px; color: var(--ink_light); opacity: 1; font-size: 9pt}
.rowOdd, .rowEven, #commentInfo tr, #userComments tr {border-top: var(--border_softer); background: var(--row)}
.downloading.active td:last-child {background: linear-gradient(to left,#3c3,#3c3 3px, transparent 3px)}
.downloading.active:hover td:last-child {background: linear-gradient(to left,#3c3,#3c3 3px, transparent 3px)}
.seeding.active td:last-child {background: linear-gradient(to left,#f64384,#f64384 3px, transparent 3px)}
.seeding.active:hover td:last-child {background: linear-gradient(to left,#f64384,#f64384 3px, transparent 3px)}
.filtered {border-top: var(--border_softer)}
#filterResults td {padding: 10px 8px; text-align: center; font-weight: 700; font-style: italic; border-top: var(--border_soft); border-bottom: var(--border_soft); box-shadow: var(--highlight); background: linear-gradient(180deg,#fff,#ebebff)}
#filterResults, #filterResults td {animation: disappear .1s linear 2s both}
#torrents tr, .torrentInfo tr, .dirInfo tr {box-shadow: var(--highlight)}
#torrents tr:hover, .dirInfo tr:hover {color: #292b2f; box-shadow: none; background: #ffd}
.percentBarOuter:hover .percentBarText, .percentBarOuter:active .percentBarText {opacity: 1}
.peerinfo:hover td:first-child {background: #ffd var(--peer) no-repeat scroll center center / 18px}
.rowEven + .rowEven td:nth-child(2), .rowOdd td + .rowOdd td:nth-child(2) {padding: 4px 0; text-align: left}
tr + .peerinfo:nth-child(even), #torrentEdit tr:nth-child(even) {border-top: var(--border_softer); background: repeating-linear-gradient(90deg, rgba(255,255,255,.5) 2px, rgba(192,192,255,.5) 4px),#fff; background-size: 4px 100%}
tr + .peerinfo:nth-child(odd), #torrentEdit tr:nth-child(odd) {border-top: var(--border_softer); background: repeating-linear-gradient(90deg, rgba(192,192,255,.5) 2px, rgba(220,220,255,.5) 4px),#fff; background-size: 4px 100%}
.snarkFileName {padding: 4px 0; text-align: left}
.snarkFileSize {padding: 4px 10px; width: 1%; white-space: nowrap; text-align: right; font-weight: 400}
th.snarkFileSize {text-align: center}
.fileStatus {padding: 2px 10px; width: 1%; white-space: nowrap; font-style: italic; text-align: center}

/* download bars */
.torrentDownloaded {width: 1%; text-align: center}
.priorityIndicator {margin-right: 3px; display: inline-block; display: none}
.dirInfo .fileStatus img {margin: 0 3px}
.fileStatus img[src*="clock"] {margin-top: 2px}
.percentBarOuter, .uploaded {margin: 0 auto; border: var(--border_soft); box-shadow: var(--highlight), inset 0 3px 3px rgba(0,0,0,.2); background: repeating-linear-gradient(135deg, rgba(238, 238, 255,.7) 1px, rgba(238, 238, 255, .7) 5px, rgba(221, 221, 255, .7) 6px, rgba(221, 221, 255, .7) 11px); background-size: 200%; background-position: center center}
.uploaded {padding: 1px 2px; min-width: 68px; display: inline-block; position: relative; border-left-width: 5px; background: linear-gradient(0deg,rgba(255,255,255,.3),rgba(192,192,192,.3)), repeating-linear-gradient(90deg,#f8f8ff,#f8f8ff 5%,#d2d2ff 5%,#e2e2ff 10%); background-size: 200%}
.active.seeding .uploaded {background: linear-gradient(0deg,rgba(255,255,255,.3),rgba(192,192,192,.3)), repeating-linear-gradient(90deg,#efe,#efe 5%,#beb 5%,#beb 10%); background-size: 200%; animation: uploading .5s linear 4s 1 reverse}
.txBarInner {height: calc(100% - 2px); display: inline-block; position: absolute; top: 1px; left: 1px; box-shadow: inset 0 3px 3px rgba(0,0,0,.2); background: linear-gradient(90deg, rgba(192,192,255,.4), rgba(160,160,255,.4))}
.txBarInner[style="width: calc(100% - 2px)"] {box-shadow: 0 0 0 1px #fff, inset 0 2px 2px 3px rgba(255,255,255,.3); background: linear-gradient(180deg, rgba(255,255,255,.3), rgba(220,220,255,.1) 50%, rgba(0,0,16,.05) 50%, rgba(0,0,64,.1)), linear-gradient(90deg, rgba(220,220,255,.4), rgba(192,192,255,.4))}
.active.seeding .txBarInner {background: linear-gradient(90deg, rgba(80,255,160,.6), rgba(96,255,192,.6))}
.active.seeding .txBarInner[style="width: calc(100% - 2px)"] {background: linear-gradient(180deg, rgba(255,255,255,.5), rgba(220,220,255,.2) 50%, rgba(0,0,16,.1) 50%, rgba(0,0,64,.2)), linear-gradient(90deg, rgba(80,255,160,.4), rgba(96,255,192,.4))}
.txBarText {vertical-align: middle; position: relative; z-index: 5; font-weight: 700; color: var(--ink_lighter); text-shadow: 0 1px 1px rgba(255,255,255,.8)}
tr:hover .txBarText {color: var(--ink_light)}
.rowOdd.active .percentBarOuter, .rowEven.active .percentBarOuter {background: repeating-linear-gradient(135deg, rgba(248,248,255,.7) 1px, rgba(238,238,255,.7) 5px, rgba(192,220,240,.9) 6px, rgba(192,220,240,.9) 11px)}
.percentBarInner {height: 100%; border: none; border-radius: 1px; border-right: var(--border_soft); box-shadow: inset 0 0 0 1px rgba(255,255,255,.7); background: linear-gradient(90deg, rgba(255,255,0,.2) 50px, rgba(0,255,0,.2)), linear-gradient(180deg,rgba(255, 255, 255,.7) 0%, rgba(238, 238, 255, .7) 50%, rgba(200, 200, 255, .7) 50%, rgba(160, 160, 255, .7) 100%)}
.peerinfo .percentBarInner {background: linear-gradient(180deg,rgba(255, 255, 255,.6) 0%, rgba(238, 238, 255, .6) 50%, rgba(200, 200, 255, .7) 50%, rgba(160, 160, 255, .7) 100%)}
.dirInfo .percentBarOuter {display: inline-block}
.dirInfo .percentBarInner {background: linear-gradient(90deg, rgba(255,255,0,.1) 40px, rgba(0,255,0,.1)), linear-gradient(180deg,rgba(255, 255, 255,.6) 0%, rgba(238, 238, 255, .6) 50%, rgba(200, 200, 255, .7) 50%, rgba(160, 160, 255, .7) 100%)}
.percentBarComplete {margin-bottom: -1px; padding: 3px 0; width: 84px; max-width: 84px; display: inline-block; line-height: 1; text-align: center; font-weight: 700; color: var(--ink_lighter); border: 1px solid #ccd; border-radius: 15px; box-shadow: var(--highlight), inset 0 0 1px 2px #e6e6ff; background: radial-gradient(at center bottom, #ddf, rgba(0,0,0,0) 70%), linear-gradient(180deg,#f8f8ff,#ddf)}
tr:hover .percentBarComplete {color: var(--ink_light); border: 1px solid #bbc; box-shadow: inset 0 0 0 1px #f8f8ff; box-shadow: var(--highlight), inset 0 0 2px 2px #f2f2ff; background: radial-gradient(at center bottom, #fff, rgba(0,0,0,0) 70%), linear-gradient(180deg,#fff,#dadaff)}
.percentBarText, .percentBarOuter {height: 14px; vertical-align: middle; text-align: center}
.peerinfo .percentBarOuter, .peerinfo .percentBarInner {height: 10px}
.percentBarOuter.filecheck {max-width: none}
.percentBarText {display: block; line-height: 15px; white-space: nowrap; text-align: center; font-weight: 700; color: #00528f; text-shadow: 0 1px 1px rgba(255,255,255,.8); opacity: 0; transition: ease opacity .1s}
.peerSeed img {font-size: 0; opacity: .7; transform: scale(1)}
.active .peerSeed img {opacity: 1; animation: scale .2s linear 3s 2 forwards}


/* alternative download bar popup bar text just for our downloads in #torrents*/
.rowOdd:not(.peerinfo) .torrentDownloaded .percentBarText, .rowEven:not(.peerinfo) .torrentDownloaded .percentBarText {padding: 3px; position: relative; top: -18px; left: -32px; min-width: 140px; background: #fff; border-radius: 2px; filter: drop-shadow(0 0 1px #77f)}
.rowOdd:not(.peerinfo) .torrentDownloaded .percentBarText::after, .rowEven:not(.peerinfo) .torrentDownloaded .percentBarText::after {content: ""; position: absolute; top: 90%; left: 50%; margin-left: -7px; border-width: 7px; border-style: solid; border-color: #fff transparent transparent transparent}

.percentBarText:hover, .percentBarText:focus {transition: ease opacity .01s}
.percentBarOuterComplete .percentBarText {opacity: 1}
.torrentDownloaded .percentBarText, .torrentDownloaded .percentBarOuter {width: 84px}
.dirInfo .percentBarText, .dirInfo .percentBarOuter, .peerinfo .percentBarText, .peerinfo .percentBarOuter {width: 84px}

.thumb, .thumb:hover {margin: 2px 2px 2px 4px; padding: 0; width: auto; height: auto; border: 1px solid transparent; box-shadow: 0 0 0 1px #fff; background: #fff}
.thumb:hover {box-shadow: 0 0 0 1px var(--hover), 0 0 0 2px #779; opacity: 1}
audio, video {margin: 0 1px; padding: 2px; width: 240px; vertical-align: middle; border: var(--border_soft); box-shadow: inset 0 0 0 2px #fff; background: #000}
audio:hover, audio:focus, video:hover, video:focus {border: 1px solid var(--hover)}
video:fullscreen, video:fullscreen:hover, video:fullscreen:focus {padding: 0; border: none; box-shadow: none}
video::-webkit-media-controls-timeline {padding: 0 16px 16px}
audio::-webkit-media-controls-enclosure {border-radius: 0; filter: invert(1)}
::-webkit-media-controls-panel, ::-internal-media-controls-button-panel {position: relative; z-index: 10}
video::-webkit-media-controls-panel {display: none}
video:hover::-webkit-media-controls-panel, video:focus::-webkit-media-controls-panel {display: flex}
.snarkNewTorrent {font-size: 9pt}
.toggleview, #tab_config {will-change: transform}
.configTitle, .toggleview {margin: 0 0 -3px 0; padding: 3px 15px; min-width: 260px; display: inline-block; text-transform: uppercase; font-size: 10pt; font-weight: 700; color: #559; border: var(--border_soft); border-top: 0; border-radius: 0 0 3px 3px; box-shadow: 0 1px 2px rgba(220,220,255,.7), var(--highlight);
background: linear-gradient(180deg,#fff 50%,#f2f2ff 50%)}
.configTitle:active, .toggleview:active {box-shadow: var(--highlight), inset 2px 2px 3px #7f756f}
.configTitle {color: #446}
.configPanel .configTitle {padding: 6px 0; min-width: 400px; line-height: 1.3; letter-spacing: 2px; font-size: 110%; color: #555875; background: linear-gradient(180deg,#fcfcff,#fafaff 51%,#f6f6ff 100%); pointer-events: none}
.snarkConfig {width: 100%; font-size: 10pt}
.torrentInfo, .dirInfo {margin: 10px 0 0 0; background: #fff; border-bottom: var(--border_soft)}
body:not(.framed) .torrentInfo {margin-top: 8px}
.dirInfo td:first-child {padding-left: 2px; width: 1%}
.torrentInfo th, .torrentInfo td {padding: 5px 6px; line-height: 1.6; vertical-align: middle}
.torrentInfo th {text-align: left; font-weight: inherit}
.torrentInfo th:last-child {padding-right: 5px; width: 1%; white-space: nowrap; text-align: right}
.torrentInfo td {text-align: left; border-top: var(--border_softer); vertical-align: middle}
.torrentInfo img {max-height: 16px}
.torrentInfo th:first-child img, #torrentInfoStats img, #trackers img {margin: 2px 4px}
#torrentInfoStats img[src$="head_tx.png"], #torrentInfoStats img[src$="head_rx.png"] {margin-right: 3px}
#torrentInfoStats .nowrap {margin-right: 5px; display: inline-block; white-space: nowrap}
.torrentInfo td:first-child a {margin: 0; padding: 0; font-size: 0}
.torrentInfo tr:last-child td {border-bottom: var(--border_soft); border-top: var(--border_soft)}
.infohash {font-family: var(--monospaced); color: #070; user-select: all}
.infohash::-moz-selection {background: #171}
.infohash::selection {background: #171; color: #fff}
#torrents .infohash, .torrentInfo .infohash {display: inline-block; max-width: 80px; line-height: 1; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 1px}
#torrents .infohash {margin-right: 4px; padding: 2px 4px 2px 18px; max-width: 100px; box-shadow: 0 0 0 1px #7a7, inset 0 0 0 1px #fff; background: var(--hash) no-repeat 4px center / 12px, linear-gradient(180deg,#efe,#e6ffe6)}
.torrentInfo .infohash {margin: 0 3px 0 10px; padding: 4px 0 4px 4px; max-width: 140px; background: #f8f8ff; box-shadow: 0 0 0 1px #ccf}
#screenlog .infohash {font-size: 90%; font-weight: 700; color: #151}
#screenlog .infohash:hover {color: #070}
.magnetlink, .torrentlink {margin: 0 2px; padding: 3px; vertical-align: middle; border: 1px solid #ccf; border-radius: 1px; background: linear-gradient(180deg,#fff 50%, rgba(255, 255, 255, .6) 50%, rgba(240, 240, 255, .4)) #e7e7ff}
.magnetlink:hover, .magnetlink:focus, .torrentlink:hover, .torrentlink:focus {border: 1px solid var(--hover); background: linear-gradient(180deg,#fcfaf7 50%,#ffe8bf 50%,#efd9b3)}
.magnetlink:active, .torrentlink:active {box-shadow: inset 2px 2px 3px #7f3000}
.torrentlink {margin-right: -1px}
.magnetlink img, .torrentlink img, .magnetlink img:hover, .torrentlink img:hover {margin: 0; padding: 0; filter: none}
.magnetLabel {display: inline-block; vertical-align: middle; position: relative; font-style: italic}
.dirInfo thead img {margin: 0; padding: 0 2px}
form {margin-bottom: 0}
p {line-height: 1.5}
hr {margin: 5px 0 7px 0; width: 0; height: 1px; background: rgba(110,100,200,.5); border: none; text-align: center}
.headerpriority br {display: none}
input[name="savepri"] {float: right}
#configs input[type=submit], .trackerconfig input[type=submit], input[name="savepri"] {text-transform: capitalize}
input {font-family: var(--bodyfont); text-align: left; padding: 4px; border-radius: 2px; border: var(--border_input); background: #fff; color: var(--ink); margin: 2px 4px 2px 0; box-shadow: inset 0 0 1px #fff, 0 0 1px #999}
input.r {text-align: right; background: #fff; border: var(--border_input); color: var(--ink)}
input[type=submit], a.control, input.disabled {margin: 6px 3px 6px 6px; padding: 5px 8px; min-width: 90px; text-align: center; font: bold 9pt var(--bodyfont); color: #227; text-shadow: 0 1px 1px #fff; border: var(--border_input); border-radius: 2px; box-shadow: var(--highlight), 0 0 1px #ddd; background: linear-gradient(180deg,#fff 50%,#f2f2ff 50%); filter: drop-shadow(0 0 1px rgba(220,220,255,.7))}
input[type=submit]:hover, input[type=submit]:focus, a.control:hover, a.control:focus {color: var(--hover); text-shadow: none; border: 1px solid #559; box-shadow: var(--highlight); background: linear-gradient(#fff 50%,#ffe8bf 50%,#efd9b3 100%)}
input[type=submit]:active, a.control:active {color: #fff; box-shadow: var(--highlight), inset 3px 3px 4px #333; background: var(--hover)}
a.control, a.controld {margin: 6px 3px 6px 3px; padding: 5px 8px 4px 5px; display: inline-block; min-width: 0; white-space: nowrap; font-weight: 700; border-radius: 2px}
a.controld {color: #459; font-weight: 400; display: none}
a.control img, a.control:hover img, a.control:focus img, a.control:active img {filter: none}

input[type=submit], a.control:not(.disabled) {color: var(--ink_light); font-weight: 400; box-shadow: 0 2px 0 rgba(255,255,255,.85) inset, 0 0 10px rgba(0,0,0,.1) inset, 0 1px 1px rgba(0,0,0,.05), 0 7px 4px -4px rgba(0,0,0,.1); border: var(--border_input); background: linear-gradient(180deg,#fff,#efefff); transition: ease border .7s}
input[type=submit]:hover, input[type=submit]:focus, a.control:hover, a.control:focus {color: var(--ink_darker); border: 1px solid var(--hover); box-shadow: var(--highlight), inset 0 -8px 3px 8px rgba(255,96,0,.02), inset 0 0 10px rgba(255,96,0,.05), 0 0 1px rgba(255,96,0,.1), 0 7px 4px -4px rgba(0,0,0,.1); background: linear-gradient(180deg,#eee,#fff); transition: ease border .7s}
input[type=submit]:active, a.control:active {color: #4c526f; box-shadow: var(--highlight), inset 2px 2px 2px #555; background: linear-gradient(180deg,#eee,#fff); background-blend-mode: luminosity}
a.control:active img {mix-blend-mode: luminosity}

thead img {padding: 0; border-radius: 0; border: none; margin: 0 2px; opacity: 1; max-height: 22px; filter: hue-rotate(45deg)}
thead img {filter: hue-rotate(45deg) contrast(120%) drop-shadow(0 0 1px rgba(220,220,255,.7))}
.iframed thead img {max-height: 20px}
thead a:hover img, thead a img:hover {filter: hue-rotate(60deg) drop-shadow(0 0 1px var(--hover))}
thead a:active img {transform: scale(.9); filter: hue-rotate(45deg) drop-shadow(0 0 1px #f30)}
#addSection input[type=text], #createSection input[type=text] {width: 80%}
#addSection tr:first-child td > *, #createSection tr:first-child td > * {vertical-align: middle}
thead img.disable, img.disable:hover {opacity: .4}
input[type=text], textarea {color: var(--ink_lighter)}
input[type=text]:focus, textarea:focus {color: var(--ink_light)}
input[type=text] {font-weight: 700}
input[type=text]:disabled {opacity: .5}
input[type=text], input.r, input[name="nofilter_dataDir"], textarea, select {padding: 5px 7px; min-width: 120px; font-size: 9pt}
#configureAuthor input {width: 250px}
.knownTracker input[type=radio], .knownTracker input[type=radio]:hover, .knownTracker input[type=radio]:focus {opacity: .3}
.knownTracker input[type=radio]:checked, .knownTracker input[type=radio]:checked:hover {opacity: .5}
label {cursor: pointer}
input.default {width: 1px; height: 1px; visibility: hidden; display: none}
input.disabled, input.disabled:hover, input.disabled:active, a.controld {background: #fff; color: #459; font-weight: 400; opacity: .6; cursor: not-allowed; display: none; box-shadow: none}
select {margin: 2px 4px 2px 0}
textarea {color: var(--ink); font-weight: 700; padding: 2px 4px; border-radius: 2px; border: var(--border_soft); font-size: 8pt}
select:hover, input[type=checkbox], input[type=radio], input[type=submit] {cursor: pointer}
.optbox[disabled], .optbox[disabled]:hover, .optbox[name^="ttype"], .optbox[name^="ttype"]:hover, .optbox[name^="ttype"]:checked{cursor: default; opacity: .6; filter: none}
img {border: none; margin: 0 3px 0; vertical-align: middle; opacity: 1.0; line-height: 1}
img:hover {border: none; opacity: 1; line-height: 1}
img[src$="details.png"] {opacity: .7}
.trackerLink img[src$="details.png"]:hover {opacity: 1}
.graphicStatus img {padding-top: 3px; padding-bottom: 3px; width: auto}
.tooltipped {display: inline-block; position: relative; z-index: 99; content: ""}
.tooltipped:hover {filter: drop-shadow(0 0 1px rgba(0,0,0,.4))}
.tooltipped:hover::before, .tooltipped:active::before {margin-left: -10px; top: calc(50% - 6px); left: 30px; border-width: 6px; border-style: solid; border-color: transparent #bbc transparent transparent; content: ""; animation: fade-in .1s ease 3s reverse both}
.tooltipped:hover::after, .tooltipped:active::after {padding: 3px 6px; top: 0; left: 32px; font-weight: 600; border: 1px solid #bbc; border-radius: 2px; box-shadow: var(--highlight); background: linear-gradient(180deg,#fff,#eef); content: attr(data-tooltip); animation: fade-in .1s ease 3s reverse both}
.tooltipped:hover::before, .tooltipped:active::before, .tooltipped:hover::after, .tooltipped:active::after {position: absolute; display: inline-block}
.magnetLabel {display: inline-block}
#createSection td:first-child, #addSection td:first-child, .configPanel td:first-child {width: auto; text-align: right}
.configPanel td:first-child {padding-right: 5px}
#addSection table, #createSection table:not(#trackerselect) {position: relative; animation: slide-in .2s ease-out, fade-in .3s ease-out; will-change: transform}
.iframed #addSection table, .iframed #createSection table:not(#trackerselect) {position: static; animation: fade-in .1s ease-out; animation: none}
.section, .mainsection .section, .mainsection {margin: 0; padding: 0; word-wrap: break-word; text-align: center}
.iframed #mainsection > #torrentlist {margin-top: -11px}
.iframed #mainsection > #screenlog + #torrentlist, .iframed #mainsection > #screenlog + script + #torrentlist {margin-top: 0}
.page > .mainsection {margin-top: 10px}
#snarkInfo ~ .mainsection {border-bottom: var(--border_soft)}
.iframed #snarkInfo ~ .mainsection {border-top: var(--border_soft)}
.iframed #editSection {margin-top: -3px}
#snarkFiles, #commentSection, #editSection {background: var(--section)}
#commentSection {padding-bottom: 1px}
body:not(.iframed) #commentSection {border-bottom: none}
.iframed #snarkFiles {margin-top: -2px}
.iframed #commentSection {margin-top: -1px}
#snarkInfo ~ .mainsection table:last-child, .iframed #snarkInfo ~ .mainsection:last-child {border-bottom: none}
.iframed #snarkInfo ~ .mainsection:last-child {margin-bottom: -6px}
#createSection, #addSection, #configSection, .configPanel {padding: 0 10px; text-align: center; border: var(--border_soft); box-shadow: var(--highlight); background: var(--panel)}
#createSection {margin: 0 0 10px 0; background: #fff}
#addSection {margin: -1px 0 10px}
#configSection {margin: 0; padding-bottom: 13px}
.configPanel#trackers, .mainsection#snarkInfo {margin-top: -1px}
.mainsection#snarkInfo {margin-top: 9px}
.iframed .mainsection#snarkInfo {margin-top: -9px}
.iframed #configSection, .iframed #trackers, .iframed .mainsection#snarkInfo {margin-bottom: 1px}
.iframed .trackerconfig {margin-bottom: 0}
.iframed .trackerconfig tr:nth-last-child(2) td {padding-bottom: 6px}
.iframed #configSection, .iframed #commentInfo, .iframed #trackers {border-bottom: none}
.configPanel {margin: -2px 0 0; box-shadow: var(--highlight), inset 0 0 2px 1px #ddf}
form:last-child .configPanel {margin-top: 10px}
.configPanel table {border-collapse: separate}
.configPanel tr:nth-last-child(2) td {padding: 5px 0 0 0; text-align: right; border-top: 1px solid #fff}
.configPanel tr:last-child {display: none}
.spacer td {border-bottom: var(--border_soft)}
#createSection, #addSection, #configSection, .configPanel {margin-bottom: -1px; border-left: none; border-right: none}
#createSection table, #addSection table {margin-top: -5px}
#createSection td:first-child, #addSection td:first-child {min-width: 140px; font-weight: 700; color: var(--ink_light)}
#createSection td:nth-child(n+2), #addSection td:nth-child(n+2) {text-align: left}

/* new torrent -> tracker select */
#trackerselect {width: 80%; margin: 2px 0 0; padding: 3px; background: linear-gradient(180deg,#fafaff,#f2f2ff); border-collapse: separate; border-spacing: 5px; border: var(--border_soft); border-radius: 2px; box-shadow: var(--highlight), 0 0 1px #ccf}
.iframed #trackerselect {background: #fdfdff; border-collapse: collapse}
#trackerselect tr:first-child td {border: var(--border_soft); border-radius: 2px; background: linear-gradient(90deg,#eef,#fafaff 30%,#fafaff 70%,#eef) #fafaff; box-shadow: var(--highlight), 0 0 1px #ccc; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 700; text-align: center; color: var(--ink_light)}
.iframed #trackerselect tr:first-child td {border: var(--border_soft); border-radius: 0; box-shadow: var(--highlight)}
#trackerselect tr:nth-child(2n+3) {background: #efefff}
#trackerselect tr:nth-child(2n+3):hover {background: none}
#trackerselect td {padding: 2px; text-align: center}
#trackerselect td:first-child {white-space: nowrap}
#trackerselect td:last-child {overflow: hidden; text-overflow: ellipsis}
#trackerselect td:first-child, #trackerselect td:last-child {width: 30%; font-weight: 400}
#trackerselect tr:nth-child(n+2):hover td {background: #ffd; color: var(--ink_darker); border-radius: 6px}
.iframed #trackerselect {border-spacing: 0; border-collapse: collapse}
.iframed #trackerselect tr {border: var(--border_softer); background: linear-gradient(180deg,#fff,#f0f0ff)}
.iframed #trackerselect tr:last-child {border-bottom: var(--border_soft)}
.iframed #trackerselect tr:nth-child(n+2) td {padding-top: 5px; padding-bottom: 5px; border-left: 0 solid transparent; border-right: 0 solid transparent; background: inherit}
.iframed #trackerselect tr:nth-child(n+2) td:first-child {border-left: var(--border_soft)}
.iframed #trackerselect tr:nth-child(n+2) td:last-child {border-right: var(--border_soft)}
.iframed #trackerselect tr:nth-child(n+2):hover {background: #ffd}
#trackerselect tr:last-child:hover td:nth-child(n+3) {background: transparent}
code, tt {font-size: 8.5pt; color: #070; font-weight: 700; font-family: var(--monospaced)}
.trackerconfig {text-align: left; width: 100%; border-collapse: separate; border-spacing: 0}
.trackerconfig tr:first-child {filter: drop-shadow(0 0 1px rgba(220,220,255,.7))}
.trackerconfig th:first-child {border-radius: 2px 0 0 2px; border-left: var(--border_soft); background: var(--nuke) no-repeat scroll center center / 14px, linear-gradient(180deg,#fcfcff 51%,#fafaff 51%,#f6f6ff 100%)}
.trackerconfig th:last-child {border-radius: 0 2px 2px 0; border-right: var(--border_soft)}
.trackerconfig th:nth-child(n+4), .trackerconfig th:nth-child(n+5), .trackerconfig td:nth-child(n+4), .trackerconfig td:nth-child(n+5) {text-align: center}
.trackerconfig th, .trackerconfig td, .trackerconfig th:last-child, .trackerconfig td:last-child {text-align: left}
.trackerconfig th:nth-child(4), .trackerconfig th:nth-child(5), .trackerconfig th:nth-child(6) {min-width: 64px}
.trackerconfig td:first-child {text-align: center}
input.trackername {width: 100px}
input.trackerhome {width: 200px}
input.trackerannounce {width: 230px}

/* toggle create/add panel view */
input.toggle_input {position: absolute; opacity: 0; z-index: -1; height: 0; width: 0}
input:not(checked) + label + hr + table, input:not(checked) + label + hr + table + table {display: none}
input:checked + label + hr + table, input:checked + label + hr + table + table {display: table}
.peerinfo + .rowOdd td, .peerinfo + .rowEven td {border-top: var(--border_softer)}
.peerinfo td:first-child {padding-right: 10px; background: var(--peer) no-repeat scroll center center / 18px}
.peerinfo td, .debuginfo td {padding: 5px 4px; word-spacing: 0}
.peerinfo td[colspan="4"] {padding-left: 0}
.peerinfo .torrentDownloaded {text-align: center}

/* debug */
#debugMode {margin-top: -2px; padding: 8px; display: inline-block; vertical-align: middle; line-height: 0; box-sizing: border-box; font-size: 0; background: var(--debug) no-repeat center center / 16px; opacity: 0}
#debugMode:hover {opacity: 1}
.debuginfo td {white-space: normal; line-height: 1.2; font-size: 8pt}
.debuginfo td:first-child {background: var(--debuginfo) no-repeat center center / 14px; background-blend-mode: luminosity}
.debuginfo b {text-transform: capitalize; font-family: var(--bodyfont)}
.debugConnection {margin-right: 5px; font-family: var(--monospaced); font-weight: 700; color: #030}
.from, .to {font-family: var(--bodyfont); font-size: 12pt; font-weight: 700; vertical-align: middle; line-height: .5}
.debugConnStat {margin-right: 4px; white-space: nowrap; word-spacing: -0.1em; font-family: var(--monospaced); font-weight: 700; color: #030}
.debugConnStat b {margin-right: 0; font-family: var(--bodyfont); color: #272e3f}
#dhtDebug th {text-align: center; font-weight: 400}
hr.debug {display: none}

/* Resource Errors */
.resourceError {border: 1px solid #89f; border-bottom: 2px solid #89f; margin-bottom: 0}
.resourceError th {padding: 10px 10px 10px 40px; font-size: 10pt; border: none; border-bottom: var(--border_soft); background: var(--err) no-repeat left 10px center / 24px, var(--th)}
.resourceError td {padding: 10px; border: none}
.resourceError td:first-child {width: 30%; white-space: nowrap; text-align: right}
.resourceError tr:nth-child(odd) {background: #ddf}
.resourceError tr:nth-child(even) {background: #eef}
#DoesNotExist {margin-top: 10px; border: none}
#DoesNotExist th {border-top: var(--border_soft)}
#NotFound {border: none; border-top: var(--border_soft)}

/* Downloading Priorities */
.dirInfo input[type=radio], .dirInfo input[type=radio]:checked {margin: 4px; padding: 0; min-height: 16px; min-width: 16px; vertical-align: middle}
.priority {width: 1%; white-space: nowrap; text-align: center}
.priority::after {min-height: 28px; display: inline-block; vertical-align: middle; content: ""}
.priorityHigh, .priorityNormal, .prioritySkip {margin: 3px; width: 44px; display: inline-block; overflow: hidden; vertical-align: middle; text-align: left; font-size: 0; color: transparent; background-size: 18px}
.priorityHigh {background: url(/i2psnark/.resources/icons/clock_red.png) no-repeat left 24px center}
.priorityNormal {background: url(/i2psnark/.resources/icons/clock.png) no-repeat left 24px center}
.prioritySkip {background: url(/i2psnark/.resources/icons/block.png) no-repeat left 24px center}

/* configs */
#configs td:nth-child(2) {white-space: nowrap}
#configs td:first-child {min-width: 220px; width: 30%; font-weight: 700; color: var(--ink_light)}
#bwHoverHelp {margin-right: 26px; line-height: 1; background: url(images/details.svg) no-repeat 4px center / 14px}
#bwHoverHelp img[src$="details.svg"] {opacity: 0}
#configs a {white-space: nowrap; font-weight: 700}
#configs a[href="/config.jsp"] {margin-left: -24px}

#filecheck {margin: 0 5px -18px; display: inline-block; vertical-align: middle; text-align: left}
#filecheck a {margin: 0 8px}
#torrentInfoControl td, #setPriority th {text-align: right; padding: 5px; background: var(--th)}
#torrentInfoControl td {text-align: left; padding-right: 6px; white-space: normal}
#torrentOrderControl {float: right}
#enableInOrder {margin-left: 0; margin-right: 12px}
#setPriority th {border-bottom: var(--border_soft)}

/* comments */
#commentInfo, #userComments, #mediaContainer {margin: 10px 0 0; border: var(--border_soft); border-left: none; border-right: none}
.iframed #userComments {border-bottom: none}
#userComments {margin-top: -1px; border-top: none}
#commentInfo th, #userComments th {padding: 8px 5px}
#commentInfo th {padding: 5px; padding-left: 30px; background: var(--comment) no-repeat scroll 8px center / 16px, linear-gradient(180deg,#fff 50%, rgb(240, 240, 255))}
#mediaContainer {background: #f0f0ff}
#mediaContainer th {padding: 8px 5px 8px 30px; background: url(/i2psnark/.resources/icons/film.png) no-repeat 8px center, linear-gradient(180deg,#fff 50%, rgb(240, 240, 255))}
#mediaContainer th.audio {background: url(/i2psnark/.resources/icons/music.png) no-repeat 8px center, linear-gradient(180deg,#fff 50%, rgb(240, 240, 255))}
#mediaContainer td {padding: 20px 15px; text-align: center}
.newTab {margin: 3px 4px -2px; float: right}
#mediaContainer video {width: auto; max-width: calc(100% - 10px)}
#commentInfo td, #userComments td {padding: 5px}
#commentInfo td:first-child, #userComments td:first-child {text-align: right}
#commentInfo td:first-child {font-weight: 700; color: var(--ink_light); white-space: nowrap}
#commentInfo td:first-child::after, #userComments td:first-child::after {content: ""; display: inline-block; min-height: 32px; vertical-align: middle}
#commentInfo input.accept {float: right; margin-right: 5px}
#commentInfo textarea {font-family: var(--bodyfont); font-weight: 400; font-size: 10pt; width: 100%; min-height: 64px; height: 64px; resize: vertical}
#showRatings td[colspan] { text-align: left}
.commentRating, .commentAuthor {width: 1%}
#nameRequired {float: right; margin-right: 5px}
#newRating {border-bottom: var(--border_soft)}
.commentRating {padding-right: 10px}
.commentRating img {margin: 0; padding: 0; width: 16px; height: 16px; filter: drop-shadow(0 0 1px rgba(128,0,0,.3))}
.commentDate {width: 100px; background: url(images/clock.png) no-repeat left center; padding-left: 20px}
#commentInfo td:first-child, #userComments td:first-child {width: 140px; min-width: 140px; padding-right: 2px}
#userComments td {white-space: nowrap}
.commentAuthorName {padding: 8px 5px 7px 18px; background: var(--user) no-repeat scroll left center / 14px}
td.commentAuthor {padding-left: 6px}
td.commentAuthor .commentAuthorName {padding: 0 5px 0 22px; width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left; box-shadow: 0 0 0 1px #bbd; background: var(--user) no-repeat scroll 4px center / 14px, var(--badge)}
#addCommentText {padding: 18px 20px; text-align: center}
.commentText {white-space: normal; text-align: justify; width: 90%}
.commentText:empty + .commentDelete {background: none}
.commentWrapper {margin: 2px 0; padding: 8px 10px 8px 26px; text-align: left; line-height: 1.3; white-space: normal; border: var(--border_softer); border-radius: 3px; box-shadow: var(--highlight); background: #eef var(--comment) no-repeat scroll 6px center / 16px; background-blend-mode: luminosity}
#commentsConfig .optbox {vertical-align: middle}
#userComments select {margin-right: 0}
#commentDeleteAction {border-top: var(--border_softer); background: var(--th)}
#commentDeleteAction td {padding-right: 6px}
.commentAction, .commentDelete {padding-left: 0; width: 1%; white-space: nowrap}
.addCommentText, .commentText {padding-right: 0}
#userComments .commentDelete {padding: 2px 8px 2px 20px; text-align: left; background: var(--nuke) no-repeat scroll left center / 14px}
#newRating td:first-child {text-align: center}
#newRating select {margin-left: 2px; width: 99%; text-overflow: ellipsis}
#myRating td:empty {padding: 0; border-top: none; border-bottom: none}
#myRating td:empty::after { /* hides My Ratings row when Ratings disabled*/
min-height: 0}
.commentRating img {margin: 0 1px 4px 0; padding: 0; width: 12px; height: 12px; font-size: 0; color: #ff7200; text-shadow: 0 0 1px #900; filter: none}

.knownTracker .optbox[type=radio] {margin: 2px 10px}
#trackerselect .optbox[type=radio] {margin: 2px 20px}
#netconfig .optbox {vertical-align: middle}
.optbox:disabled:hover, .optbox:disabled:focus, .optbox:disabled:active, .knownTracker .optbox:checked:hover, .knownTracker .optbox:checked:focus, .knownTracker .optbox:checked:active {box-shadow: none; background: linear-gradient(180deg,#fff,#f0f0ff)}
.optbox:checked::before {transition: linear all .05s}
.priority input[type=radio] {transform: scale(.8)}
.torrentInfo b {margin-right: 3px}
.info_tracker, .info_tracker a, #torrentEdit .info_tracker a, #torrentInfo .info_tracker a {display: inline-block; vertical-align: middle; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 1.2; font-size: 8.5pt}
.info_tracker a:not(:hover), #torrentEdit .info_tracker a:not(:hover), #torrentInfo .info_tracker a:not(:hover) {color: #58589b}
.info_tracker {margin: 2px 1px; padding: 2px 6px 2px 16px; max-width: 150px; box-shadow: 0 0 0 1px #ccf; border-radius: 3px; background: #fff var(--tracker) no-repeat 3px center / 12px}
.info_tracker a[href*=".b32.i2p"] {max-width: 70px}
.info_tracker:hover, .info_tracker:hover a {color: var(--hover)}
.info_tracker:hover {background: var(--tracker_hover) no-repeat 3px center / 12px, linear-gradient(180deg,#fff 50%,#ddf 50%)}
.info_tracker:active, .info_tracker:active a {color: #fff}
.info_tracker:active {color: #fff; box-shadow: 0 0 0 1px var(--hover), inset 3px 3px 3px #420; background: var(--hover) var(--tracker_active) no-repeat left 3px center / 14px}
#configs td {padding-top: 4px; padding-bottom: 4px; width: 50%; min-width: 0; text-align: left; font-weight: 400}
#configs td b, #torrentOrderControl b {margin-right: 8px; padding: 6px 10px 7px; min-width: 160px; display: inline-block; line-height: 1.2; text-align: right; font-size: 95%; color: var(--ink_lighter); border-radius: 15px 5px 5px 15px; box-shadow: inset 0 0 0 1px #e2e2ff; background: linear-gradient(180deg,#fff,#e8e8ff)}
#torrentOrderControl b {line-height: 1}
#configs td label:hover b, #torrentOrderControl b:hover {color: var(--ink)}
#configs input, #configs select {margin-top: 0; margin-bottom: 0; vertical-align: middle}
.numeric {max-width: 60px; min-width: 60px}
#configs select[disabled] {margin-left: 4px}

/* tooltip */
#bwHelp {margin-left: -170px; padding: 15px 15px 15px 55px; width: 320px; display: block; visibility: hidden; border-radius: 3px; position: absolute; left: 0; bottom: 125%; z-index: 999; text-align: center; white-space: normal; font-size: 10pt; font-weight: 700; background: #aaf url(/i2psnark/.resources/icons/favicon.svg) no-repeat 10px center / 28px; opacity: 0; filter: drop-shadow(0 0 1px #11f); will-change: transform}
#bwhelp::after {margin-left: -10px; position: absolute; top: 100%; left: calc(50% - 14px); border-width: 10px; border-style: solid; border-color: #aaf transparent transparent transparent; content: ""}
#bwHoverHelp:hover #bwHelp, #bwHoverHelp:active #bwHelp {visibility: visible; color: #fff; text-align: center; opacity: 1; transition: ease opacity .05s}
#bwHoverHelp {position: relative; display: inline-block}
#bwHoverHelp img {width: 16px; height: 16px}
#bwHoverHelp:hover + #bwHelp {display: block; position: fixed; float: left; top: 48px; left: 0; z-index: 9999; background: #313; border-bottom: 5px solid #212; border-top: 5px solid #212; box-shadow: 0 1px 3px #101; padding: 20px; width: 100%; white-space: nowrap; text-align: center; font-size: 12pt}

#configs td, #configs td:first-child {padding: 0; padding-right: 0}
#configs tr:nth-last-child(2) td {padding: 11px 0 0; text-align: right}
#configs th {padding: 4px 8px; background: linear-gradient(180deg,#fcfcff 51%,#fafaff 51%,#f6f6ff 100%); filter: drop-shadow(0 0 1px rgba(220,220,255,.7))}
#configs th {border-left: var(--border_soft); border-right: var(--border_soft); border-radius: 3px}
.optionlist {margin: 3px 0; columns: 400px 3; column-gap: 20px; margin: -5px 0 5px; padding: 7px 6px 6px; transition: ease-in-out .5s box-shadow; will-change: transform}
.configOption {padding: 0 4px; display: inline-block; vertical-align: middle; white-space: nowrap; width: calc(100% - 20px)}
.configOption::after {height: 40px; display: inline-block; vertical-align: middle; content: ""}
input[name="nofilter_commentsName"], input[name="i2cpOpts"], input[name="nofilter_dataDir"] {width: calc(100% - 180px)}
#embed, #fullscreen {margin-top: 2px; float: right; font-size: 85%}
#fullscreen {display: none}
.iframed #embed {display: none}
.iframed #fullscreen {display: inline-block}
#snarkLang {margin-right: 5px; padding: 3px 8px; display: inline-block; vertical-align: middle; line-height: 1.6; color: #fff; text-align: center; font-weight: 700; text-shadow: 0 1px 1px #557; border-radius: 4px; background: #aaf}

/* language overrides */
.lang_fr .optionlist, .lang_hu .optionlist, .lang_in .optionlist, .lang_it .optionlist, .lang_sk .optionlist, .lang_nl .optionlist, .lang_pl .optionlist, .lang_pt .optionlist, .lang_ro .optionlist, .lang_sv .optionlist, .lang_tr .optionlist, .lang_uk .optionlist {columns: 500px auto; column-gap: 5px}
.lang_de .optionlist, .lang_es .optionlist, .lang_fr .optionlist, .lang_ru .optionlist {columns: 600px auto; column-gap: 5px}
.lang_it #configs td b, .lang_sk #configs td b {min-width: 180px}
.lang_nl #configs td b, .lang_sv #configs td b, .lang_in #configs td b {min-width: 210px}
.lang_hu #configs td b, .lang_pl #configs td b, .lang_tr #configs td b {min-width: 220px}
.lang_de #configs td b, .lang_fr #configs td b, .lang_pt #configs td b, .lang_ro #configs td b {min-width: 250px}
.lang_uk #configs td b {min-width: 260px}
.lang_es #configs td b {min-width: 280px}
.lang_ru #configs td b, .lang_es #configs td b {min-width: 300px}
.lang_it #configs input[name="nofilter_dataDir"], .lang_it input[name="i2cpOpts"], .lang_it input[name="nofilter_commentsName"], .lang_sk #configs input[name="nofilter_dataDir"], .lang_sk input[name="i2cpOpts"], .lang_sk input[name="nofilter_commentsName"] {width: calc(100% - 200px)}
.lang_in #configs input[name="nofilter_dataDir"], .lang_in input[name="i2cpOpts"], .lang_in input[name="nofilter_commentsName"], .lang_nl #configs input[name="nofilter_dataDir"], .lang_nl input[name="i2cpOpts"], .lang_nl input[name="nofilter_commentsName"], .lang_sv #configs input[name="nofilter_dataDir"], .lang_sv input[name="i2cpOpts"], .lang_sv input[name="nofilter_commentsName"] {width: calc(100% - 230px)}
.lang_hu #configs input[name="nofilter_dataDir"], .lang_hu input[name="i2cpOpts"], .lang_hu input[name="nofilter_commentsName"], .lang_pl #configs input[name="nofilter_dataDir"], .lang_pl input[name="i2cpOpts"], .lang_pl input[name="nofilter_commentsName"], .lang_tr #configs input[name="nofilter_dataDir"], .lang_tr input[name="i2cpOpts"], .lang_tr input[name="nofilter_commentsName"] {width: calc(100% - 240px)}
.lang_de #configs input[name="nofilter_dataDir"], .lang_de input[name="i2cpOpts"], .lang_de input[name="nofilter_commentsName"], .lang_fr #configs input[name="nofilter_dataDir"], .lang_fr input[name="i2cpOpts"], .lang_fr input[name="nofilter_commentsName"], .lang_pt #configs input[name="nofilter_dataDir"], .lang_pt input[name="i2cpOpts"], .lang_pt input[name="nofilter_commentsName"], .lang_ro #configs input[name="nofilter_dataDir"], .lang_ro input[name="i2cpOpts"], .lang_ro input[name="nofilter_commentsName"] {width: calc(100% - 270px)}
.lang_uk #configs input[name="nofilter_dataDir"], .lang_uk input[name="i2cpOpts"], .lang_uk input[name="nofilter_commentsName"] {width: calc(100% - 280px)}
.lang_es #configs input[name="nofilter_dataDir"], .lang_es input[name="i2cpOpts"], .lang_es input[name="nofilter_commentsName"] {width: calc(100% - 300px)}
.lang_ru #configs input[name="nofilter_dataDir"], .lang_ru input[name="i2cpOpts"], .lang_ru input[name="nofilter_commentsName"] {width: calc(100% - 320px)}

#configs input.r:focus {text-align: center}

/* tracker config */
.trackerconfig {margin-bottom: 5px}
.trackerconfig .spacer.top {display: none}
.trackerconfig tr:nth-last-child(3) td, .trackerconfig tr:nth-last-child(5) td {font-size: 0; padding: 0}
.knownTracker:hover, .knownTracker:hover td {background: #ffb}
.knownTracker a {display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 220px; width: 220px}
.trackerhome, .trackerannounce {width: 260px}
#addtracker td {padding-top: 6px; padding-bottom: 6px}
.trackerconfig input.delete, .trackerconfig input.reload {float: left}

/* iconized panel tabs */
#tab_config a {width: 100%; display: inline-block; vertical-align: middle}
.tab_label::after {margin: 1px; padding: 2px; width: 18px; height: 18px; display: inline-block; vertical-align: middle; background: #f00; border-radius: 50%; border: var(--border_soft); box-shadow: inset 0 0 0 1px #fff; content: ""; mix-blend-mode: luminosity; filter: none; pointer-events: none; will-change: transform}
#tab_addtorrent .tab_label::after {background: var(--add) no-repeat scroll center center / 16px, linear-gradient(180deg,#f8f8ff 50%,#e2e2ff 50%,#bbf)}
#tab_newtorrent .tab_label::after {background: var(--create) no-repeat scroll right 2px top 2px / 16px, linear-gradient(180deg,#f8f8ff 50%,#e2e2ff 50%,#bbf)}
#tab_config .tab_label::after {background: var(--config) no-repeat scroll center center / 16px, linear-gradient(180deg,#f8f8ff 50%,#e2e2ff 50%,#bbf)}
#tab_files .tab_label::after {background: var(--folder) no-repeat scroll center center / 16px, linear-gradient(180deg,#f8f8ff 50%,#e2e2ff 50%,#bbf)}
#tab_comments .tab_label::after {background: var(--comment) no-repeat scroll center center / 16px, linear-gradient(180deg,#f8f8ff 50%,#e2e2ff 50%,#bbf)}
#tab_torrentedit .tab_label::after {background: var(--edit) no-repeat scroll center center / 16px, linear-gradient(180deg,#f8f8ff 50%,#e2e2ff 50%,#bbf)}
.toggleview:hover .tab_label::after, input:focus + .toggleview .tab_label::after, #tab_config:hover .tab_label::after {border: 1px solid var(--hover); box-shadow: inset 0 0 0 1px #fff, 0 0 1px 1px rgba(255,96,0,.3); background-color: #fff; mix-blend-mode: normal}
.toggleview:active .tab_label::after, #tab_config:active .tab_label::after {transform: rotate(90deg) scale(.9); transition: ease transform .15s}
input:checked + .toggleview:active .tab_label::after {transform: rotate(-90deg) scale(.9); transition: linear transform .15s}
.toggleview, #tab_config a {font-size: 0}
.toggleview, #tab_config {text-align: center; width: 300px}
th img {filter: none; opacity: .85}
#torrents th img {max-height: 22px}
td.graphicStatus img {margin-top: -2px; margin-bottom: -2px; height: 22px; display: inline-block}
.trackerLink img {height: 16px}
#torrents tfoot tr:first-child th.RateUp, #torrents tfoot tr:first-child th.torrentUploaded {font-style: italic}

/* torrent filter bar */
#torrentDisplay {margin: -1px 0 -2px; position: sticky; top: 42px; z-index: 2002; border-top: var(--border_soft); border-bottom: var(--border_soft); background: var(--th)}
.iframed #torrentDisplay {margin: 10px 0 0; position: static}
#torrentDisplay label {margin: 0; padding: 2px 8px; display: inline-block; min-width: 80px; background: linear-gradient(180deg,#fff 50%,#eef 50%); border-left: var(--border_soft); box-shadow: var(--highlight); font-weight: 700; color: #559}
#torrentDisplay label:last-child {border-right: var(--border_soft)}
#torrentDisplay label:hover {color: var(--hover); background: #fff linear-gradient(180deg,#fff 50%, rgba(255, 232, 191, .6) 50%, rgba(239, 217, 179, .4) 100%)}
#torrentDisplay label:active {box-shadow: var(--highlight)9ef, inset 2px 2px 3px #7f3000; transition: ease box-shadow .05s; background: var(--hover); color: #fff}
#torrentDisplay input {position: absolute; opacity: 0; z-index: -1; height: 0; width: 0}
#torrentDisplay input:checked + label, #torrentDisplay input:checked + label:active {color: #88a; text-shadow: 0 1px 1px#fff; box-shadow: var(--highlight), inset 2px 2px 2px #99b; background: linear-gradient(180deg,#f2f2ff,#f6f6ff); cursor: default}
#torrents tfoot tr:first-child, #torrents tfoot tr:first-child th, #torrents tfoot tr:first-child:hover, #torrents tfoot tr:first-child:hover th {border-top: var(--border_soft); border-bottom: var(--border_soft)}
/* fix firefox rendering bug when filter displays no torrents */
#torrents tr[style="display: none;"]:last-child {background: #f00; display: table-row}
#torrents tr[style="display: none;"]:last-child > * {display: none}

#torrentSort {max-width: 60px; text-align: left}
#torrentSort img {margin-left: 31px}
.downloading.active .percentBarOuter, .peerinfo.active .percentBarOuter {animation: downloadbar 1s linear 3s both; opacity: 1}
.peerinfo.active .percentBarOuter {animation: downloadbar 1s 3s linear forwards reverse}
#torrents tr.active:hover td, #torrents tr.downloading.active:hover td, #torrents tr.active:hover td.torrentETA, #torrents tr.active:hover td.torrentUploaded {background-color: transparent}
.snarktTorrentPeerCount, .snarkTorrentPeers, .peerdata, .peerinfo td:nth-child(2), .debuginfo td:nth-child(2) {white-space: nowrap; padding-left: 0}
.trackerLink {padding-left: 5px; padding-right: 1px}

/* pagenav */
.pagenavcontrols, .pagenavcontrols::before, #pagecount {display: inline-block; vertical-align: middle}
.pagenavcontrols {margin: -2px auto 0; padding: 7px 5px 3px; position: absolute; left: 40%; right: 40%; z-index: 500; line-height: 1.2; font-size: 9pt; font-weight: 700; color: #272e3f}
#pagenavtop.pagenavcontrols {margin-top: 0}
.pagenavcontrols::before {height: 26px; content: ""}
.pagenavcontrols img, .pagenavcontrols img:hover, #pagenavbottom a:focus img {padding: 3px; width: 12px; height: 12px; border: var(--border_input); border-radius: 2px; background: linear-gradient(180deg,#fff 50%,#ddf 50%); opacity: .8; filter: drop-shadow(0 0 1px #bbb)}
.pagenavcontrols img:hover, #pagenavbottom a:focus img {opacity: 1; filter: drop-shadow(0 0 1px var(--hover))}
.pagenavcontrols a:active img {box-shadow: inset 0 0 0 1px #ddf, inset 3px 3px 3px #558; filter: none; transform: none}
.pagenavcontrols img.disable, .pagenavcontrols img.disable:hover, .pagenavcontrols a:active img.disable {background: none; opacity: .2; filter: none}
.pagenavcontrols img {margin: 0 3px}
#pagecount {padding: 2px 15px; margin: 0 5px; text-align: center; background: linear-gradient(180deg,#f2f2ff 50%,#e2e2ff 50%); border-radius: 2px; letter-spacing: .2em; box-shadow: var(--highlight); border: 1px solid #ccf; cursor: default; user-select: none}
#pagenavbottom, #pagenavbottom td {text-align: center; padding: 0; vertical-align: middle; border-top: var(--border_soft); background: linear-gradient(180deg,#fafaff 50%, rgb(240, 240, 255)) #fafaff}
#pagenavbottom .pagenavcontrols {margin: 1px 0 0; padding: 2px 0 2px; position: static}
#pagenavbottom > * {vertical-align: middle}

/* peerid + client */
.peerclient {padding: 1px; border: 1px solid #bbc; border-radius: 2px; box-shadow: var(--highlight); background: var(--badge)}
.peerclient, .peerinfo tt, .clientid {display: inline-block; vertical-align: middle; line-height: 1.2; text-shadow: none}
.peerinfo tt {margin: 0; padding: 0 5px; color: #282; text-shadow: 0 1px 1px #fff; border-radius: 2px 0 0 2px; background: none}
.clientid {margin-left: -3px; padding: 2px 4px; max-width: 50px; min-width: 50px; display: inline-block; border-radius: 0 1px 1px 0; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 90%; text-align: center; background: linear-gradient(180deg,#eef,#ddf)}
.clientversion {display: none}
.peerinfo td > * {vertical-align: middle}
.peerdata {padding-left: 0}
#ourDest {margin: -1px 0 -1px 3px; padding: 0 0 0 4px; display: inline-block; border: 1px solid #bbc; border-radius: 2px; box-shadow: var(--highlight); background: var(--badge); opacity: .85; line-height: 1.4}
#ourDest tt {margin: 1px 1px 1px 4px; padding: 0 4px 0 6px; display: inline-block; border-radius: 0 1px 1px 0; background: linear-gradient(180deg,#eef,#ddf)}
.peerinfo td > * {vertical-align: middle}

#lowersection > #createSection + #configSection {margin-top: 0}
.inactivity {margin-left: 12px; min-width: 5px; max-width: 400px; height: 8px; display: inline-block; border-radius: 8px; box-shadow: inset 0 0 0 1px rgba(255,255,255,.4); background: repeating-linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0) 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 16px, rgba(0,0,0,0) 16px), linear-gradient(180deg,rgba(255,255,255,.4) 50%, rgba(0,0,0,.1) 50%), linear-gradient(90deg,#bb0 60px,#900 120px)}
.inactivity[style="width: 0px;"], .inactivity[style="width: 1px;"], .inactivity[style="width: 2px;"], .inactivity[style="width: 3px;"], .inactivity[style="width: 4px;"], .inactivity[style="width: 5px;"] {display: none}
.choked, .idle {font-size: 0; width: 48px; display: inline-block; vertical-align: middle; text-align: center; line-height: 0}
.idle::after, .choked::after {content: ""; display: inline-block; width: 8px; height: 8px; border-radius: 50%; background: #373}
.choked::after {background: #900}
tfoot .RateDown:not(:empty)::before, tfoot .torrentDownloaded:not(:empty)::before, tfoot .RateUp:not(:empty)::before,tfoot .torrentUploaded:not(:empty)::before {margin-top: -4px; margin-right: 1px; display: inline-block; vertical-align: middle; line-height: 0; font-size: 110%; font-style: normal}
tfoot .RateDown:not(:empty)::before, tfoot .torrentDownloaded:not(:empty)::before {content: "\27A4"; transform: rotate(90deg) scaleX(.6)}
tfoot .RateUp:not(:empty)::before,tfoot .torrentUploaded:not(:empty)::before {content: "\27A4"; transform: rotate(-90deg) scaleX(.6)}
.torrentUploaded .left {min-width: 12px}
.RateDown .left, .RateUp .left, .torrentUploaded .left, .RateDown .right, .RateUp .right, .torrentUploaded .right {min-width: 22px; display: inline-block; text-align: left}
.RateDown .right, .RateUp .right, .torrentUploaded .right {min-width: 40px; text-align: right}
.torrentUploaded .left {min-width: 16px}
.choked .left, .choked .right {display: none}
.RateDown, .RateUp, .torrentUploaded {text-align: center}
tfoot .RateDown, tfoot .RateUp {text-align: right}
tfoot .RateDown::after, tfoot .RateUp::after {width: 6px; display: inline-block; vertical-align: middle; content: ""}
#commentInfo th {padding: 0 8px 0 34px}
#commentInfo th > * {display: inline-block; vertical-align: middle}
#commentInfo th input[type=submit] {display: inline-block; float: none; vertical-align: middle}
#commentInfo th input[type=checkbox] {margin-left: 4px; margin-right: 4px}
#commentstoggle {margin-left: 10px; display: inline-block; vertical-align: middle}
#commentstoggle input {margin-left: 4px; margin-right: 0; display: inline-block}
#nameRequired, .commentAuthorName {display: inline-block; vertical-align: middle; line-height: 24px}
#metacomment {padding: 0; line-height: 1.4; text-align: justify}
#metacomment div {padding: 4px 8px; overflow-y: auto}

/* comment indicator */
.snarkFiletype {position: relative; vertical-align: middle}
.snarkCommented {display: inline-block; position: absolute; top: -3px; right: 2px; z-index: 20; line-height: 0; font-size: 0}
.snarkCommented img {padding: 0; height: 9px; width: 9px; border: none; filter: drop-shadow(0 0 1px #555) drop-shadow(0 0 2px rgba(128,128,0,.3)); image-rendering: -webkit-optimize-contrast}

#configs a[href^="/config"] {font-size: 0}
#configs a[href^="/config"]::after {margin: -6px 0 2px -3px; padding: 2px; width: 16px; height: 16px; display: inline-block; vertical-align: middle; border: 1px solid transparent; border-radius: 2px; background: var(--config) no-repeat center center / 16px; content: ""}
#configs a[href^="/config"]:hover::after, #configs a[href^="/config"]:focus::after {border: 1px solid var(--hover); background: var(--config) no-repeat center center / 16px, linear-gradient(180deg,#fff 50%,#ddf 50%)}
#configs a[href^="/config"]:active::after {box-shadow: inset 2px 2px 2px #adadeb; transform: scale(.9); transition: none}
#snarkFiles input + .toggleview, #commentSection input + .toggleview{margin-bottom: -3px}
#snarkInfo ~ .mainsection .dirInfo, #snarkInfo ~ .mainsection #commentInfo {margin-top: 0}
.snarkFilename .targetfile, .snarkFilename:hover .tags, .snarkFileName a:empty {display: none}
.snarkFilename:hover .targetfile {display: inline-block}
.iframed #commentSection {padding-bottom: 5px}
#completion {position: relative}
#metainfo {padding: 2px 8px 2px 4px; border: 1px solid #99a; box-shadow: var(--highlight); background: #f2f2ff}
#completion:not(:hover) #metainfo {display: none}
#completion:hover #metainfo {display: inline-block; position: absolute; top: 24px; left: -120px}
#metacomment .commentWrapper {margin: 6px; padding: 9px 10px 10px; box-shadow: var(--highlight), 0 0 1px 0 rgba(0,0,0,.3); background: #eef}

/* table sort indicators */
.sortIcon {position: relative}
.sortIcon:hover .ascending, .sortIcon:hover .descending {transform: rotate(180deg); transition: linear transform .1s}
.ascending, .descending {display: inline-block; position: absolute; top: -2px; right: -8px; border-width: 4px; border-style: solid; border-color: transparent transparent #aaf transparent}
.graphicStatus .ascending, .graphicStatus .descending {right: -4px}
.descending {top: 2px; border-color: #aaf transparent transparent transparent}
.sortIcon:hover .ascending {top: 2px; border-color: transparent transparent var(--hover) transparent}
.sortIcon:hover .descending {top: -2px; border-color: var(--hover) transparent transparent transparent}
#torrentSort .ascending, th#torrentSort .descending {right: -11px}

/* action buttons */
td.torrentAction input[type=submit] {margin-top: 1px}
#torrents .torrentAction input[type=submit] {margin: 0 2px; padding: 11px; min-width: 0; min-height: 0; float: none; vertical-align: middle; font-size: 0; border: var(--border_input); border-radius: 2px; box-shadow: var(--highlight); background-position: center center; opacity: .9; cursor: pointer; will-change: transform}
#torrents .torrentAction input:hover, #torrents .torrentAction input:focus {border: 1px solid var(--hover); opacity: 1}
#torrents .actionStart:hover, .actionStart:focus {background: var(--start_hover) no-repeat center center / 14px, var(--btnAction_hover)}
#torrents .actionStop:hover, .actionStop:focus {background: var(--stop_hover) no-repeat center center / 14px, var(--btnAction_hover)}
#torrents .actionRemove:hover, .actionRemove:focus {background: var(--remove_hover) no-repeat center center / 14px, var(--btnAction_hover)}
#torrents .actionDelete:hover, .actionDelete:focus {background: var(--delete_hover) no-repeat center center / 14px, var(--btnAction_hover)}
#torrents .actionStart, .actionStart:active {background: var(--start) no-repeat center center / 14px, var(--btnAction), var(--start_hover) no-repeat center center / 14px}
#torrents .actionStop, .actionStop:active {background: var(--stop) no-repeat center center / 14px, var(--btnAction), var(--stop_hover) no-repeat center center / 14px}
#torrents .actionRemove, .actionRemove:active {background: var(--remove) no-repeat center center / 14px, var(--btnAction), var(--remove_hover) no-repeat center center / 14px}
#torrents .actionDelete, .actionDelete:active {background: var(--delete) no-repeat center center / 14px, var(--btnAction), var(--delete_hover) no-repeat center center / 14px}
#actionStartAll:hover, #actionStartAll:focus {background: var(--startall_hover) no-repeat center center / auto 14px, var(--btnAction_hover)}
#actionStopAll:hover, #actionStopAll:focus {background: var(--stopall_hover) no-repeat center center / auto 14px, var(--btnAction_hover)}
#actionStartAll, #actionStartAll:active {background: var(--startall) no-repeat center center / auto 14px, var(--btnAction), var(--startall_hover) no-repeat center center / auto 14px}
#actionStopAll, #actionStopAll:active {background: var(--stopall) no-repeat center center / auto 14px, var(--btnAction), var(--stopall_hover) no-repeat center center / auto 14px}
#torrents #actionStopAll, #torrents #actionStartAll {padding: 11px 19px}
#torrents .torrentAction input:active, #actionStartAll:active, #actionStopAll:active {box-shadow: var(--highlight), inset 2px 2px 3px #557; background-size: auto 12px, 100%}

/* torrent edit */
#torrentEdit {margin-bottom: 0}
#torrentEdit th, #torrentEdit td {padding: 8px 20px; width: 25%; text-align: center}
#torrentEdit tr {border-top: var(--border_soft); border-bottom: var(--border_soft)}
#torrentEdit th:first-child:not([colspan]), #torrentEdit td:first-child {width: 20%; text-align: right}
#torrentEdit th:nth-child(2), #torrentEdit td:nth-child(2) {width: 30%; text-align: left}
#torrentEdit textarea {width: 100%; height: 80px; min-height: 80px; resize: vertical}
#torrentEdit tr:last-child {background: var(--th)}
#torrentEdit tr:last-child td {text-align: center; font-weight: 700; font-style: italic}
#torrentEdit tr:last-child input {margin-right: 0; float: right}
#torrentEdit .info_tracker {min-width: 68px; text-align: left}
#torrentEdit .info_tracker, #torrentEdit .info_tracker a {font-weight: 700; color: #57579a; pointer-events: none}

/* animations */
@keyframes disappear {from {visibility: visible} to {visibility: collapse}}
@keyframes down {from {background-position: left bottom, right bottom} to {background-position: left bottom, left top}}
@keyframes downloadbar {0%,100% {background-position: left center} 50% {background-position: 20% center}}
@keyframes fade-in {0% {filter: opacity(0)} 100% {filter: opacity(1)}}
@keyframes scale {0%,100% {transform: scale(1)} 50% {transform: scale(1.3)}}
@keyframes slide-in {0% {transform: translateY(-40px)} 100% {transform: translateY(0)}}
@keyframes spin {from {transform: rotate(360deg)}}
@keyframes uploading {from {background-position: left center} to {background-position: 20% center}}

/* inline notifications */

.notify:not([hidden]) {width: calc(100% - 2px) !important; height: calc(100% - 1px) !important; top: 1px !important; /*bottom: 1px !important; */left: 1px !important; right: 1px !important}
body:not(.iframed) .notify:not([hidden]) {height: calc(100% - 2px) !important}

/* browser specific */
@supports not (-moz-appearance: none) {
.snarkNav {padding-top: 3px; padding-bottom: 3px; image-rendering: -webkit-optimize-contrast}
.percentBarText {line-height: 16px} .iframed .percentBarText, .iframed .percentBarText:hover, .iframed .percentBarText:focus {transition: none}
select {padding: 6px 24px 6px 6px}
img[src$="magnet.png"] {margin-top: -2px; margin-bottom: -2px; display: inline-block; vertical-align: middle} .torrentName > * {line-height: 1.4}
.iframed #pagenavtop {margin: -1px 0 -33px}
}

/*responsive layout */
@media screen and (max-width: 1499px) {
#torrentDisplay {top: 40px}
.trackerLink img {margin-right: -10px; height: 14px}
.torrentAction input[type=submit] {padding: 11px; background-size: 13px, 100%}
.torrentAction input:active {background-size: auto 11px, 100%}
#actionStopAll, #actionStartAll {padding: 11px 18px}
#configs a[href="/config.jsp"] {margin-top: 2px}
}

@media screen and (max-width: 1200px) {
.dirInfoComplete {display: none}
.nav_main {padding-left: 26px}
.torrentName a {max-width: 300px}
.trackerLink {padding-right: 8px}
#screenlog li {opacity: 1}
#torrents .torrentAction input[type=submit] {padding: 10px; background-size: auto 12px, 100%}
#torrents #actionStopAll, #torrents #actionStartAll {padding: 10px 17px}
#torrents .torrentAction input:active {background-size: auto 10px, 100%}
}

@media screen and (max-width: 1000px) {
b.alwaysShow {display: inline}
body, td, #screenlog li, #screenlog a, button, input, select, .snarkAddInfo, code, tt, th, a, a:link, .snarkAddInfo, .fileStatus {font-size: 8.5pt}
.commentDate {white-space: normal}
.graphicStatus {width: 1%; max-width: 28px}
.iframed .pagenavcontrols {padding: 4px 5px}
.magnetLabel {max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.nav_main, .nav_forum, .nav_search {white-space: nowrap; text-indent: -9999px; color: transparent; background-position: 10px center}
.newTab {margin: 1px 4px 0}
.pagenavcontrols {margin: 0; padding: 2px; width: 100%; position: static; background: var(--th)}
.percentBarOuter, .percentBarText {height: 12px; line-height: 12px}
.rowOdd:not(.peerinfo) .torrentDownloaded .percentBarText, .rowEven:not(.peerinfo) .torrentDownloaded .percentBarText {padding: 4px 3px 2px; min-width: 130px; top: -16px; left: -26px}
.snarkNav::before {display: none}
.snarkNav:link, .snarkNav:visited {font-size: 9pt}
td.commentAuthor .commentAuthorName {width: 100px}
td.graphicStatus img {width: auto; height: 21px}
.torrentInfo .infohash {max-width: 120px; font-size: 8.5pt}
.torrentName a {font-weight: 700}
.trackerLink img {display: none}
#pagenavtop.pagenavcontrols {border-bottom: var(--border_soft)}
#commentInfo td:first-child, #userComments td:first-child {width: 120px; min-width: 120px}
#embed, #fullscreen {margin-top: 1px}
#torrentDisplay label:first-of-type {border-left: none}
#torrentDisplay label:last-of-type {border-right: none}
#torrentDisplay label {min-width: 60px; flex-grow: 1; font-size: 8pt}
#torrentDisplay {margin-bottom: 0; display: flex; top: 39px}
#torrents .infohash {max-width: 60px}
#torrents tfoot tr:first-child th {padding: 3px 0 3px 2px}

}

@media screen and (max-width: 800px) {
.canhide {display: none}
code, #torrents tt {font-size: 8pt}
.graphicStatus img {height: 20px}
.graphicStatus {max-width: 24px}
.graphicStatus {width: 0}
.page {min-width: 600px}
.pagenavcontrols, .iframed .pagenavcontrols {padding: 3px 5px}
.torrentDetails img {width: auto; max-height: 20px}
.torrentETA, .torrentUploaded, .RateDown, .RateUp {min-width: 0}
.torrentUploaded, .RateUp, .trackerLink {padding: 0; max-width: 0; overflow: hidden; white-space: nowrap; font-size: 0}
.trackerconfig a {max-width: 140px}
.trackerconfig input[type=text] {min-width: 50px; max-width: 140px}
.uploaded {display: none}
#addSection input[type=text], #createSection input[type=text] {width: 70%}
#configs td:first-child {min-width: 140px}
#createSection a, .trackerconfig a {max-width: 200px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap}
#createSection td:first-child, #addSection td:first-child {min-width: 80px}
#navbar, #screenlog {min-width: 580px}
#screenlog li, #screenlog li a {font-weight: 700}
#torrents thead img {width: auto; max-height: 18px}
#torrents th.torrentUploaded img, #torrents th.RateUp img {display: none}
#totals {margin-left: 2px}
}

@media screen and (min-width: 800px) {
tr:not(.peerinfo) .torrentUploaded:empty::after {display: inline; font-size: 9pt; content: "‒"}
}

@media screen and (min-width: 1000px) {
.iframed .pagenavcontrols {padding: 4px 5px}
.iframed #screenlog li {font-weight: 700}
.peerinfo:hover td:nth-child(n+2) {background: #ffd}
.snarkNav:link, .snarkNav:visited {font-size: 10pt}
.torrentAction {padding-left: 4px; padding-right: 3px}
.torrentDownloaded {padding-left: 9px; padding-right: 9px}
.torrentETA, .RateUp, .torrentUploaded, .RateDown, .peerinfo .RateUp, .peerinfo .torrentUploaded, .peerinfo .RateDown {padding-right: 8px; padding-left: 8px}
.torrentName {padding-right: 3px}
.trackerLink {padding-left: 4px}
#torrents th:nth-child(n+4) {text-align: center}
}

@media screen and (min-width: 1200px) {
.active.downloading .peerCount b {background: repeating-linear-gradient(135deg,#252,#252 8px,#141 9px,#141 17px)}
.active.downloading .peerCount b::before {border-color: transparent #252 transparent transparent}
.active.seeding.complete .peerCount b {background: repeating-linear-gradient(135deg,#937,#937 8px,#826 9px,#826 17px)}
.active.seeding.complete .peerCount b::before {border-color: transparent #937 transparent transparent}
.inactive.downloading .peerCount b, .active.starting.processing .peerCount b {color: #333; background: #bb0}
.inactive.downloading .peerCount b::before, .active.starting.processing .peerCount b::before {border-color: transparent #bb0 transparent transparent}
.inactive.downloading .peerCount b, .peerCount b .right, .peerCount b .left {text-shadow: 0 1px 1px #222}
.nav_main:link, .nav_main:visited, .nav_main:hover, .nav_main:focus, .nav_main:active {padding-left: 27px; background-size: 17px, 100%}
.nopeers.incomplete .peerCount b::before {border-color: transparent #aaa transparent transparent}
.nopeers.incomplete .peerCount b {text-shadow: 0 1px 1px #999; background: #aaa}
.nopeers .peerCount b .left, .nopeers .peerCount b .right {color: #333; text-shadow: 0 1px 1px #aaa}
.percentDownloaded {pointer-events: none}
.RateUp:not(:empty), #torrents tfoot th.RateUp:not(:empty), .peerinfo .RateUp:not(:empty) {padding-right: 10px}
.snarkNav:link, .snarkNav:visited {letter-spacing: .1em; font-size: 11pt}
.stopped.complete .peerCount b {background: #28f}
.stopped.complete .peerCount b::before {border-color: transparent #28f transparent transparent}
.stopped.incomplete .peerCount b::before, .inactive.neterror .peerCount b::before {border-color: transparent #900 transparent transparent}
.stopped.incomplete .peerCount b, .inactive.neterror .peerCount b {color: #eee; background: #900}
td.peerCount {padding-left: 0; padding-right: 3px; width: 1%; white-space: nowrap; font-weight: 700}
.peerCount b {padding: 4px 3px; min-width: 104px; display: inline-block; position: relative; line-height: 1; text-align: center; font-size: 95%; color: #ddd; text-shadow: 0 1px 1px #000; -webkit-text-stroke: 0; border-radius: 2px; background: #ac5390; filter: drop-shadow(0 0 1px #000)}
.peerCount b .left {margin-right: 0}
.peerCount b .left, .peerCount b .right {margin: 0 1px; padding: 2px 3px 1px; min-width: 38px; display: inline-block; text-align: center; color: #eee; border-radius: 1px; box-shadow: 0 0 0 1px rgba(32,32,32,.4), inset 2px 2px 2px rgba(0,0,0,.2); background: linear-gradient(180deg,rgba(128,128,180,.2), rgba(192,192,220,.2))}
.peerCount b .right {margin-left: 0}
.peerCount b::before {width: 0; height: 0; position: absolute; top: calc(50% - 5px); left: -10px; border-width: 5px; border-style: solid; border-color: transparent #ac5390 transparent transparent; content: ""}
.peerCount b:hover a:hover::after, .peerCount b:hover a:focus::after {border-color: transparent transparent #f60 transparent}
.peerCount b:hover a[href*="?p="]:hover::after, .peerCount b:hover a[href*="?p="]:focus::after {border-color: #f60 transparent transparent transparent}
.peerCount b a {color: #fff}
.peerCount b a:hover, .peerCount b a:focus {color: #f60}
.peerCount b a:hover .left, .peerCount b a:hover .right {min-width: 32px; color: #f60; background: linear-gradient(180deg,rgba(220,80,0,.3), rgba(255,96,0,.3))}
.peerCount b a:hover .right {margin-left: -9px}
.peerCount b a[href*="?p="]:hover::after {top: calc(50% - 2px); border-color: #fff transparent transparent transparent}
.peerCount b a:hover::after {width: 0; height: 0; position: absolute; right: 5px; bottom: calc(50% - 2px); border-color: transparent transparent #fff transparent; border-style: solid; border-width: 3px; content: ""}
.torrentAction {padding-right: 3px}
.torrentName {padding-left: 4px}
.trackerconfig input.trackername {width: 180px; max-width: 180px}
.trackerconfig th:nth-child(7), .trackerconfig td:nth-child(7) {padding-left: 50px}
.trackerhome, .trackerannounce, .knownTracker a {width: 300px; max-width: 300px}
#configs tr:nth-last-child(n+4) td {padding-top: 3px; padding-bottom: 3px}
#screenlog li::before {background-size: 10px}
}

@media screen and (min-width: 1400px) {
.peerCount .left, .peerCount .right {min-width: 20px}
.debuginfo td:nth-child(2) {word-spacing: .5em}
.debuginfo b {margin-right: 5px; min-width: 80px; display: inline-block; text-align: right}
}

@media screen and (min-width: 1500px) {
body, .snarkAddInfo, #commentInfo textarea, input[type=text], input[type=submit], .control {font-size: 10pt}
code, tt {font-size: 9pt}
input[type=submit] {min-width: 100px}
.debuginfo td {padding-top: 4px; padding-bottom: 4px; word-spacing: 0; font-size: 10pt}
.iframed #navbar {padding-top: 7px; padding-bottom: 8px}
.magnetLabel::before {margin-left: -10px; position: absolute; top: calc(50% - 6px); left: -3px; border-width: 6px; border-style: solid; border-color: transparent #bbc transparent transparent; content: ""; display: inline-block}
.magnetLabel {margin: 0; padding: 2px 6px; line-height: 1; border-radius: 1px; box-shadow: 0 0 0 1px #bbc, inset 0 0 0 1px #fff; background: linear-gradient(180deg,#f2f2ff, #eef)}
.snarkNav:link, .snarkNav:hover, .snarkNav:focus {background-size: 16px, 100%}
.snarkNav:link, .snarkNav:visited {font-size: 11pt}
td.torrentDetails img, .dirInfo td:first-child img:not(.thumb) {width: 22px; height: 22px; max-width: 22px; max-height: 22px}
.trackerLink img {height: 18px}
th.torrentETA, th.torrentDownloaded, th.torrentUploaded, th.RateDown, th.RateUp, td.torrentETA, td.torrentDownloaded, td.torrentUploaded, td.RateDown, td.RateUp {min-width: 80px; text-align: center}
.toggleview, #tab_config {padding: 4px 1px 3px; min-width: 400px}
.torrentDetails img[src$="rateme.svg"] {margin-top: -1px; margin-right: -1px; width: 11px; height: 11px}
.torrentDownloaded, .snarkTorrertUploaded, .RateDown, .peerinfo td:nth-child(2), .debuginfo td:nth-child(2) {white-space: nowrap}
.torrentDownloaded, .torrentUploaded, .RateDown, .RateUp {min-width: 76px}
.torrentInfo .infohash {padding: 4px 4px 5px 20px; background: #f8f8ff var(--hash) no-repeat 4px center / 14px}
.torrentInfo th:first-child img, #torrentinfostats img, #trackers img {margin: -2px 5px 0; max-height: 18px}
.trackerhome, .trackerannounce, .knownTracker a {width: 400px; max-width: 400px}
.trackerhome, .trackerannounce, .knownTracker a {width: 400px; max-width: 400px}
#ourDest {margin: -1px 0 0 3px}
#screenlog {height: 60px}
#screenlog li::before {width: 15px; height: 11px; background-size: 10px 10px}
#screenlog li, #screenlog li a, #screenlog li a:visited {font-size: 9.5pt !important}
#snarkFiles .ParentDir a {font-size: 90%}
#torrentInfoStats .nowrap {margin-right: 6px}
}

@media screen and (min-width: 1600px) {
a, a:link, th, td, button, input, select, textarea {font-size: 10pt}
.pagenavcontrols {padding: 5px 5px 4px}
#torrents tt {font-size: 9pt}
}