/* I2PSnark theme 'Zilvero' */
/* Author: dr|z3d */
/* Copyright 2018 */

@import url(/themes/fonts/DroidSans.css);

:root {
--a: #d23;
--bar_active: repeating-linear-gradient(135deg, #9fc69f 1px, #9fc69f 6px, #81e481 6px, #81e481 11px);
--bar: repeating-linear-gradient(90deg, #d1cbc7, #d1cbc7 10%, #b9b1ac 10%, #b9b1ac 20%);
--bevel_notify: 0 0 0 1px #777, var(--highlight), inset 0 0 3px 0 var(--a);
--bg: url("data:image/svg+xml,%3Csvg height='4' viewBox='0 0 4 4' width='4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 3h1v1h-1zm2-2h1v1h-1z' fill='%23e2e2ff' fill-opacity='.5'/%3E%3C/svg%3E");
--bodyfont: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Lucida Grande, Bitstream Vera Sans, Verdana, sans-serif;
--border: 1px solid #aaa;
--border_filtered: none;
--border_hard: 1px solid #777;
--btn_active: linear-gradient(180deg,#f2f2f2, #f8f8f8);
--btn_hover: linear-gradient(180deg,#fff, #ddd);
--btn: linear-gradient(180deg,#fff, #eee);
--btn_shadow_active: var(--highlight), inset 3px 3px 3px rgba(0,0,0,.4);
--bullet: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 64 64'%3E%3Ccircle cx='32' cy='32' r='31' fill='%23384'/%3E%3Cg stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' transform='matrix(.90207 0 0 .90192 3.3 3.4)'%3E%3Cpath id='a' fill='%23fff' stroke='%23fff' stroke-dasharray='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.1' d='M31.7 2.2c-2.8 7-7.9 13.3-8 20.5.2 4.1 2.6 7.1 5.7 8.9-15 0-14.6 12.8-22.4 16.8 12.2 0 20.8 1.8 24.7-6v.1V2.3s0 0 0 0zM7 48.4h-.1 0z'/%3E%3Cuse xlink:href='%23a' width='100%25' height='100%25' transform='matrix(-1 0 0 1 63.6 0)'/%3E%3C/g%3E%3C/svg%3E");
--highlight: inset 0 0 0 1px #fff;
--ink: #555;
--monospaced: Droid Sans Mono, Noto Mono, DejaVu Sans Mono, Lucida Console, monospace;
--notify: var(--th);
--row_filtered: #fafafa;
--softborder: 0 0 0 1px #bbb;
--td_dl: linear-gradient(270deg, #3d3 3px, rgba(0,0,0,0) 3px);
--th: var(--bg), linear-gradient(180deg,#fff,#ddd);
--tr_hover: #dcd8d5;
--tr: var(--bg), linear-gradient(180deg,#fefefe,#ededed);
}

html {border-right: var(--border); background: repeating-linear-gradient(180deg,#ddd 2px,#bbb 4px) #bbb; background-size: 100% 4px; scrollbar-color: #999 #eee}
body, html {min-height: calc(100% - 5px)}
body {margin: 0; padding: 5px 5px 0; min-width: 800px; color: var(--ink); background: var(--b_snark_hover), var(--b_snark_active), var(--b_tracker_hover), var(--b_tracker_active), var(--b_forum_hover), var(--b_forum_active); background-size: 0}
body.iframed {min-width: 700px; padding: 0; background: #777}
body, td, th, span, table a, input[type=submit], input[type=text], textarea {font-family: var(--bodyfont); font-size: 9pt}
input, button, textarea, select, a {outline: none}
*::selection {color: #fff; background: #b23}
#navbar, img, a img, #configs, .toggleview, .configTitle, label {user-select: none}
img {font-size: 0}
a:link, .toggleview, a:visited {text-decoration: none; font-weight: 700; color: #b23}
a:hover, a:focus, .configTitle a:hover, .toggleview:hover, .trackerName a:visited:hover, .trackerName a:visited:focus {text-decoration: none; color: var(--a)}
code, tt {font-weight: 700; color: #393}
tt {margin: 0 2px}
form {margin: 0}
table {border-collapse: separate; border-spacing: 0; background: #eee}
table table {border: none}
tr {contain: layout}
th {padding-top: 7px; padding-bottom: 7px; vertical-align: middle; border-top: var(--border); border-bottom: var(--border); background: var(--th)}
th img {max-height: 24px}
thead img {font-size: 0}
thead a img:hover {filter: drop-shadow(0 0 1px #b23) drop-shadow(0 0 1px #b23)}
td {padding: 3px}
hr {background: transparent; color: transparent; height: 0; border: none}
.page {margin-bottom: 5px; padding: 5px; border: var(--border); box-shadow: var(--highlight); background: #ddd; animation: fade-in .05s ease .7s both}
.iframed .page, .iframed #navbar {border: none}
.iframed .page {margin-bottom: 0; border-top: var(--border)}
#screenlog a:focus, .torrentName a:focus, .knownTracker a:focus, th.suboption a:focus {color: #fff; border-radius: 1px; background: var(--a)}
.toggleview:hover, .configTitle a:hover {text-decoration: none; cursor: pointer}
.snarkNav, .toggleview, .configTitle, .suboption, input[type=submit], a.control {font-weight: 700; box-shadow: var(--highlight); background: var(--btn)}
.toggleview:hover, #configSection .configTitle:hover {background: var(--btn_hover)}
#navbar a, #tab_config a:not(:hover):not(:focus):not(:active), #tab_config a:not(:hover):not(:focus):not(:active):visited, .toggleview, a.control, a.control:visited {color: #777}
.configTitle img {display: none}
.configTitle, .toggleview, .snarkNav {letter-spacing: .1em; text-transform: uppercase}
.rowOdd, .torrentInfo tr:nth-child(odd), #trackerselect tr:nth-child(2n+2), .knownTracker:nth-child(odd), #mediaContainer th, #commentInfo tr:first-child, #torrentEdit tr:nth-child(even) {background: #fafafa}
.noneLoaded td {border-bottom: var(--border)}
.peerinfo:hover td, #torrentEdit tr:hover td {background-color: var(--tr_hover)}
.rowEven, .torrentInfo tr:nth-child(even), #trackerselect tr:nth-child(2n+3), .knownTracker:nth-child(even) {background: #f0f0f0}
.rowOdd, .rowEven {background: var(--tr)}
.torrentInfo td {padding-top: 5px; padding-bottom: 5px}
.torrentInfo tr:last-child td {border-top: var(--border)}
.rowOdd td, .rowEven td, #filterResults td {border-top: 1px solid #fff; border-bottom: var(--border)}
#torrents tr:hover, .dirInfo tr:hover, #trackerselect tr:nth-child(n+2):hover {background: var(--tr_hover)}
.dirInfo .ParentDir a, .dirInfo .snarkFileName a, #torrents .torrentName a {padding: 2px 0; display: inline-block; width: 100%}
#torrents tr:hover th, .dirInfo tr:hover th {color: #333; background: #eee}
.dirInfo, .torrentInfo, #userComments, #commentInfo, #mediaContainer {width: 100%}

/* inputs */
input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner {border: none; outline: none}
input[type=text], input[type=password], textarea, select {box-sizing: border-box; line-height: 1.3}
input[type=submit]:hover, a.control:hover {color: var(--a)}
.control, input[type=submit], input[type=reset] {margin: 1px 2px; padding: 6px 10px; display: inline-block; white-space: nowrap; font-size: 105%; color: var(--ink); text-shadow: 0 1px 1px #fff; box-shadow: var(--highlight); border: var(--border); border-radius: 3px; background: #fff}
input[type=submit]:hover, a.control:hover {border: 1px solid #b32; background: var(--btn_hover)}
input[type=submit]:active, a.control:active {background: var(--btn_active)}
input[type=submit], input[type=reset] {min-width: 90px}
input.add, input.create {min-width: 110px}
input[type=submit], input[type=reset], input[type=radio], input[type=checkbox], select, .snarkConfig label {cursor: pointer}
input[type=submit]:disabled, input[type=reset]:disabled, input[type=radio]:disabled, input[type=checkbox]:disabled, select:disabled {cursor: not-allowed}
input[type=radio], input[type=checkbox] {vertical-align: middle}
input[type=submit], a.control {margin: 2px 4px; float: right; color: var(--ink); font-weight: 700}
.control, .control:visited {padding-top: 5px; padding-bottom: 4px; font-weight: 400}
.control:hover {background: #930; color: white; text-decoration: none}
.control:active {background: #f30}
.control img, .controld {display: none}
input[disabled] {opacity: .5}
input[type=text] {margin: 1px 2px; padding: 5px; color: #444; font-weight: 700; border: var(--border); border-radius: 1px; box-shadow: inset 2px 2px 2px #bbb; background: #f8f8f8}
input[type=text]:focus {color: #b23; box-shadow: inset 0 0 0 1px #d30; background: #fff}
select {margin: 2px 4px 2px 0; padding: 6px 16px 6px 6px; min-width: 120px; color: var(--ink); font: bold 9pt var(--bodyfont); border: var(--border); border-radius: 3px; background: var(--dropdown) no-repeat right 6px center / 10px, var(--btn); appearance: none}
select:hover, select:focus {color: #b23; border: 1px solid #b23; background: var(--dropdown_hover) no-repeat right 6px center #fff; background-size: 10px}
select:disabled {opacity: .5; cursor: not-allowed}
.optbox, .optbox:checked, .optbox:checked[disabled], .optbox:checked[disabled]:checked {width: 19px; height: 19px; position: relative; vertical-align: middle; box-sizing: border-box; border: var(--border); box-shadow: inset 0 0 2px 1px #f2f2f2; background: #fff; -moz-appearance: none; -webkit-appearance: inherit; appearance: none}
input[type=checkbox], input[type=checkbox]:checked, input[type=checkbox][disabled], input[type=checkbox][disabled]:checked {border-radius: 1px}
input[type=radio], input[type=radio]:checked, input[type=radio][disabled], input[type=radio][disabled]:checked {border-radius: 50%}
input[type=radio][disabled], input[type=radio][disabled]:checked {background: #bbb}
input[type=checkbox]:checked::before, input[type=radio]:checked::before, input[type=checkbox]:not(:checked)::before, input[type=radio]:not(:checked)::before {position: absolute; font-size: 0; transition: linear all .05s; transform: scale(1); will-change: transform}
input[type=checkbox]:checked::before, input[type=checkbox]:not(:checked)::before {content: ""; top: 4px; left: 4px; width: 9px; height: 9px; overflow: hidden; line-height: .8; font-size: 15pt; border-radius: 1px; background: #777}
input[type=checkbox]:checked:focus::before {background: #b32}
input[type=radio]:checked::before {content: ""; border-radius: 50%; top: 4px; left: 4px; width: 9px; height: 9px; background: #777}
input[type=radio]:checked:hover::before, input[type=radio]:checked:focus::before, input[type=checkbox]:checked:hover::before, input[type=checkbox]:checked:focus::before {background: #b32}
input[type=checkbox]:not(:checked), input[type=radio]:not(:checked) {box-shadow: inset 2px 2px 2px #bbb}
input[type=checkbox]:not(:checked)::before, input[type=radio]:not(:checked)::before {transform: scale(0)}
input[type=checkbox]:hover, input[type=radio]:hover, input[type=checkbox]:focus, input[type=radio]:focus {background: #fff; width: 19px; height: 19px; box-shadow: none; border: 1px solid #b32}
input[type=checkbox][disabled], input[type=radio][disabled], input[type=checkbox][disabled]:hover, input[type=radio][disabled]:hover, input[type=checkbox][disabled]:checked, input[type=radio][disabled]:checked, input[type=checkbox][disabled]:checked:hover, input[type=radio][disabled]:checked:hover {display: inline-block; width: 19px; height: 19px; opacity: .5}
.optbox[disabled], .optbox[disabled]:hover, .optbox[disabled]:focus, .optbox[disabled]:active {opacity: .5; pointer-events: none}
textarea {background: #eee; width: 100%; height: 40px; min-height: 40px; resize: vertical; box-shadow: inset 2px 2px 2px #ddd; border: var(--border)}
textarea:focus {background: #fff}
textarea[name="nofilter_newComment"] {margin: 7px 0 7px 2px; padding: 3px; width: 100%; height: 40px; min-height: 40px; resize: vertical; box-shadow: inset 2px 2px 2px #ddd; border: var(--border)}
textarea[name="nofilter_newComment"]:focus {min-height: 64px; box-shadow: inset 0 0 0 1px #b32}
#torrentEdit textarea {height: 80px; min-height: 80px}
#filesPublic {margin-right: 199px}
.knownTracker .optbox, #addtracker .optbox {vertical-align: middle; margin-top: 1px; margin-bottom: 1px}

/* navbar */
.snarkNav, .snarkNav:visited {margin: 2px -3px; display: inline-block; font-weight: 700; border: var(--border); background: #fff}
#navbar a:hover, .configTitle a:hover {color: var(--a)}
#navbar a:active, .configTitle a, .configTitle a:active, .toggleview:active, #torrentDisplay label:active {color: #bbb}
.snarkNav:active {border: var(--border)}
.nav_main {border-radius: 1px 0 0 1px}
.snarkNav.nav_main:last-child, .snarkNav:last-child {border-radius: 0 1px 1px 0}
.snarkNav.nav_main:last-child {border-radius: 1px}
.nav_main:link, .nav_main:hover, .nav_main:focus, .nav_main:active {background: var(--b_snark) no-repeat 10px center / 16px, var(--btn)}
.nav_forum:link {background: var(--b_forum) no-repeat 10px center / 16px, var(--btn)}
.nav_tracker:link {background: var(--b_tracker) no-repeat 10px center / 16px, var(--btn)}
.nav_search:link {background: var(--b_search) no-repeat 10px center / 16px, var(--btn)}
.nav_main:hover, .nav_main:focus {background: var(--b_snark_hover) no-repeat 10px center / 16px, var(--btn_hover)}
.nav_forum:hover, .nav_forum:focus {background: var(--b_forum_hover) no-repeat 10px center / 16px, var(--btn_hover)}
.nav_tracker:hover, .nav_tracker:focus {background: var(--b_tracker_hover) no-repeat 10px center / 16px, var(--btn_hover)}
.nav_search:hover, .nav_search:focus {background: var(--b_search_hover) no-repeat 10px center / 16px, var(--btn_hover)}
.nav_main:active {background: var(--b_snark_active) no-repeat 10px center / 16px, var(--btn_active)}
.nav_forum:active {background: var(--b_forum_active) no-repeat 10px center / 16px, var(--btn_active)}
.nav_tracker:active {background: var(--b_tracker_active) no-repeat 10px center / 16px, var(--btn_active)}
.nav_search:active {background: var(--b_search_active) no-repeat 10px center / 16px, var(--btn_active)}
.snarkNav, .snarkNav:hover, .snarkNav:focus, .snarkNav:active {padding: 5px 11px 5px 28px; background-size: 16px, 100%, 100%; background-position: 10px center; background-repeat: no-repeat, repeat}
.snarkNav:hover {border: 1px solid var(--a); position: relative; z-index: 2; box-shadow: var(--highlight)}
input[type=submit]:active, a.control:active, .snarkNav:active, #torrentDisplay label:active {color: #bbb; box-shadow: var(--btn_shadow_active)}
#navbar, table, #screenlog {border: var(--border); background: #eee}
#navbar {margin-bottom: -1px; padding: 5px; font-size: 11pt}
.iframed #navbar {margin: 0 -1px; padding: 5px 5px 4px}

/* screenlog */
#closelog, #expand, #shrink {margin-right: 5px; position: sticky; top: 0; float: right; mix-blend-mode: luminosity}
#shrink {display: none}
#closelog:hover, #expand:hover, #shrink:hover {mix-blend-mode: normal}
#closelog img, #expand img, #shrink img {height: 12px; width: 12px; padding: 3px; margin-right: -6px; margin-top: -1px; border: var(--border); box-shadow: var(--highlight); background: #f8f8f8}
#closelog img:hover, #expand img:hover, #shrink img:hover {background: #fff}
#screenlog {margin-bottom: -1px; height: 60px; overflow: hidden; line-height: 1.15; font-size: 9pt; text-align: left; box-shadow: var(--highlight); background: #f2f2f2; background: url(../ubergine/images/hat.png) right -4px bottom -10px no-repeat, linear-gradient(180deg,#fff,#eee); background-size: auto 80px, 100%; contain: paint}
#screenlog:hover {overflow-y: auto}
#screenlog ul {margin: 1px 20px 0 -37px; list-style: none; color: #384; font-weight: 700; contain: size}
#screenlog li, #screenlog li a {line-height: 1.2}
#screenlog li::before {margin: -2px 3px 0 0; width: 10px; height: 10px; content: ""; display: inline-block; vertical-align: middle; background: var(--bullet) no-repeat left center / 10px}

/* pagenav */
.pagenavcontrols {padding: 5px; border: var(--border); border-bottom: none}
.pagenavcontrols img {margin: 0 3px; display: none}
#pagecount {margin: 0 8px; font-weight: 700; font-size: 130%; display: inline-block; vertical-align: middle; letter-spacing: .1em}
.pagenavcontrols span:not(#pagecount) {margin: 0 3px; border: var(--border); border-radius: 1px; background-size: 16px; background-repeat: no-repeat; background-position: center center; background-color: #fff}
.pagenavcontrols span:not(#pagecount):hover {border: 1px solid #b23}
.pagenavcontrols span:not(#pagecount):active {border: var(--border_hard); box-shadow: var(--btn_shadow_active); background-color: #fff; background-blend-mode: luminosity}
.pagenavcontrols #first {width: 20px; height: 20px; display: inline-block; vertical-align: middle; background: var(--first)}
.pagenavcontrols #first:hover, .pagenavcontrols a:focus #first {background: var(--first_hover)}
.pagenavcontrols #previous {width: 20px; height: 20px; display: inline-block; vertical-align: middle; background: var(--previous)}
.pagenavcontrols #previous:hover, .pagenavcontrols a:focus #previous {background: var(--previous_hover)}
.pagenavcontrols #next {width: 20px; height: 20px; display: inline-block; vertical-align: middle; background: var(--next)}
.pagenavcontrols #next:hover, .pagenavcontrols a:focus #next {background: var(--next_hover)}
.pagenavcontrols #last {width: 20px; height: 20px; display: inline-block; vertical-align: middle; background: var(--last)}
.pagenavcontrols #last:hover, .pagenavcontrols a:focus #last {background: var(--last_hover)}
.pagenavcontrols .disable {opacity: .5; pointer-events: none}

/* torrents */
.active.downloading .percentBarInner {background: repeating-linear-gradient(135deg,#70a97e, #70a97e 10px, #47d16a 10px, #47d16a 20px)}
.active.seeding:hover .percentBarComplete {background: linear-gradient(90deg, rgba(0,0,0,0) 49%, #d5a, rgba(0,0,0,0) 51%) #7259c0; background-size: 200%, 100%}
.active.seeding .percentBarComplete {background: linear-gradient(90deg, rgba(0,0,0,0) 49%, #b39, rgba(0,0,0,0) 51%) #7e70a9; background-size: 200%, 100%}
#filterResults, #filterResults td {animation: disappear .1s linear 2s both}
#filterResults td {padding: 10px 8px; text-align: center; font-weight: 700; font-style: italic; box-shadow: var(--highlight); background: linear-gradient(180deg,#fff,#f7f7f7)}
.inactivity {margin-left: 10px; max-width: 400px; min-width: 5px; height: 4px; display: inline-block; vertical-align: middle; box-shadow: 0 0 0 1px #999; background: #900; background: repeating-linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0) 15px, rgba(128,128,128,.5) 15px, rgba(128,128,128,.5) 16px, rgba(0,0,0,0) 16px), linear-gradient(180deg,rgba(255,255,255,.3) 50%, rgba(0,0,0,.3) 50%), linear-gradient(90deg, #bb0 50px, #900)}
.inactivity[style="width: 0px;"], .inactivity[style="width: 1px;"], .inactivity[style="width: 2px;"], .inactivity[style="width: 3px;"], .inactivity[style="width: 4px;"], .inactivity[style="width: 5px;"] {display: none}
#ourDest, .peerclient {padding: 1px 4px; display: inline-block; border-radius: 1px; box-shadow: inset 0 0 0 1px #bbb; background: #fff}
#ourDest {margin-left: 3px; line-height: 1.3}
.peerclient {width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.peerCount {font-weight: 700}
.peerCount b {min-width: 64px; display: inline-block; line-height: 1.6; border-radius: 1px; box-shadow: 0 0 0 1px #bbb, var(--highlight); background: linear-gradient(180deg, #f2f2f2, #eee)}
.active .peerCount b {background: linear-gradient(180deg, #fff, #edd)}
.peerCount .left, .peerCount .right {min-width: 22px; display: inline-block; text-align: center}
.peerinfo {background-color: #fffffd}
.peerinfo td {border-bottom: 1px solid #bbb}
.peerinfo td:first-child {background: var(--client) no-repeat center center / 20px}
td.graphicStatus img {height: 22px}
td.peerCount:empty, .nopeers td.peerCount {text-align: center}
td.peerCount:empty {padding-left: 6px; min-width: 12px}
td.peerCount:empty::after {margin-left: -8px; content: ""; display: inline-block; width: 8px; height: 8px; background: var(--ink)}
td.torrentDetails img:not([src$="rateme.svg"]), .dirInfo td:first-child img:not(.thumb) {width: 21px; height: 21px}
td.torrentDetails a:active img, .dirInfo td:first-child a:active img:not(.thumb) {transform: scale(.9); filter: saturate(.5)}
td.torrentDetails a:hover img, td.torrentDetails a:focus img, .dirInfo td:first-child a:hover img:not(.thumb), .dirInfo td:first-child a:focus img:not(.thumb) {filter: drop-shadow(0 0 1px var(--a)) drop-shadow(0 0 2px rgba(96,0.0,.7)); transform: scale(1.1)}
td.torrentDownloaded {width: 1%; text-align: center}
.tooltipped {display: inline-block; position: relative; z-index: 99; content: ""}
.tooltipped:hover {filter: drop-shadow(0 0 1px rgba(0,0,0,.2))}
.tooltipped:hover::before, .tooltipped:active::before, .tooltipped:hover::after, .tooltipped:active::after {position: absolute; display: inline-block}
.tooltipped:hover::after, .tooltipped:active::after {padding: 3px 6px; top: 0; left: 32px; font-weight: 600; border: 1px solid #cca; border-radius: 2px; box-shadow: var(--highlight); background: linear-gradient(180deg,#fff,#ffd); content: attr(data-tooltip); animation: fade-in .1s ease 3s reverse both}
.tooltipped:hover::before, .tooltipped:active::before {margin-left: -10px; top: calc(50% - 4px); left: 30px; border-width: 6px; border-style: solid; border-color: transparent #cca transparent transparent; content: ""; animation: fade-in .1s ease 3s reverse both}
.torrentDetails {padding-right: 0}
.torrentDownloaded {width: 1%}
#torrents td, #torrents th {padding: 5px}
#torrents th.peerCount img {margin-left: 8px}
#torrents thead th, #torrents tfoot th, tr:hover #torrents thead th, tr:hover #torrents tfoot th {background: #fff}
#torrents thead th {white-space: nowrap; text-align: center; font-size: 8pt; border-top: none}
#torrents thead img {vertical-align: middle}
#torrents thead a img {display: inline-block}
#torrents td:empty, #torrents th:empty {padding: 3px; width: 0; min-width: 0; font-size: 0}
#torrents td img {margin: -1px 0; vertical-align: middle}
#torrents td.torrentDownloaded, #torrents td.torrentUploaded, .torrentAction {width: 1%; white-space: nowrap}
#torrents td.torrentName {padding-left: 8px; width: 99%; font-weight: 700; white-space: normal}
#torrents td {width: 1%; white-space: nowrap}
#torrents tfoot th {padding: 8px 5px; border-top: none; border-bottom: none; background: #fff}
#torrents tfoot tr:first-child th:nth-child(n+2) {text-align: center; white-space: nowrap}
tfoot .RateDown:not(:empty)::before, tfoot .torrentDownloaded:not(:empty)::before, tfoot .RateUp:not(:empty)::before,tfoot .torrentUploaded:not(:empty)::before {margin-right: 1px; margin-top: -3px; display: inline-block; vertical-align: middle; line-height: 0; font-size: 80%}
tfoot .RateDown:not(:empty)::before, tfoot .torrentDownloaded:not(:empty)::before {content: "\27A4"; transform: rotate(90deg) scaleX(0.6)}
tfoot .RateUp:not(:empty)::before, tfoot .torrentUploaded:not(:empty)::before {content: "\27A4"; transform: rotate(-90deg) scaleX(0.6)}
.snarkCommented {display: inline-block; vertical-align: top; margin: -2px -3px 0 0}
.snarkCommented img {width: 10px; height: 10px; display: inline-block; vertical-align: top; position: relative; z-index: 10}
.torrentName a, .dirInfo .snarkFileName a {padding: 4px 0; font-weight: 700; font-style: normal}
.torrentName a:hover, .snarkFileName a:hover, .torrentName:hover a, .dirInfo:hover a {box-shadow: none; background: none}
.torrentName a:hover, .snarkFileName a:hover {border-radius: 0 15px 15px 0; background: linear-gradient(90deg, rgba(0,0,0,0), rgba(155,108,46,.2) 40%)}
.torrentName a:active, .snarkFileName a:active {box-shadow: inset 2px 2px 2px 1px rgba(32,32,0,.3); border: none}
td.trackerLink a {width: 20px; height: 20px; display: inline-block; background: var(--link) no-repeat center center; background-size: 16px}
td.trackerLink a:hover {box-shadow: var(--highlight), 0 0 0 1px #b32; background-color: #eee}
td.trackerLink a:active {box-shadow: var(--highlight), inset 3px 3px 3px rgba(0,0,0,.4), 0 0 0 1px #b32}
.trackerLink img {width: 16px; height: 16px; opacity: 0}
td.RateDown, td.RateUp, td.RateDown span, td.RateUp span {font-style: italic}
.peerCount {text-align: center}
.graphicStatus {width: 48px}
td.graphicStatus img {width: 24px}
.peerinfo .graphicStatus {background-size: 18px}
.active.downloading .torrentAction, .active.downloading:hover .torrentAction, .active.RX .torrentAction, .active.RX:hover .torrentAction {background: var(--td_dl); animation: ease-in-out downloading .5s 3s forwards}
.canhide {display: none}
.infohash {padding: 0 3px 0 15px; width: 100px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; color: #393; font-family: var(--monospaced); border-radius: 1px; background: #fff var(--hash) no-repeat left center / 12px; user-select: all}
.infohash::selection {background: #393}
.magnetLabel {margin-left: 3px; padding-left: 14px; padding-right: 2px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; line-height: 1.1; background: var(--tag) no-repeat left center / 12px; opacity: .8}
tr:hover .magnetLabel {opacity: 1}
.noneLoaded td, .noneLoaded:hover td {text-align: center; font-size: 10pt; font-weight: 700; padding: 15px; background: #eee}
.routerdown {padding: 15px 10px; font-size: 120%; text-shadow: 0 1px 1px #fff; border: var(--border); box-shadow: var(--highlight), inset 0 0 2px 1px #ddd; background: repeating-linear-gradient(135deg, #eee, #eee 20px, #fff 20px, #fff 40px)}
#torrents .infohash {padding: 2px 4px 2px 18px; display: inline-block; border-radius: 1px; box-shadow: 0 0 0 1px #7a7, var(--highlight); background: var(--hash) no-repeat 4px center / 12px, linear-gradient(180deg,#efe,#e6ffe6)}
#totals {margin-left: 3px; white-space: nowrap}

/* action buttons */
.torrentAction {padding-right: 5px; white-space: nowrap}
#torrents .torrentAction {padding-right: 4px}
#torrents .torrentAction input {margin: 0 2px; padding: 11px; display: inline-block; min-width: 0; float: none; font-size: 0; border-radius: 2px; box-shadow: inset 0 0 0 1px #fff; background-blend-mode: luminosity}
#torrents #actionStopAll, #torrents #actionStartAll {padding: 10px 16px}
#torrents .actionStart {background: var(--start) no-repeat center center / 14px, var(--btn)}
#torrents .actionStop {background: var(--stop) no-repeat center center / 14px, var(--btn)}
#torrents .actionRemove {background: var(--remove) no-repeat center center / 14px, var(--btn)}
#torrents .actionDelete {background: var(--delete) no-repeat center center / 14px, var(--btn)}
#torrents #actionStartAll {background: var(--startall) no-repeat center center / auto 14px, var(--btn)}
#torrents #actionStopAll {background: var(--stopall) no-repeat center center / auto 14px, var(--btn)}
#torrents .torrentAction input:hover {background-blend-mode: normal}
#torrents .torrentAction input:active, #actionStartAll:active, #actionStopAll:active {background-size: auto 12px}
.active .torrentAction, .active:hover .torrentAction {background: linear-gradient(270deg, #cb4dcb 3px, rgba(0,0,0,0) 3px); animation: ease-in-out active .5s 3s forwards}

/* status bars */
.percentBarComplete {padding: 1px 0; width: 84px; text-align: center; font-weight: 700; color: #fff; text-shadow: 0 1px 1px #333; border: var(--border_hard); box-shadow: inset 0 0 0 1px #ddd; background: #708ca9}
.percentBarInner, .uploaded {height: 16px; vertical-align: middle; border-right: var(--border_hard); box-shadow: inset 0 0 0 1px #eee; background: var(--tr_hover)}
.percentBarOuter, .percentbarInner, .percentBarText {font-weight: 700}
.percentBarInner {background: #7b9d84}
.percentBarOuter {border: var(--border_hard); box-shadow: var(--btn_shadow_active); background: var(--bar)}
.active .percentBarOuter {background: repeating-linear-gradient(135deg, #eee 1px, #eee 6px, #fff 6px, #fff 11px); background-size: 400% 400%; will-change: transform}
tr:not(.peerinfo).active.downloading .percentBarOuter {background: var(--bar_active)}
tr:not(.peerinfo).active.downloading:hover .percentBarInner {background: #47d16a}
.active.downloading .percentBarOuter {animation: progress 1s linear both}
.percentBarText {opacity: 0}
.peerinfo .percentBarOuter, .peerinfo .percentBarInner {height: 9px}
.peerinfo .percentBarInner {background: #e8dab0}
.torrentDownloaded .percentBarInner, .torrentDownloaded .percentBarOuter {max-width: 84px}
.torrentDownloaded .percentBarText::after {margin-left: -7px; position: absolute; top: 90%; left: 50%; border-width: 7px; border-style: solid; border-color: #eee transparent transparent transparent; content: ""}
.torrentDownloaded .percentBarText {padding: 3px; width: 140px; display: inline-block; position: relative; top: -18px; left: -30px; z-index: 10; border-radius: 1px; background: #eee; filter: drop-shadow(0 0 1px #999)}
tr:hover .fileStatus .percentBarText, .txBarText {color: #fff; text-shadow: 0 1px 1px #333}
tr:hover .peerinfo .percentBarInner {background: #d1b666}
tr:hover .percentBarComplete {background: #538ac6}
tr:hover .percentBarText {line-height: 1.2; color: #333; opacity: 1}
.txBarInner {height: calc(100% - 2px); display: inline-block; position: absolute; top: 1px; left: 1px; box-shadow: inset 0 3px 3px rgba(0,0,0,.3); background: linear-gradient(90deg,#f70,#f40); opacity: .25}
.txBarText {margin-top: 1px; display: inline-block; position: relative; z-index: 5; font-weight: 700}
.uploaded {min-width: 68px; height: auto; display: inline-block; position: relative; border: var(--border_hard); border-left-width: 5px; box-shadow: var(--btn_shadow_active); background: var(--bar)}

/* details */
.dirInfo {margin-top: -1px}
.dirInfo th {background: #fff}
.dirInfo th:first-child, .dirInfo td:first-child {padding-left: 10px; text-align: left}
.dirInfo th.snarkFileSize {text-align: right; padding-right: 10px}
.fileStatus {min-width: 40px; text-align: center}
.fileStatus img[src$="tick.svg"] {padding: 4px; width: 10px; height: 10px; border-radius: 50%; background: #474}
.fileStatus .percentBarOuter, .fileStatus .percentBarInner, .fileStatus .percentBarText {width: 80px}
.fileStatus .percentBarOuter {margin: 0 auto}
.knownTracker input[type=radio]:disabled {opacity: .3}
.ParentDir {border-bottom: var(--border); background: #fafafa}
.ParentDir img {display: none}
#setPriority th {padding: 6px 3px 10px; text-align: right; border-top: none}
.priority {padding-right: 5px; white-space: nowrap; text-align: right}
.priorityIndicator {display: none}
.priority input[type=radio] {text-align: left; margin: 3px}
.priority input[type=radio]:not(:checked):not(:hover) {opacity: .7}
.priorityHigh, .priorityNormal, .prioritySkip {padding: 0; width: 52px; display: inline-block; vertical-align: middle; overflow: hidden; text-align: left; font-size: 0; color: transparent}
.priorityHigh {background: url(/i2psnark/.resources/icons/clock_red.png) no-repeat left 26px center / 18px}
.priorityNormal {background: url(/i2psnark/.resources/icons/clock.png) no-repeat left 26px center / 18px}
.prioritySkip {background: url(/i2psnark/.resources/icons/block.png) no-repeat left 26px center / 18px}
.priority {padding: 5px; width: 1%; text-align: center; white-space: nowrap}
.dirInfo img[src$="priority.png"] {margin: 0}
.snarkFileName {width: 90%}
.torrentName {font-style: italic}
.torrentInfo th:first-child, .torrentInfo td:first-child {padding-left: 4px; text-align: left; font-weight: inherit}
.torrentInfo th:last-child {text-align: right; padding-right: 6px}
#torrentInfo .infohash {padding: 2px 2px 2px 17px; box-shadow: var(--highlight), var(--softborder); background-position: 3px center}
.torrentInfo th:first-child img, #torrentInfoStats img, #trackers img {margin: 0 6px}
.torrentInfo img {max-height: 16px; vertical-align: text-top; filter: saturate(0)}
.magnetlink img, .torrentlink img {padding: 1.5px 4px; vertical-align: middle; box-shadow: var(--highlight), var(--softborder); filter: none}
.torrentInfo .nowrap {display: inline-block; white-space: nowrap; line-height: 1.6}
#torrentInfoStats img[src$="head_tx.png"], #torrentInfoStats img[src$="head_rx.png"] {margin-right: 3px}
#torrentOrderControl b {display: inline-block}
#torrentOrderControl b, #torrentOrderControl input[type=checkbox] {margin: 6px 4px 0 3px; vertical-align: middle}
#torrentOrderControl {float: right}
#torrentOrderControl input[type=checkbox], #torrentOrderControl input[type=checkbox]:checked, #torrentOrderControl input[type=checkbox][disabled], #torrentOrderControl input[type=checkbox][disabled]:checked {border: 1px solid #bbb}
#torrentOrderControl label:hover {cursor: pointer}
#torrentInfoControl .stoptorrent {float: left}
.thumb, audio, video {margin: 1px 0 2px -5px; padding: 2px; border: var(--border_hard); box-shadow: inset 0 0 0 2px #fff}
audio, video {width: 240px; background: #000}
.thumb {max-width: 80px}
.thumb:hover, .thumb:focus, audio:hover, audio:focus, video:hover, video:focus {border: 1px solid var(--a)}
video:fullscreen, video:fullscreen:hover, video:fullscreen:focus {padding: 0; border: none; box-shadow: none}
video::-webkit-media-controls-timeline {padding: 0 16px 16px}
audio::-webkit-media-controls-enclosure {border-radius: 0; filter: invert(1)}
::-webkit-media-controls-panel, ::-internal-media-controls-button-panel {position: relative; z-index: 10}
video::-webkit-media-controls-panel {display: none}
video:hover::-webkit-media-controls-panel, video:focus::-webkit-media-controls-panel {display: flex}

/* sections */
#commentSection #userComments, #mediaContainer {margin-top: -1px}
#commentSection #commentInfo {margin-top: -7px}
.torrentInfo, #commentInfo {border-top: none}
.commentRating {width: 1%; white-space: nowrap}
#commentstoggle input {float: none}
#addSection table {margin-bottom: 6px}
.commentDelete {text-align: center}
#commentDeleteAction td {padding: 8px 3px; border-top: var(--border)}
#newRating select {margin-left: 2px; width: 100%}
.configTitle a {display: block}
#addSection, #createSection, #configSection, .configPanel {border: var(--border)}
#addSection, #createSection, #configSection, .configPanel, .snarkConfig, #navbar, #screenlog, #torrentDisplay, .pagenavcontrols {box-shadow: var(--highlight); background: #eee; background: var(--noise), linear-gradient(180deg,#fafafa, #eee); background-size: 248px, 100%}
#addSection, #createSection {padding-bottom: 5px; transition: ease box-shadow .3s}
#addSection {margin-top: -1px}
#addSection input[type=submit], #createSection input[type=submit] {margin-right: 0; min-width: 110px; float: none; vertical-align: middle}
#addSection input[type=text], #createSection input[type=text] {width: calc(100% - 126px); vertical-align: middle}
body:not(.lang_en) #addSection input[type=text], #createSection input[type=text] {width: calc(100% - 172px)}
#addSection table, #createSection table, #configSection table, .configPanel table {border: none; background: none}
#addSection td:first-child, #createSection td:first-child {white-space: nowrap; min-width: 120px}
#addSection td:first-child {padding-right: 10px; text-align: right; font-weight: 700}
#addSection:hover, #createSection:hover, #addSection:hover .toggleview, #createSection:hover .toggleview, #configSection .configTitle:hover, #torrentDisplay label:hover, .mainsection:hover .toggleview {box-shadow: inset 0 0 0 1px rgba(200,32,48,.5), inset 0 0 0 2px #fff; transition: ease box-shadow .3s}
#addSection:hover .toggleview, #createSection:hover .toggleview, .mainsection:hover .toggleview, #tab_config a:hover, #tab_config a:focus {color: #b23}
#addSection:hover .toggleview:active, #createSection:hover .toggleview:active, .toggleview:hover, .toggleview:active {color: #bbb}
#configSection, #createSection {margin-top: 5px}
#createSection table tr:first-child td:first-child {font-weight: 700}
#createSection td:first-child {padding-right: 10px; text-align: right}
#createSection td:nth-child(2) td:first-child {text-align: left}
#addSection .toggleview:active, #createSection .toggleview:active, #configSection .configTitle:active {box-shadow: var(--highlight), inset 3px 3px 3px #bbb}
#configSection #tab_config:active a {color: #bbb}
#addSection hr, #createSection hr {margin: -6px 0}

#createSection #trackerselect {margin: 5px 0 8px 2px; width: 100%; border: var(--border); border-collapse: separate; border-spacing: 0; border-radius: 4px}
#createSection #trackerselect td {border-top: var(--border); border-right: var(--border)}
#trackerselect td:first-child, #trackerselect td:last-child {width: 30%}
#trackerselect td:first-child {padding-left: 5px}
#createSection #trackerselect td:last-child {text-align: center; border-right: none}
#createSection #trackerselect tr:first-child td {font-weight: 700; border: none; background: #fff}
#trackerselect tr:first-child td:first-child {border-radius: 4px 0 0 0}
#trackerselect tr:first-child td:last-child {border-radius: 0 4px 0 0}
#trackerselect tr:last-child td:first-child {border-radius: 0 0 0 4px}
#trackerselect tr:last-child td:last-child {border-radius: 0 0 4px 0}
#trackerselect tr:nth-child(n+2) td:nth-child(odd) {background: rgba(192,192,192,.1)}
.toggle_input {position: absolute; opacity: 0}
input.toggle_input + label + hr + table {display: none}
input.toggle_input:checked + label + hr + table {margin-top: 20px; display: table}

/* debug */
#debugMode {width: 50px; line-height: 1; white-space: normal; font-size: 70%; opacity: 0}
#debugMode:hover {opacity: 1}
#dhtDebug hr {display: none}
#torrents #dhtDebug th {padding: 3px 8px 5px; text-align: center; font-weight: 400; border-top: var(--border)}

.info_tracker {margin: 0 1px; padding: 0 4px; display: inline-block; vertical-align: middle; background: #fff; color: #930; border-radius: 1px}
.info_tracker a {display: inline-block}
#trackers .info_tracker {vertical-align: text-bottom}
.info_tracker a[href*=".b32"] {max-width: 80px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap}
#torrentEdit .info_tracker, #torrentEdit .info_tracker a {font-weight: 400; color: var(--ink); background: none; pointer-events: none}
.fileIcon {width: 1%}
.toggleview img {display: none}
#createSection td:first-child {font-weight: 700}
#createSection #trackerselect td:first-child {font-weight: 400}

/* comments */
#commentInfo th, #mediaContainer th {padding-left: 5px; text-align: left}
#commentInfo th {padding: 2px 0 2px 5px; border-top: none}
#commentInfo td:first-child, #commentInfo td:last-child, .commentDate {width: 1%; white-space: nowrap}
#mediaContainer td {padding: 20px 15px; text-align: center}
#mediaContainer video {width: auto; max-width: calc(100% - 20px)}
.newTab {margin: 1px 4px -2px; float: right}
#commentInfo textarea {width: 100%}
.commentRating img {max-height: 12px}
#newRating td:first-child {padding: 8px 5px; text-align: center}
#showRatings td {padding: 8px 5px; border-top: var(--border)}
#showRatings td:first-child {text-align: right; font-weight: 700}
.commentWrapper {margin: 6px; padding: 9px 10px 10px; box-shadow: 0 0 0 1px #ccc, inset 0 0 0 1px #f2f2f2; background: #ddd}
.commentText .commentWrapper {margin: 5px 0}
.commentAuthor {padding: 8px 5px}
.commentAuthorName {padding-left: 21px; display: inline-block; vertical-align: middle; white-space: nowrap; line-height: 23px; font-weight: 700; background: var(--user) no-repeat 4px center; background-size: 14px}
.commentAuthor .commentAuthorName {width: calc(100% - 20px); overflow: hidden; text-overflow: ellipsis; border-radius: 1px; box-shadow: inset 0 0 0 1px #bbb; background: #fff var(--user) no-repeat 4px center; background-size: 14px}
#nameRequired .commentAuthorName {float: right; margin: 4px 8px 0 0}
#torrentSort {text-align: right}
#torrentSort img {margin-right: 7px}
#newRating td:first-child, .commentAuthor {width: 200px}

/* tooltip */
#bwHelp {visibility: hidden; background: #fff url(/i2psnark/.resources/icons/favicon.svg) no-repeat 10px center / 28px; text-align: center; padding: 15px 15px 15px 55px; border-radius: 3px; width: 320px; position: absolute; z-index: 2000; bottom: 125%; left: 0; margin-left: -183px; display: block; white-space: normal; font-size: 10pt; filter: drop-shadow(0 0 1px #999); opacity: 0}
#bwhelp::after {content: ""; position: absolute; top: 100%; left: 50%; margin-left: -10px; border-width: 10px; border-style: solid; border-color: #fff transparent transparent transparent}
#bwHoverHelp img {margin-right: 5px; width: 16px; height: 16px; filter: saturate(0) opacity(.5)}
#bwHoverHelp:hover img {filter: none}
#bwHoverHelp:hover #bwHelp, #bwHoverHelp:active #bwHelp {visibility: visible; text-align: center; color: #333; opacity: 1; transition: ease opacity .3s}
#bwHoverHelp {display: inline-block; position: relative}
#bwHoverHelp:hover + #bwHelp {padding: 20px; width: 100%; display: block; float: left; position: fixed; top: 48px; left: 0; z-index: 9999; white-space: nowrap; font-size: 12pt; border-bottom: 5px solid #212; border-top: 5px solid #212; box-shadow: 0 1px 3px #101; text-align: center; background: #313}

.choked .left, .choked .right, .idle .left, .idle .right {display: none; text-align: center; font-size: 0}
.choked, .idle, .unchoked {width: 48px}
.idle::after, .choked::after {margin: 0 20px; width: 8px; height: 8px; display: inline-block; border-radius: 50%; background: #373; content: ""}
.choked::after {background: #900}
.torrentUploaded .left {min-width: 12px}
#torrents .torrentETA, #torrents .RateDown, #torrents .RateUp {padding: 2px 8px; min-width: 80px; text-align: center; font-weight: 700}
.RateDown .left, .RateUp .left, .torrentUploaded .left, .RateDown .right, .RateUp .right, .torrentUploaded .right {min-width: 22px; display: inline-block; text-align: left}
.RateDown .right, .RateUp .right, .torrentUploaded .right {min-width: 40px; text-align: right}
.torrentUploaded .left {min-width: 12px}
tr:not(.peerinfo) .torrentUploaded:empty::after {content: "‒"; display: inline; font-size: 9pt}
.RateDown, .RateUp, .torrentUploaded {text-align: center}
.clientversion {display: none}
.peerclient, .peerclient tt, .clientid {line-height: 1.4; vertical-align: middle}
.peerclient {padding-right: 0; width: 92px}
.peerclient tt {margin: 0 3px 0 1px}
.clientid {margin: 0 0 1px -2px; padding: 1px 2px; width: 50px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; text-align: center; font-size: 90%; background: #ddd}
.peerdata > * {vertical-align: middle}

/* filter bar */
#torrentDisplay {margin-bottom: -1px; border: var(--border)}
#torrentDisplay label {margin: 0; padding: 2px 12px; display: inline-block; min-width: 84px; line-height: 1.6; font-weight: 700; color: #777; border-left: var(--border); box-shadow: var(--highlight); background: var(--btn)}
#torrentDisplay label:last-child {border-right: var(--border)}
#torrentDisplay label:hover {color: var(--a); cursor: pointer}
#torrentDisplay input {width: 0; height: 0; position: absolute; opacity: 0; z-index: -1}
#torrentDisplay input:checked + label, #torrentDisplay input:checked + label:active {color: var(--ink); text-shadow: 0 1px 1px #fff; box-shadow: var(--btn_shadow_active); background: linear-gradient(180deg,#ddd,#fff); cursor: default}

/* comment indicator */
.snarkFiletype {position: relative; vertical-align: middle}
.snarkCommented {display: inline-block; position: absolute; top: -3px; right: 0; z-index: 20; line-height: 0; font-size: 0}
.snarkCommented img {padding: 0; height: 9px; width: auto}

#snarkInfo ~ .mainsection, #snarkInfo + #editSection {margin: -1px 0 -6px; border: var(--border)}
#snarkInfo ~ .mainsection table {border: none}
#snarkInfo ~ .mainsection input:checked + .toggleview + hr + table {margin-top: -7px; margin-bottom: 0}
.iframed #snarkInfo ~ #snarkFiles {margin-bottom: -9px}
#snarkInfo ~ #editSection #torrentEdit {margin: -7px 0 5px; width: 100%}
#torrentEdit tr:first-child td {padding-top: 12px}
#torrentEdit th, #torrentEdit td {text-align: center; width: 25%}
#torrentEdit tbody th:first-child, #torrentEdit tbody td:first-child:not(#addCommentText) {padding-left: 20px; width: 20%; text-align: left}
#torrentEdit th:nth-child(2), #torrentEdit td:nth-child(2) {width: 30%; text-align: left}
#torrentEdit tfoot td, #torrentEdit tfoot tr:hover td {padding-bottom: 12px; text-align: center; border-top: var(--border); background: var(--th)}
#stopfirst {display: inline-block; font-weight: 700}
#stopfirst::before {margin-top: -2px; width: 15px; height: 12px; display: inline-block; vertical-align: middle; background: url(images/details.svg) no-repeat left center / 12px; content: ""; filter: saturate(0)}
#snarkInfo ~ #snarkFiles input:not(:checked) + #tab_files, #snarkInfo ~ #commentSection input:not(:checked) + .toggleview {margin-bottom: -7px}
#snarkInfo ~ #snarkFiles input:checked + #tab_files {margin-bottom: -8px}
#snarkInfo ~ #commentSection {margin: 7px 0 1px}
body:not(.iframed) #snarkInfo ~ #commentSection {margin-top: -7px}
#commentSection table:last-child {margin-bottom: 0}
.snarkFilename .targetfile, .snarkFilename:hover .tags, .snarkFileName a:empty {display: none}
.snarkFilename:hover .targetfile {display: inline-block}
#completion {position: relative}
#metainfo {padding: 4px 8px 4px 4px; line-height: 1.5; white-space: nowrap; border: 1px solid #aaa; box-shadow: var(--highlight); background: #ffe}
#completion:not(:hover) #metainfo {display: none}
#completion:hover #metainfo {display: inline-block; position: absolute; top: 24px; left: -120px}

/* table sort indicators */
.sortIcon {position: relative; display: inline-block}
.sortIcon:hover .ascending, .sortIcon:hover .descending {transform: rotate(180deg); transition: linear transform .1s}
.ascending, .descending {display: inline-block; position: absolute; top: -2px; right: -8px; border-width: 4px; border-style: solid; border-color: transparent transparent #999 transparent}
.descending {top: 2px; border-color: #999 transparent transparent transparent}
.sortIcon:hover .ascending {top: 2px; border-color: transparent transparent #d30 transparent}
.sortIcon:hover .descending {top: -2px; border-color: #d30 transparent transparent transparent}
#torrentSort .ascending, th#torrentSort .descending {right: -14px}
.ascending, .descending {filter: opacity(0); animation: ease fade-in .2s .6s forwards}

/* configure */
#embed, #fullscreen {float: right}
.iframed #embed, #fullscreen {display: none}
.iframed #fullscreen {display: inline-block}
.configOption::after {min-height: 34px; display: inline-block; vertical-align: middle; content: ""}
.configOption b::after {margin-right: 5px; display: inline-block; font-weight: 700; content: ":"}
.configOption b {padding: 5px 5px 5px 8px; min-width: 200px; display: inline-block; border-radius: 3px; background: linear-gradient(90deg, #dfdbdb, rgba(0,0,0,0) 101%)}
.configOption label:hover {color: #222}
.configOption {margin-top: 3px; margin-bottom: 3px; display: inline-block}
.configOption > * {vertical-align: middle}
#bwHoverHelp img {height: 16px; width: 16px; margin: 0 4px; vertical-align: text-top}
#snarkLang {margin-right: 4px; padding: 4px 8px; font-weight: 700; border-radius: 1px; background: #ddd}
#addtracker td {padding-top: 10px; padding-bottom: 8px; border-top: var(--border); background: #fff}
#configs a[href^="/config"] {font-size: 0}
#configs a[href^="/config"]::after {width: 16px; height: 16px; display: inline-block; vertical-align: middle; background: var(--config) no-repeat center center / 16px; content: ""}
#configs .accept {margin-right: 0}
#configs input {margin-left: 0}
#configs .optionList {margin: 4px 8px}
#configs .spacer {display: none}
#configs .suboption a {margin-top: 2px; font-size: 80%; vertical-align: middle; letter-spacing: 0; text-transform: none}
#configs .suboption::before {width: 22px; height: 16px; display: inline-block; vertical-align: middle; background: url(/i2psnark/.resources/icons/nopeers.svg) no-repeat left center / auto 16px; opacity: .8; content: ""}
#configs .suboption {padding: 5px 6px; text-align: left; letter-spacing: 0.1em; text-transform: uppercase; font-size: 110%; border: var(--border); background: var(--th)}
#configs td:first-child {padding-right: 10px; text-align: left}
#configs, .trackerconfig {margin: 10px 10px 0; width: 80%; width: calc(100% - 20px)}
#configs tr:nth-last-child(2) td {padding: 8px 0 11px; border-top: var(--border)}
input[name="i2cpOpts"], input[name="nofilter_dataDir"] {width: calc(100% - 220px)}
#trackers td {padding: 6px 4px 4px; border-top: var(--border)}
.knownTracker:hover td {background: #ccc}
.knownTracker input[disabled] {opacity: .5}
.knownTracker + .spacer, #addtracker ~ .spacer, .knownTracker + .spacer td, #addtracker ~ .spacer td {display: none}
.knownTracker + .spacer td, #addtracker + .spacer td {padding: 4px 0; font-size: 0; border-bottom: var(--border)}
#trackers .knownTracker td {min-width: 100px}
#trackers .knownTracker td, #trackers #addtracker td, #trackers .trackerconfig td[colspan="7"] {border-bottom: none}
#trackers #addtracker td {padding-top: 10px; padding-bottom: 10px}
.optionlist {columns: 2 600px}
.page form + form {margin-top: -5px}
.snarkConfig .configTitle, .toggleview a {color: #777}
.snarkConfig .configTitle, .toggleview {background: radial-gradient(circle at top, #fff 70%, #ddd)}
.tab_label, .configTitle, .configTitle a {font-size: 11pt}
#tab_torrentedit {margin: -1px -1px -2px}
.toggleview, .configTitle {margin: -1px; padding: 8px 5px; display: block; text-transform: uppercase; font-weight: 700; border: var(--border); display: block; transition: ease box-shadow .3s}
.trackerConfig .add {margin-right: 0}
.trackerconfig .add {margin-right: -3px}
.trackerConfig a {max-width: 220px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.trackerconfig .default {display: none}
.trackerConfig .delete {margin-left: 0}
.trackerconfig .delete, .trackerconfig .reload {margin: 7px 12px 6px -3px; float: left}
.trackerconfig input[type=submit] {margin-top: 7px; margin-bottom: 6px}
.trackerConfig {margin-top: 11px}
.trackerconfig th {border-bottom: none}
.trackerconfig th:first-child {background: var(--nuke) no-repeat center center / 14px, var(--th)}
.trackerconfig th:first-child, .knownTracker td:first-child, #addtracker td:first-child {border-left: var(--border)}
.trackerConfig th {font-size: 9pt; border-bottom: none}
.trackerconfig th:last-child, .knownTracker td:last-child, #addtracker td:last-child {border-right: var(--border)}
.trackerConfig th:nth-child(2), .trackerConfig th:nth-child(3) {text-align: left}
.trackerconfig th:last-child {text-align: left}
.trackerconfig td:first-child {text-align: right}
.trackerconfig td:nth-child(4), .trackerconfig td:nth-child(5), .trackerconfig td:nth-child(6), .knownTracker td:first-child {text-align: center}
.trackerHome, .trackerAnnounce {width: 220px}
.trackerName {width: 140px}

@keyframes disappear {from {visibility: visible} to {visibility: collapse}}
@keyframes progress {from {background-position: 0} to {background-position: -12px}}
@keyframes fade-in {0% {filter: opacity(0)} 100% {filter: opacity(1)}}
@keyframes active {from {background: linear-gradient(270deg, #f3c 3px, rgba(0,0,0,0) 3px)} to {background: linear-gradient(270deg, #cb4dcb 3px, rgba(0,0,0,0) 3px)}}
@keyframes downloading {from {background: var(--td_dl)} to {background: linear-gradient(270deg, #7f7 3px, rgba(0,0,0,0) 3px)}}

@supports (-moz-user-select: all) {#torrentSort img {margin-right: -3px} #configSection, #addSection, #createSection {margin-top: -1px}}

@media screen and (max-width: 1499px) {
th img {max-height: 20px}
td.graphicStatus {background-size: 24px auto}
#torrents .infohash {width: 60px}
.snarkCommented {top: -1px; right: 1px}
.peerclient {width: 90px}
#screenlog li::before {margin-top: -1px}
}

@media screen and (max-width: 1200px) {
#torrents .infohash {width: 64px}
.magnetLabel {padding-left: 12px; max-width: 250px; background-size: 11px}
#screenlog {font-size: 8.5pt}
}

@media screen and (max-width: 1100px) {
.knownTracker td {min-width: 60px}
.trackername, .trackerHome, .trackerAnnounce, .trackerConfig a {max-width: 120px}
}

@media screen and (max-width: 1000px) {
#addSection input[type=text], #createSection input[type=text] {min-width: 0}
input.add, input.create {min-width: 90px}
#trackerselect {width: 500px}
input[name="i2cpOpts"], input[name="nofilter_dataDir"] {width: 436px}
.torrentAction {padding-left: 4px; padding-right: 3px}
.trackerLink {padding-left: 10px}
.torrentName {padding-right: 3px}
.torrentDownloaded {padding-left: 9px; padding-right: 9px}
.torrentETA, .RateUp, .torrentUploaded, .RateDown {padding-right: 8px; padding-left: 8px}
#torrents th:nth-child(n+4) {text-align: center}
tr:hover td.trackerLink, tr:hover td.torrentDetails, tr:hover td.torrentName, tr:hover td.torrentDownloaded, tr:hover td.RateDown, tr:hover td.torrentAction {background: none}
}

@media screen and (max-width: 900px) {
.torrentETA, .torrentUploaded, .RateUp {display: none}
.torrentName {max-width: 250px; white-space: nowrap; word-break: break-all; overflow: hidden; text-overflow: ellipsis}
#torrentDisplay {display: flex}
#torrentDisplay label {min-width: 0; flex-grow: 1}
#torrentDisplay label[for="all"] {border-left: none}
#torrentDisplay label:last-child {border-right: none}
}

@media screen and (min-width: 1500px) {
body, td, th:not(.suboption), span, table a, input[type=submit], input[type=text], textarea {font-size: 9.5pt}
td.graphicStatus img {width: 26px; height: 26px}
.torrentETA:not(:empty), .RateUp:not(:empty), .RateDown:not(:empty), .torrentUploaded:not(:empty) {min-width: 50px}
td.torrentDetails img:not([src$="rateme.svg"]), .dirInfo td:first-child img:not(.thumb) {width: 23px; height: 23px}
.snarkCommented img {width: 11px; height: 11px}
.torrentDownloaded, .torrentUploaded, .RateDown, .RateUp {min-width: 76px}
.trackerhome, .trackerannounce, .knownTracker a {width: 400px; max-width: 400px}
#torrents td:empty, #torrents th:empty {padding: 5px; width: 0; min-width: 0; font-size: 0}
.torrentInfo img {max-height: 18px}
.torrentInfo img, .torrentInfo th:first-child img, #torrentinfostats img, #trackers img {margin: 0 6px; max-height: 18px}
.torrentInfo th a img {margin: 0 0 0 4px}
#torrentInfoStats .nowrap {margin-right: 6px}
.torrentAction input {padding: 11px}
#actionStopAll, #actionStartAll {padding: 11px 18px}
#snarkInfo ~ #commentSection input:not(:checked) + .toggleview {margin-bottom: -8px}
}

@media (forced-colors: active) {* {forced-color-adjust: none}}